<div class="close" bind="searchClose">
  <img src="/static/images4/cancel.png" alt="X" />
</div>
<ul class="panel-header">
  <li class="open">
    <a bind="searchHeader"> {{ $l("search") }} </a>
  </li>
</ul>
<div class="searchbox-container" bind="searchBoxContainer">
  <form bind="searchForm">
    <button class="search-button" bind="searchButton">{{ $l("go") }}</button>
    <div>
      <input
        type="text"
        bind="search"
        placeholder="{{ $l('search...') }}"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        class="search-box"
      />
    </div>
  </form>
  <img src="/static/images4/search.png" class="search" />
  <img src="/static/images4/search_clear.png" class="cancel" bind="searchCancel" />
</div>

<div bind="searchResultsContainer" class="search-results-container">
  <div bind="searchResults" class="search-results"></div>
</div>
