body.simple div.timeline-sizer {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

body.simple.normal div.timeline {
  div.song {
    height: $simple-art-size;

    div.art-anchor {
      width: $simple-art-size;
      height: $simple-art-size;
    }

    div.art-container {
      width: $simple-art-size;
      height: $simple-art-size;

      &.art-expandable:hover {
        width: $simple-art-hover-size;
        height: $simple-art-hover-size;
      }
    }

    &.now-playing {
      height: $simple-np-size;

      div.art-anchor {
        width: $simple-np-size;
        height: $simple-np-size;
      }

      div.art-container {
        width: $simple-np-size;
        height: $simple-np-size;

        &.art-expandable:hover {
          width: $simple-np-size * 1.2;
          height: $simple-np-size * 1.2;
        }
      }
    }
  }
}

div.timeline {
  div.song {
    div.art-anchor {
      width: $art-size;
      height: $art-size;
    }

    div.art-container {
      width: $art-size;
      height: $art-size;

      &.art-expandable:hover {
        width: $art-size * 1.15;
        height: $art-size * 1.15;
      }
    }

    &.now-playing {
      height: $art-size + 20;

      div.art-anchor {
        width: $art-size + 20;
        height: $art-size + 20;
      }

      div.art-container {
        width: $art-size + 20;
        height: $art-size + 20;

        &.art-expandable:hover {
          width: $art-size + 20 * 1.15;
          height: $art-size + 20 * 1.15;
        }
      }
    }
  }
}

body.simple {
  div.panel.detail,
  div.search-panel {
    div.artists,
    div.rating-clear,
    div.rating-site {
      display: none;
    }
  }

  div.search-panel {
    div.cool-info,
    div.length {
      display: none;
    }

    div.album-name {
      width: 130px;
    }
  }
}

body.full {
  div.panel {
    position: absolute;
    z-index: 100;
    background: $panel-bkg;
    top: 0;
    overflow: hidden;
    border-left: solid 1px $panel-b;

    &.lists,
    &.detail {
      transform: none !important;
      transform: translate3d(0, 0, 0) !important;
    }

    div.close {
      display: none;
    }
  }

  li.requests-link,
  li.playlist-link {
    display: none !important;
  }

  div.panel.detail,
  div.search-panel {
    ul.panel-header li {
      color: $pwrmode-tab;
      border-bottom: 2px solid $pwrmode-tab-b;
    }

    div.artists {
      width: 25%;
    }

    div.full-artists {
      display: none;

      &.multi-artist {
        display: block;
      }
    }
  }

  div.search-panel {
    div.album-name {
      width: 30%;
    }
  }
}

@media (width >= 1024px) and (width <= 1279px) {
  body.full {
    font-size: smaller;

    &.nofontsize {
      font-size: inherit;
    }

    div.panel.lists {
      width: 25%;
    }

    div.panel.detail,
    div.search-panel {
      width: 37%;

      div.artists,
      div.rating-clear,
      div.rating-site {
        display: none;
      }

      div.full-artists {
        display: block;
      }
    }

    div.search-panel {
      div.cool-info,
      div.length {
        display: none;
      }
    }
  }
}

@media (width >= 1280px) and (width <= 1430px) {
  body.full {
    font-size: smaller;

    &.nofontsize {
      font-size: inherit;
    }

    div.panel.lists {
      width: 25%;
    }

    div.panel.detail,
    div.search-panel {
      width: 37%;

      div.artists,
      div.rating-clear,
      div.rating-site {
        display: none;
      }

      div.full-artists {
        display: block;
      }
    }

    div.search-panel {
      div.cool-info,
      div.length {
        display: none;
      }
    }
  }
}

@media (width >= 1431px) and (width <= 1599px) {
  body.full {
    font-size: smaller;

    &.nofontsize {
      font-size: inherit;
    }

    div.panel.lists {
      width: 25%;
    }

    div.panel.detail,
    div.search-panel {
      width: 42%;
    }
  }
}

@media (width >= 1600px) and (width <= 1799px) {
  body.full {
    div.panel.lists {
      width: 25%;
    }

    div.panel.detail,
    div.search-panel {
      width: 40%;
    }
  }
}

@media (width >= 1800px) and (width <= 1909px) {
  body.full {
    div.panel.lists {
      width: 23%;
    }

    div.panel.detail,
    div.search-panel {
      width: 42%;
    }
  }
}

@media (width >= 1910px) and (width <= 2559px) {
  body.full {
    div.panel.lists {
      width: 20%;
    }

    div.panel.detail,
    div.search-panel {
      width: 45%;
    }
  }
}

@media (width >= 2560px) {
  body.full {
    div.panel.lists {
      width: 15%;
    }

    div.panel.detail,
    div.search-panel {
      width: 45%;
    }
  }
}
