<div class="timeline" bind="timeline">
  <div class="timeline_sizer" bind="timeline_sizer">
    <div class="history_header history_expandable unselectable" bind="history_header">
      <div bind="history_header_link">
        <span class="history_header_header"> {{ $l("previouslyplayed") }} </span>
        <svg class="history_pulldown_arrow" use="pulldown"></svg>
      </div>
    </div>
    <div bind="history_bar" class="progress history_bar">
      <div class="progress_bkg">
        <div bind="progress_history_inside" class="progress_inside"></div>
      </div>
    </div>
  </div>
</div>
