<div class="timeline" bind="timeline">
  <div class="timeline-sizer" bind="timelineSizer">
    <div class="history-header history-expandable unselectable" bind="historyHeader">
      <div bind="historyHeaderLink">
        <span class="history-header-header"> {{ $l("previouslyplayed") }} </span>
        <svg class="history-pulldown-arrow" use="pulldown"></svg>
      </div>
    </div>
    <div bind="historyBar" class="progress history-bar">
      <div class="progress-bkg">
        <div bind="progressHistoryInside" class="progress-inside"></div>
      </div>
    </div>
  </div>
</div>
