[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
bcrypt = "*"
black = "*"
calmjs = "*"
ipython = "~=8.24.0"
libsass = "*"
mutagen = "==1.47.0"
Pillow = "~=10.3.0"
psutil = "~=5.9.8"
psycopg2-binary = "~=2.9.9"
pyinotify = "==0.9.6"
pylibmc = "~=1.6.3"
pylint = "~=3.1.0"
pyscss = "*"
pytz = "*"
pyzmq = "~=26.0.2"
requests = "~=2.31.0"
rgain3 = "*"
sentry-sdk = "*"
tornado = "~=6.5.0"
ujson = "*"
Unidecode = "*"

[dev-packages]

[requires]
python_version = "3.11"
