[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==19.10b0"
ipython = "~=7.31.1"
mutagen = "==1.43.0"
Pillow = "~=9.0.0"
psutil = "~=5.6.7"
psycopg2-binary = "~=2.8.4"
pyinotify = "==0.9.6"
pylint = "~=2.4.4"
pylibmc = "~=1.6.1"
pytz = "*"
pyzmq = "~=18.1.1"
requests = "~=2.22.0"
rgain3 = "*"
libsass = "*"
calmjs = "*"
tornado = "~=6.1.0"
ujson = "*"
Unidecode = "*"
pyscss = "*"
aiohttp = "*"
bcrypt = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.7"
