<div bind="root" class="song">
  <if condition="request_id">
    <div class="request-cancel" bind="cancel">
      <span class="request-cancel-x">x</span>
    </div>
  </if>

  <if condition="^context.entry_id">
    <div class="song-highlight song-highlight-left"></div>
    <div class="song-highlight song-highlight-right"></div>
    <div class="song-highlight song-highlight-topleft"></div>
    <div class="song-highlight song-highlight-topright"></div>
    <div class="song-highlight song-highlight-bottomleft"></div>
    <div class="song-highlight song-highlight-bottomright"></div>
  </if>

  <if condition="^context.entry_id && !MOBILE && Sizing.simple">
    <div class="vote-button">
      <span class="vote-button-rotate" bind="voteButtonText">{{ $l("vote") }}</span>
    </div>
  </if>

  <div class="art-anchor">
    <if condition="request_id">
      <div class="request-sort-grab" bind="requestDrag">
        <img src="/static/images4/sort.svg" />
      </div>
    </if>
    <div bind="art" class="art-container">
      <if condition="^context._is_timeline && User.sid === 5">
        <div
          class="power-only song-station-indicator song-station-indicator-{{ origin_sid }}"
        ></div>
      </if>

      <if condition="elec_request_user_id">
        <if condition="^context.elec_request_user_id == User.id">
          <div class="requester your-request">
            <if condition="^!MOBILE">
              <a href="#!/listener/{{ elec_request_user_id }}"> {{ elec_request_username }} </a>
            </if>
            <else> {{ elec_request_username }} </else>
          </div>
          <div class="request-indicator your-request">
            {{ $l("timeline_art__your_request_indicator") }}
          </div>
        </if>
        <else>
          <div class="requester">
            <if condition="^!MOBILE">
              <a href="#!/listener/{{ elec_request_user_id }}"> {{ elec_request_username }} </a>
            </if>
            <else> {{ elec_request_username }} </else>
          </div>
          <div class="request-indicator">{{ $l("timeline_art__request_indicator") }}</div>
        </else>
      </if>
    </div>
  </div>

  <div class="song-content">
    <template use="rating" />

    <if condition="^context.entry_id">
      <div class="entry-votes">
        <span bind="votes"></span>
      </div>
    </if>

    <template use="fave" />
    <div bind="title" class="title" title="{{ title }}">{{ title }}</div>

    <!-- TODO: <with> tag not yet implemented in v2 -->
    <!--
		{{#with albums[0] }}
			<if condition="^!Sizing.simple">
				<template use="rating_album" />
			</if>

			<template use="fave" />
			<div bind="title" class="album" title="{{ name }}">
				<a href="#!/album/{{ id }}">{{ name }}</a>
			</div>
		</with>
		-->

    <if condition="request_id">
      <div class="cooldown-info" bind="cooldown"></div>
    </if>
    <else>
      <div class="artist">
        <for each="artists" bind="artists">
          <a href="#!/artist/{{ id }}"> {{ name }} </a>
          <span>,</span>
        </for>
      </div>

      <if condition="url">
        <div class="song-link-container">
          <a class="song-link" href="{{ url }}" target="_blank"> {{ link_text }} </a>
        </div>
      </if>
    </else>
  </div>
</div>
