<div bind="el" class="timeline_event timeline_{{ type }}">
  <div class="timeline_event_animator">
    <div class="timeline_header" bind="header_container">
      <span class="timeline_header_clock" bind="clock"></span>
      <if condition="url">
        <a class="header_text" href="{{ url }}" target="_blank" bind="header"></a>
      </if>
      <else>
        <span class="header_text" bind="header"></span>
      </else>
    </div>

    <div bind="progress" class="progress">
      <div class="progress_bkg">
        <div bind="progress_inside" class="progress_inside"></div>
      </div>
    </div>

    <for each="songs">
      <template use="song" />
    </for>
  </div>
</div>
