@use "sass:string";

$menu-icon-only-media: string.unquote("max-width: 650px");

div.header {
  transform: translate3d(0, 0, 0);
  position: relative;
  background: $menu-pad-bkg;
  height: $menu-height;
  z-index: 2;

  @media ($phone-media) {
    height: $phone-menu-height;
  }
}

div.menu-wrapper {
  position: relative;
  color: $menu;
  background: $menu-bkg;
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  height: $menu-height;

  body.full & {
    width: 100%;
    margin: 0;
  }

  @media ($phone-media) {
    height: $phone-menu-height;
  }

  svg {
    display: inline-block;
    height: 20px;
    width: 20px;
    transform: translateZ(0);

    &,
    * {
      fill: $menu;

      // @include transition-wtime(150ms, fill);
    }

    @media ($menu-icon-only-media) {
      height: 25px;
      width: 25px;
    }
  }

  img.menu-icon {
    height: 15px;
    width: 15px;

    @include transform(translateY(4px));
  }
}

/* ICONS AND LINKS */

ul.menu {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  z-index: 1;

  @include transform(translateY(-50%));

  background: $menu-bkg;

  svg,
  img.menu-icon {
    display: none;
  }

  svg {
    @include transform(translateY(2px));
  }

  li.search-link img {
    @include transform(translateY(1px));
  }

  &.main-menu {
    z-index: 2;

    @media ($menu-icon-only-media) {
      span {
        display: none;
      }

      svg,
      img.menu-icon {
        display: block;
      }

      img.menu-icon {
        position: relative;
        top: -2px;
        height: 20px;
        width: 20px;
      }
    }

    @media ($phone-media) {
      top: 0;
      height: $phone-menu-height;

      @include transform(none);

      li a {
        box-sizing: border-box;
        height: $phone-menu-height;
        padding: 8px 10px;
      }

      li.search-link img {
        top: 2px;

        @include transform(none);
      }
    }

    @media (width <= 370px) {
      li.search-link {
        display: none;
      }
    }
  }

  &.hamburger-container {
    margin-right: 10px;
    margin-left: 5px;

    @media ($phone-media) {
      display: none;

      // margin-right: 0;
      // margin-left: 0;
      // margin-top: 1px;
    }
  }

  li {
    margin: 0 2px;
    padding: 0;
    position: relative;
    display: inline;

    a {
      padding: 4px 12px;
      display: inline-block;
    }

    &.user-info {
      box-sizing: border-box;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 20px;
      max-width: 150px;

      img.avatar {
        position: absolute;
        top: 0;
        left: 100%;
        max-height: 20px;
        max-width: 20px;
        padding-right: 5px;

        @include transform(translateX(-100%));
      }

      @media ($phone-media) {
        max-width: 70px;
        padding: 0;
        margin: 0;

        a {
          padding: 4px 10px;

          span {
            display: none;
          }
        }

        img.avatar {
          position: relative;
          float: none;
          max-height: 25px;
          max-width: 25px;
        }
      }
    }

    body.playlist &.playlist-link a,
    body.search-open &.search-link a {
      background: $menu-link-open;
    }

    &.requests-link {
      display: none;

      body.logged-in & {
        display: inline;
      }

      a {
        &.paused {
          background: $requests-paused;
        }

        &.warning {
          background: $error-bkg;
        }

        body.requests & {
          background: $menu-link-open;
        }

        body.requests &.paused {
          background: $requests-paused;
        }

        body.requests &.warning {
          background: $error-bkg;
        }
      }
    }
  }

  li.signup-link {
    display: none;
  }
}

.menu-dropdown {
  position: absolute;
  z-index: 0;
  top: 10px;
  min-width: 100%;
  background: $menu-bkg;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
  padding-bottom: 10px;

  @include transform(translateY(-$menu-height + 10));
  @include transition-wtime(300ms, opacity, transform, visibility);

  a,
  ul.menu li & a {
    white-space: nowrap;
    display: block;
    background: $menu-bkg;
    z-index: 1;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    &,
    ul.menu li & {
      padding: 8px 20px 8px 5px;
    }
  }

  *:hover > &.menu-hover-dropdown {
    @include transform(none);

    opacity: 1;
    visibility: visible;
  }

  &.hamburgered {
    min-width: 200px;
    text-align: right;
    margin-left: 45px;

    @include transform(translateX(-100%) translateY(-$menu-height + 10));

    .burger-open & {
      opacity: 1;
      visibility: visible;

      @include transform(translateX(-100%));
    }
  }

  div.menu-group {
    position: relative;
    border-top: 1px solid $submenu-separator;
    z-index: 1;
  }
}

div.hamburger-icon {
  padding-left: 8px !important;
  padding-right: 8px !important;
  position: relative;
  display: inline-block;
  height: 8px;
  width: 0;
  border-top: 2px solid $menu;
  border-bottom: 2px solid $menu;
  background: $menu-bkg;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    border-top: 2px solid $menu;
    background: $menu-bkg;
  }

  body.desktop li.hamburger-icon-li:hover & {
    border-color: $link-h;

    &::before {
      border-color: $link-h;
    }
  }
}

div.m3u a {
  border-bottom: solid 1px $submenu-separator;

  &:last-child {
    border-bottom: none;
  }
}
