@use '../../theme' as theme;

#header {
  background: theme.$menu-pad-bkg;
  height: theme.$menu-height;
  width: 100%;
  padding: 0;

  @media (theme.$phone-media) {
    height: theme.$phone-menu-height;
  }
}

#menu {
  background: theme.$blue;
  width: 1024px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  gap: 10px;

  .power & {
    width: 100%;
    margin: 0;
  }
}

#menu-right {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  container-type: inline-size;
  container-name: menu-right;
  padding-right: 10px;
}

.menu-right-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  height: 1.8em;
  padding: 0 10px;

  svg {
    height: 1em;
  }

  &.open {
    background: theme.$menu-link-open;
  }
}

@container menu-right (max-width: 500px) {
  .menu-right-text {
    display: none;
  }
}

#requests-link {
  &.paused {
    background: theme.$requests-paused;
  }

  &.warning {
    background: theme.$error-bkg;
  }
}
