<div class="header unselectable" bind="header">
  <div class="menu-wrapper" bind="menu_wrapper">
    <ul class="menu hamburger-container" bind="hamburger_container">
      <li class="hamburger-icon-li">
        <template use="hamburgerMenu" />
        <a class="link" bind="burger_button">
          <div class="hamburger-icon"></div>
        </a>
      </li>
    </ul>

    <ul class="menu user-status">
      <if condition="^User.id > 1">
        <li bind="user_link" class="user-info">
          <a href="#!/listener/{{ ^User.id }}">
            <span>{{ ^User.name }}</span>
            <img class="avatar" src="{{ ^User.avatar }}" />
          </a>
        </li>
      </if>
      <else>
        <li class="login-link">
          <a bind="login" class="link" href="/oauth/login"> {{ $l("login") }} </a>
        </li>

        <li class="signup-link">
          <a href="/oauth/discord"> {{ $l("signup") }} </a>
        </li>
      </else>
    </ul>

    <ul class="menu main-menu" bind="main_menu_ul">
      <li class="requests-link">
        <div bind="request_indicator" class="plusminus"></div>
        <a bind="request_link">
          <svg class="menu-icon menu-icon-requests" use="requests"></svg>
          <span bind="request_link_text">{{ $l("Requests")}}</span>
        </a>
      </li>

      <li class="playlist-link">
        <a bind="playlist_link">
          <svg class="menu-icon menu-icon-library" use="library"></svg>
          <span>{{ $l("library") }}</span>
        </a>
      </li>

      <li class="search-link">
        <a bind="search_link">
          <img class="menu-icon menu-icon-search" src="/static/images4/search.png" />
          <span>{{ $l("search") }}</span>
        </a>
      </li>
    </ul>

    <div id="station-select" bind="station_select" class="closed">
      <svg bind="pulldown" class="pulldown-arrow" use="pulldown"></svg>
      <a id="station-select-header" bind="station_select_header" class="station">
        <div class="station-details">
          <div class="station-name">{{ $l("station_select_header") }}</div>
        </div>
      </a>
      <for each="stations" bind="stations">
        <a bind="menu_link" class="station">
          <if condition="^context.id != User.sid && !MOBILE">
            <div bind="menu_np" class="station-song-container">
              <div bind="menu_np_art" class="ss-art"></div>
              <div bind="menu_np_song" class="ss-title"></div>
              <div bind="menu_np_album" class="ss-album"></div>
            </div>
          </if>
          <div class="station-details">
            <div class="station-name">{{ name }}</div>
            <div class="station-description">
              {{ $l("station_menu_description_id_" + context.id) }}
            </div>
          </div>
        </a>
      </for>
    </div>

    <div id="r4-audio-player" bind="player" class="unselectable">
      <div class="load-indicator"></div>
      <div class="tuned-in-indicator"></div>
      <div class="m3u menu-dropdown menu-hover-dropdown pconly">
        <a bind="play2" class="link"> {{ $l("listen_via_browser") }} </a>
        <a href="/tune_in/{{ ^User.sid }}.mp3.m3u" target="_blank"> {{ $l("listen_via_mp3") }} </a>
        <a href="/tune_in/{{ ^User.sid }}.ogg.m3u" target="_blank"> {{ $l("listen_via_ogg") }} </a>
      </div>
      <div class="background">
        <svg bind="play" class="audio-icon audio-icon-play" use="play"></svg>
        <svg bind="stop" class="audio-icon audio-icon-stop pconly" use="stop"></svg>
        <svg bind="mute" class="audio-icon audio-icon-mute pconly" use="mute"></svg>
      </div>
    </div>
  </div>
</div>
