body {
	background: [% background %];
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Sans-Serif;
	font-size: 0.8em;
	overflow: hidden;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid #666666;
	max-width: 80%;
	padding: .2em;
}

p {
	padding: .2em;
}

a, a:visited, .link, .link2 {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
}

a img {
	border: none;
}

a:hover, .link:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

#fittextdiv {
	position: absolute;
	left: -1000px;
}

.hidden {
	display: none;
}

.right {
	text-align: right;
}

.displayblock {
	display: block;
}

td {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

svg {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
}

td div.textoverflow {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

fieldset {
	border: none;
}

#oggpixel {
	position: absolute;
	left: -50px;
	top: -50px;
}

.err_div, .err_div_ok {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: .2em;
	font-weight: bold;
	z-index: 10000;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.err_div {
	background: #DD0000;
	border: 1px solid #FF0000;
	
	background: -moz-linear-gradient(100% 100% 90deg, #660000, #DD0000);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DD0000), to(#660000));
}

.err_div_ok {
	background: #1ca8e2;
	border: 1px solid #43c8ff;
	
	background: -moz-linear-gradient(100% 100% 90deg, #1694c8, #1ca8e2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1ca8e2), to(#1694c8));
}

.err_button {
	cursor: pointer;
}

ul.tabs {
	border-bottom: 2px solid #244093;
	margin: 0;
	padding: 0px 0px 4px 0px;
}

ul.tabs li {
	border-bottom: none;
	display: inline;
	padding: 0px 7px 1px 7px;	
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	opacity: 0.8;
}

ul.tabs li.tab_focused {
	border-bottom: 3px solid #244093;
	opacity: 1.0;
}

ul.tabs li:hover {
	border-bottom: 3px solid #3c6dff;
	opacity: 1.0;
}

ul.tabs li+li {
	margin-left: 5px;
}

.EdiPanel {
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

.edi_border_vertical {
	width: 6px;
	margin-left: 3px;
	cursor: w-resize;
	cursor: ew-resize;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.edi_border_horizontal {
	height: 6px;
	margin-top: 3px;
	cursor: n-resize;
	cursor: ns-resize;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.edi_border_vertical:hover, .edi_border_horizontal:hover {
	background: #555555;
}

table.pref_table {
	border: 1px solid #233844;
	border-bottom: none;
	margin-top: 1em;
	background: -moz-linear-gradient(100% 100% 90deg, rgba(20, 32, 39, 0), #142027);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#142027), to(rgba(20,32,39,0)));
	min-width: 32em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table.pref_table + table.pref_table {
	margin-top: 2em;
}

table.pref_table th {
	text-align: left;
	text-decoration: underline;
	padding: .5em;
}

table.pref_table td {
	padding: .1em;
}

table.pref_table td.pref_label {
	padding-left: 1.5em;
	width: 18.5em;
}

div.pl_albumlistc {
	width: 23em;
	height: 100%;
	border-right: 2px solid #244093;
	float: left;
	padding: 0px;
	overflow: auto;
}

table.pl_albumlist {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	table-layout: fixed;
	width: 100%;
}

table.pl_albumlist td {
	padding: 0px 0px 0px .2em;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	background-color: transparent;
	cursor: pointer;
}

table.pl_albumlist tr.pl_available td.pl_al_name {
	background: url('images/albumlist_userrating.png') no-repeat;
	background-position: -200px;
}

table.pl_albumlist tr.pl_cooldown td.pl_al_name {
	background: url('images/albumlist_userrating_oa.png') no-repeat;
	background-position: -200px;
}

table.pl_albumlist tr:hover td, tr.pl_highlight td {
	border-bottom: 2px solid #335BCC;
}

table.pl_albumlist tr:hover td.pl_al_name{
	background-color: #333333;
	margin-left: 0px;
}

tr.pl_highlight td.pl_al_name {
	background-color: #333333 !important;
}

tr.pl_albumopen td.pl_al_name {
	background-color: #2e3257 !important;
}

td.pl_al_name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pl_fav_true, td.pl_fav_false {
	width: 10px;
	cursor: pointer;
	border-left: 3px solid black;
	border-right: 2px solid black;
}

table.pl_albumlist td.pl_al_number {
	text-align: right;
	padding-right: .2em;
	background-color: #1C3370;
	width: 3em;
}

tr.pl_cooldown td.pl_al_rating, tr.pl_cooldown td.pl_fav_false {
	background-color: #242E34 !important;
}

tr.pl_available td.pl_al_rating, tr.pl_available td.pl_fav_false {
	background-color: #1C3370 !important;
}

td.pl_al_rating {
	width: 1.8em;
	text-align: right;
}

td.pl_fav_true {
	background-color: #ffff66 !important;
}

div.pl_searchc {
	position: absolute;
	border: 1px solid #244093;
	background: #142027;
	padding: .2em;
}

svg.pl_ad_albumrating {
	margin-top: .5em;
	margin-right: 100px;
}

td.pl_ad_albumart_td, td.pl_ad_albumdetailtd {
	background: #142027 url('images/pl_ad_hdr_bkg.png') repeat-x;
	border-top: 2px solid black;
}

td.pl_ad_albumdetailtd {
	border-left: 2px solid black;
}

td.pl_ad_albumart_td {
	text-align: center;
	width: 130px;
	padding-right: 5px;
}

img.pl_ad_avatar {
	float: right;
	border: 2px solid black;
}

img.pl_ad_albumart {
	border: 2px solid black;
	margin-left: .5em;
	margin-top: -2em;
	max-height: 120px;
	max-width: 120px;
}

svg.pl_ad_ratinghisto {
	float: right;
	margin-top: 0.2em;
}

div.pl_ad_albumname {
	font-size: 1.4em;
	font-weight: bold;
	padding:  0.1em 0px .2em .2em;
}

img.pl_ad_albumname_station {
	float: right;
	margin-top: 3px;
}

.pl_ad_albumnametd {
	background: #142027 url('images/pl_ad_albumname_bkg.png') top right;
}

td.pl_ad_albumnametd .rating {
	float: right;
	margin-right: 150px;
	margin-top: 6px;
}

div.pl_ad_albumhdr {
	border-bottom: 2px solid #000000;
}

span.lang_pl_oncooldown {
	color: #8bedff;
}

span.lang_pl_ranks_rating, span.lang_pl_ranks_rank, span.lang_pl_wins_rank, span.lang_pl_requested_rank, span.lang_pl_wins_percent, span.lang_pl_requested_count {
	font-weight: bold;
}

div.pl_odholder {
	height: 100%;
}

div.pl_opendiv {
	overflow: auto;
}

table.pl_songlist {
	width: 100%;
	padding: .2em;
	table-layout: fixed;
}

table.pl_songlist td {
	padding-left: 2px;
	padding-top: 1px;
	border-bottom: 1px solid #3F667C;
}

div.pl_songlist_hdr {
	font-weight: bold;
	border-bottom: 1px solid #777;
	margin: 1em 0.5em 0 .5em;
}

tr.pl_songlist_tr_unavailable td {
	background: #111133;
}

table.pl_songlist tr:hover td {
	background: #3D484F;
	border-bottom: 1px solid #7D94A1;
}

td.pl_songlist_cooldown {
	width: 2.5em;
	text-align: right;
}

td.pl_songlist_r {
	width: 1.5em;
}

td.pl_songlist_u {
	width: 1.5em;
}

td.pl_songlist_album_name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 16em;
}

td.pl_songlist_rating {
	padding-right: 0px;
	padding-left: 4px !important;
}

td.pl_songlist_length {
	width: 3em;
	text-align: right;
}

td.pl_songlist_artists {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pl_songlist_title {
	min-width: 35%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pl_songlist_oneshot {
	width: 2em;
}

td.pl_albumart_td {
	width: 135px;
}

td.pl_ad_albumdetailtd {
	padding-left: 5px;
}

div.requestspanel_constrict {
	max-width: 60em;
}

div.requestlist_header, div.allrequests_header {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .5em;
	margin-top: .5em;
}

div.allrequests {
	float: left;
	overflow: auto;
}

ol.allrequests_list {
	margin-top: 0em;
}

div.requestlist {
	float: left;
	margin-right: 3em;
	width: 27em;
	margin-bottom: 2em;
}

div.request {
	width: 100%;
	max-width: 27em;
	position: absolute;
	cursor: ns-resize;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: .3em;
	
	border: 1px solid #233844;
	border-bottom: none;
	margin-top: 1em;
	background-image: -moz-linear-gradient(100% 100% 90deg, rgba(20, 32, 39, 0), #142027);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#142027), to(rgba(20,32,39,0)));
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.request_true {
	background-color: #111111;
}

div.request_false {
	background-color: #000044;
}

div.request_station_1 {
	background-image: url("../../images/menu_logo_1.png");
}

div.request_station_2 {
	background-image: url("../../images/menu_logo_2.png");
}

div.request_station_3 {
	background-image: url("../../images/menu_logo_3.png");
}

svg.request_songrating {
	margin-top: .2em;
	float: right;
}

svg.request_albumrating {
	float: right;
	clear: right;
	margin-top: 4px;
}

span.request_xbutton {
	float: left;
	display: block;
	margin-left: 0.2em;
	margin-right: .6em;
	margin-top: -2px;
	color: #888;
}

div.request_album_name {
	margin-top: .2em;
	padding-left: 2.5em;
}

div.request_cooldown {
	margin-top: .2em;
	padding-left: 2.5em;
	color: #7ecfff;
}

.live_timehelper {
	float: right;
	margin: 1em;
	padding: .5em 1em;
	border: 1px solid white;
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.help_container {
	background: rgb(0, 0, 0);
	border: 1px solid #7f38ad;
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding: 0.8em 0.5em 0.8em 0.8em;
	position: absolute;
	z-index: 10000;
	width: 20em;
}

.help {
	background-color: #4f206d;
	height: 8em;
	margin-right: .5em;
	overflow: auto;
	padding-bottom: 1em;
}

.help_x {
	float: right;
	font-weight: bold;
	cursor: pointer;
	margin-left: 5px;
}

.help_header {
	background: #6d2c96;
	font-weight: bold;
	border-bottom: 2px solid #ad4cea;
	padding: 0.1em 0.3em;
}

.help_paragraph {
	padding: 0.2em 0.3em;
}

.help_next {
	text-align: right;
	font-weight: bold;
	padding-top: .3em;
	padding-bottom: .2em;
	font-weight: bold;
	margin-left: -1em;
	margin-top: -1.5em;
	position: absolute;
	text-align: right;
	width: 100%;
}

.help_next span {
	padding-right: 3em;
}

table.about {
	width: 100%;
}

table.about td {
	padding-bottom: .1em;
	border-bottom: 1px solid #8c55c5;
}

.loginbox {
	border: 1px solid #4575A7;
	background: #152657;
	padding: .3em;
}

.Panel_MenuPanel {
	z-index: 2;
}

table.menu_table {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	table-layout: fixed;
}

table.menu_table img {
	vertical-align: top;
}

table.menu_table td {
	padding: 2px 3px 2px 3px;
	border-bottom: 1px solid #4575A7;
	background: #000000;
}

td.menu_td_station {
	width: 200px;
}

div.menu_select_more {
	border-right: 1px solid #888888;
	color: #888888;
	margin-top: 1px;
	padding-right: 3px;
	position: absolute;
	text-align: right;
	width: 200px;
}

ul.menu_select {
	position: absolute;
	border: 1px solid #4575A7;
	border-left: none;
	background: #000000;
	z-index: -1;
	left: 0px;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.menu_select li {
	padding: 8px;
}

ul.menu_select li svg {
	display: block;
}

td.menu_td_play {
	width: 194px;
	text-align: right;
}

.menu_player {
	background-color: #225f8a;
	padding-left: .5em;
	padding-right: .5em;
}

.menu_player:hover {
	background-color: #2974a9;
}

td.menu_td_play img{
	cursor: pointer;
}

td.menu_td_download {
	border-left: 1px solid #4575A7;
	width: 60px;
	text-align: center;
}

td.menu_td_download img {
	height: 16px;
	width: auto;
}

td.menu_td_user {
	width: 15.5em;
	padding-right: 5px;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

td.menu_td_user img {
	height: 16px;
	width: auto;
	z-index: 2;
	position: relative;
}

img.menu_avatar {
	padding-left: 5px;
	float: right;
}

table.menu_table td.menu_td_news {
	border-left: 1px solid #4575A7;
	padding-left: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #ff0000;
	font-weight: bold;
}

table.menu_table td.menu_td_help {
	width: 6em;
	border-left: 1px solid #ad4cea;
	border-bottom: 1px solid #ad4cea;
	background-color: #4f206d;
	text-align: center;
}

td.menu_td_chat {
	width: 6em;
	border-left: 1px solid #4575A7;
	text-align: center;
}

td.menu_td_forums {
	width: 6em;
	border-left: 1px solid #4575A7;
	text-align: center;
}

table.menu_table td.menu_td_cog {
	width: 95px;
	text-align: right;
	background: #000000;
	border-left: 1px solid #FFA200;
	border-bottom: 1px solid #FFA200;
}

table.menu_table td.menu_td_cog img {
	height: 16px;
	width: auto;
}

.COG_links {
	text-align: right;
	position: absolute;
	border: 1px solid #FFA200;
	border-right: none;
	background: #000000;
	width: 122px;
	margin-left: -25px;
	padding-right: 2px;
	z-index: -1;
}

.COG_links a {
	display: block;
}

.COG_banner {
	position: relative;
	z-index: 1;
}

.rating {
	width: 74px;
	height: 13px;
	background: url('images/rating_border.png');
	margin-left: 2em; 
	margin-top: 1px;
	position: relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

span.rating_text {
	position: absolute;
	margin-left: -1.5em;
	margin-top: -1px; 
	color: #FFFFFF;
}

.rating_fav {
	position: absolute;
	opacity: 0;
}

.rating_user_on {
	position: absolute;
	height: 8px;
	width: 0px;
	background: url('images/rating_user_on.png') no-repeat scroll;
}

.rating_user {
	position: absolute;
	height: 8px;
	width: 74px;
	padding-left: 8px;
}

.rating_user_bar {
	height: 8px;
	width: 66px; 
	background: url('images/rating_user_bar.png') no-repeat scroll;
}

.rating_site_on {
	position: absolute;
}

.rating_site {
	position: absolute;
	height: 13px;
	width: 74px;
	padding-left: 13px;
	padding-top: 9px;
}

.rating_site_bar {
	height: 4px;
	width: 50px;
	background: url('images/rating_site_bar.png') no-repeat scroll;
}

.rating_grid {
	position: absolute;
}

/* TIMELINE PANEL */

table.timeline_table {
	position: absolute;
	width: 100%;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	table-layout: fixed;
}

table.timeline_table td {
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}

td.timeline_header_indicator {
	font-size: 0.8em;
	width: 10px;
}

td.timeline_header_indicator_normal {
	background: url('images/timeline_indicator_normal.png') no-repeat scroll 0px 0px;
}

td.timeline_header_indicator_request {
	background: url('images/timeline_indicator_request.png') no-repeat scroll 0px 0px;
}

td.timeline_header_indicator_conflict {
	background: url('images/timeline_indicator_conflict.png') no-repeat scroll 0px 0px;
}

table.timeline_table td.timeline_header {
	font-size: 0.8em;
	border-left: none;
}

table.timeline_table td.timeline_header_normal {
	background: #244093;
}

table.timeline_table td.timeline_header_request {
	background: #248293;
}

table.timeline_table td.timeline_header_conflict {
	background: #84880c;
}

div.timeline_clock {
	float: right;
	padding-right: 2px;
}

div.timeline_header_text {
	padding-left: 6px;
}

img.timeline_indicator_argh {
	width: 10px;
	height: 10px;
	border: 0px;
}

td.timeline_indicator_normal {
	background: url('images/timeline_indicator_normal.png') no-repeat scroll 0px -22px;
	width: 10px;
}

td.timeline_indicator_request {
	background: url('images/timeline_indicator_request.png') no-repeat scroll 0px -22px;
	width: 10px;
}

td.timeline_indicator_conflict {
	background: url('images/timeline_indicator_conflict.png') no-repeat scroll 0px -22px;
	width: 10px;
}

td.timeline_td {
	background-color: #142027;
	width: 100%;
	padding: 1px 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.timeline_album_td {
	color: #CCCCCC;
	padding-left: 0px;
}

td.timeline_album_td_request {
	background-image: url('images/timeline_votehover_request.png');
	background-repeat: no-repeat;
	background-position: 0px -90px;
}

td.timeline_album_td_conflict {
	background-image: url('images/timeline_votehover_request.png');
	background-repeat: no-repeat;
	background-position: 0px -90px;
}

td.timeline_artist_td {
	color: #CCCCCC;
	padding-left: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.timeline_album_td .link2 {
	color: inherit;
}

td.timeline_artist_td .link2 {
	color: inherit;
}

div.timeline_song_time {
	float: right;
	color: #CCCCCC;
	z-index: 3;
	margin-left: 1em;
	position: relative;
}

div.song_title {
	position: relative;
	z-index: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.timeline_song_rating_c {
	float: right;
	padding-left: 10px;
	z-index: 7;
	position: relative;
}

div.timeline_song_rating_bkg {
	background: url('images/timeline_ratingbkg.png') no-repeat 100% 0px;
	position: absolute;
	width: 100%;
	height: 20px;
	z-index: 6;
	margin-top: -1px;
}

div.timeline_album_title {
	position: relative;
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1.5em;
}

div.timeline_song_requestor_wrap {
	position: absolute;
	overflow: hidden;
	z-index: 2;
	width: 100%;
	margin-top: -1px;
}

div.timeline_song_requestor {
	color: #FFFFFF;
	padding-left: 0.7em;
}

/*div.timeline_song_requestor_request {
	background: url('images/timeline_song_requestor_request.png') repeat-y;
}

div.timeline_song_requestor_conflict {
	background: url('images/timeline_song_requestor_conflict.png') repeat-y;
}*/

div.timeline_vote_hover {
	position: absolute;
	width: 70%;
	height: 20px;
	z-index: 9;
}

td.timeline_song_td {
	background-repeat: no-repeat;
	background-position: -700px 0px;
	position: relative;
	z-index: 3;
}

td.timeline_song_td_normal {
	background-image: url('images/timeline_votehover_normal.png');
}

td.timeline_song_td_request {
	background-image: url('images/timeline_votehover_request.png');
}

td.timeline_song_td_conflict {
	background-image: url('images/timeline_votehover_conflict.png');
}

div.timeline_vote_swipe {
	position: absolute;
	z-index: 4;
	width: 0px;
	background: transparent url('images/timeline_voteswipe.png') repeat-x scroll 0px 0px;
	margin-left: -3px;
	margin-top: -1px;	
}

.Panel_NowPanel {
	padding-left: 11px;
	max-width: 550px;
}

div.nowplaying_indicator_v {
	position: absolute;
	margin-left: -11px;
	z-index: 1;
	width: 10px;
	height: 100%;
}

div.nowplaying_indicator_v_normal {
	background: transparent url('images/timeline_indicator_normal.png') no-repeat;
}

div.nowplaying_indicator_v_request {
	background: transparent url('images/timeline_indicator_request.png') no-repeat;
}

div.nowplaying_indicator_v_conflict {
	background: transparent url('images/timeline_indicator_conflict.png') no-repeat;
}

div.nowplaying_indicator_h {
	position: absolute;
	width: 70%;
	z-index: 1;
	height: 1em;
	margin-left: -1px;
}

div.nowplaying_indicator_h_normal {
	background: transparent url('images/nowplaying_indicator_normal.png') no-repeat bottom right;
}

div.nowplaying_indicator_h_request {
	background: transparent url('images/nowplaying_indicator_request.png') no-repeat bottom right;
}

div.nowplaying_indicator_h_conflict {
	background: transparent url('images/nowplaying_indicator_conflict.png') no-repeat bottom right;
}

div.nowplaying_header_text, div.nowplaying_header_reqby {
	position: absolute;
	z-index: 2;
	font-size: 0.8em;
}

div.nowplaying_header_reqby {
	width: 67%;
	text-align: right;
}

div.nowplaying_wrapper {
	background: #142027 url('images/nowplaying_bkg.png') repeat-x;
	width: 100%;
	height: 100%;
}

table.nowplaying_table {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 1.2em 10px 0px 3px;
	table-layout: fixed;
}

td.nowplaying_album_art {
	width: 130px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	padding-right: 3px;
}

td.nowplaying_album_art img {
	max-width: 120px;
	max-height: 120px;
}

td.nowplaying_song_title {
	font-size: 1.2em;
	font-weight: bold;
	height: 1.5em;
	vertical-align: bottom;
	padding-bottom: 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.nowplaying_album_name, td.nowplaying_artist_name, td.nowplaying_url, td.timeline_live_notes, td.timeline_live_user {
	padding-bottom: 3px;
	padding-top: .6em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1.5em;
	font-size: 1.1em;
}

td.nowplaying_album_name, td.nowplaying_artist_name {
	height: 1.5em;
	vertical-align: bottom;
}

td.nowplaying_song_title, td.nowplaying_album_name, td.nowplaying_artist_name {
	width: 100%;
	padding-right: 1em;
}

td.nowplaying_fadeborder {
	background: url('images/nowplaying_fadeborder.png') no-repeat bottom left;
}

td.nowplaying_fadeborder_r {
	background: url('images/nowplaying_fadeborder.png') no-repeat bottom right;
}

td.nowplaying_song_rating, td.nowplaying_album_rating {
	vertical-align: bottom;
	padding-bottom: 4px;
}

td.nowplaying_song_rating, td.nowplaying_album_rating, td.nowplaying_votes {
	width: 110px;
	padding-right: 3px;
}

td.nowplaying_votes {
	padding-top: .7em;
}

table.schedule_table td {
	padding: .2em .5em;
	border-bottom: 1px solid #888888;
	border-right: 1px solid #444444;
}

table.schedule_table button {
	padding: 0px;
	font-size: 0.8em;
}

div.menu_user_cp {
	width: 15.5em;
	position: absolute;
	padding: .3em;	
	border: 1px solid #233844;
	background-image: -moz-linear-gradient(100% 100% 90deg, #000000, #142027);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#142027), to(#000000));
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: right;
}

/* Split Window */

table.splitwindow_table {
	border-spacing: 0;
}

td.splitwindow_tabs_td {
	height: 2.2em;
}

div.splitwindow_leftcontainer {
	overflow: auto;
}

td.splitwindow_right {
	height: 10px;
	overflow: auto;
}

ul.splitwindow_tabs {
	margin: 5px 0 0 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #244093;
}

li.splitwindow_tab  {
	display: inline;
	border-bottom: none;
	padding: 0px 7px 1px 7px;
	opacity: 0.8;
	margin-bottom: 2px;
	cursor: pointer;
}

li.splitwindow_tab_active {
	border-bottom: 2px solid #244093;
	opacity: 1;
}

td.splitwindow_resize {
	width: 3px;
	background: #244093;
	cursor: ew-resize;
}

/* SEARCH */

div.inlinesearch_container {
	padding: 0;
	position: fixed;
	overflow: hidden;
}

span.inlinesearch_text {
	padding: 2px;
	background: #143073;
	width: 100%;
}

div.inlinesearch_help {
	font-size: smaller;
	color: #888888;
	float: right;
	background: #143073;
}

div.inlinesearch_hdr {
	padding: 3px;
	background: #244093;
}

div.clist_guest_count {
	float: right;
	padding-right: 0.2em;
}

span.lang_guestlisteners_guests {
	font-weight: bold;
}

div.clist_total_count {
	padding-left: .2em;
	border-bottom: 1px solid #666;
	margin-bottom: .2em;
}

span.lang_totallisteners_total {
	font-weight: bold;
}

td.lsnrdt_spacer {
	width: 1em;
}

table.listener_detail td {
	padding: .5em;
	text-align: centre;
	vertical-align: middle;
	white-space: nowrap;
}

td.lsnrdt_bar {
	border-right: solid 1px #AAA;
	border-left: solid 1px #AAA;
}