.error-tooltip {
  @include transition-wtime(300ms, opacity);

  position: absolute;
  padding: 0.2em;
  z-index: 10000;
  border-radius: 5px;
  opacity: 0;
}

.error,
.error-tooltip {
  @include error-colors;
}
