@use "../../cssFunctions" as css;
@use "../../styles/theme" as theme;

div.fave {
  width: 14px;
  height: 13px;
  display: none;
  margin-top: 4px;
  user-select: none;

  img {
    width: 14px;
    height: 13px;
    position: absolute;
    opacity: 0;

    @include css.transition-wtime(200ms, opacity);
  }

  &.is-fave {
    img.fave-solid {
      opacity: 1;
    }
  }

  &.fave-clicked {
    img.fave-solid {
      opacity: 0.5;
    }
  }

  body.logged-in & {
    display: inline-block;
    cursor: pointer;
  }

  body.logged-in.desktop & {
    &:hover img.fave-lined {
      opacity: 1;
    }
  }

  body.full.small & {
    margin-top: 0;
  }

  body.full.small div.detail & {
    margin-top: 3px;
  }

  // this only appears in lists for mobile versions
  // and the CSS for album lists and song lists has slightly different CSS :/
  body.logged-in.mobile & {
    position: relative;
    display: inline-block;
    width: 30px;
    margin-top: 0;
    padding: 2px 0;
    border: solid 1px theme.$text-ddd;
    border-radius: 3px;

    img {
      padding: 0 8px;
    }

    img.fave-lined {
      opacity: 0.7;
    }

    &.is-fave {
      img.fave-lined {
        opacity: 0;
      }
    }
  }

  body.logged-in.mobile div.list & {
    top: 3px;
  }

  body.full.small div.item & {
    position: relative;
    top: 1px;
  }
}
