.chart-outside {
  position: relative;
  border: solid 1px black;
  height: 20px;
  line-height: 20px;

  .chart-bar {
    box-sizing: border-box;
    position: absolute;
    border-right: solid 1px black;
    height: 20px;
    white-space: nowrap;

    &:hover .chart-tooltip {
      opacity: 1;
      visibility: visible;
      cursor: default;

      @include transform(translateY(100%) translateX(-50%));

      &.chart-tooltip-right {
        @include transform(translateY(100%) translateX(-100%));
      }

      &.chart-tooltip-left {
        @include transform(translateY(100%) translateX(0%));
      }
    }
  }

  &.overflow-hidden .chart-bar {
    overflow: hidden;
  }

  .chart-label {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    cursor: default;

    @include transform(translateX(4px));
  }

  .chart-tooltip {
    position: absolute;
    z-index: 2;
    color: $chart-tooltip;
    border: solid 1px $chart-tooltip-b;
    background: $chart-tooltip-bkg;
    visibility: hidden;
    opacity: 0;
    left: 50%;

    @include transform(translateY(50%) translateX(-50%));
    @include transition-wtime(200ms, opacity, transform, visibility);

    &.chart-tooltip-right {
      @include transform(translateY(50%) translateX(-100%));
    }

    &.chart-tooltip-left {
      @include transform(translateY(50%) translateX(0%));
    }
  }

  .chart-pip {
    box-sizing: border-box;
    position: absolute;
    border-left: solid 1px black;
    width: 1px;
    height: 20px;
  }

  &.chart-ratings {
    .chart-bar {
      .chart-label {
        font-size: smaller;
        color: $chart-label;

        @include transform(rotate(90deg));
      }
    }
  }

  &.chart-overflow {
    .chart-bar {
      .chart-label {
        max-width: none;
        overflow: visible;
      }
    }
  }
}
