<if condition="^_c.artists.length">
	<h2>{{ $l("Artists") }}</h2>
	<for each="artists">
		<div class="row row_artist">
			<div class="title">
				<a href="#!/artist/{{ id }}" bind="title">{{ name }}</a>
			</div>
		</div>
	</for>
	<if condition="^_c.artists.length >= 50">
		<div class="row search_oob">{{ $l("search_result_limit") }}</div>
	</if>
</if>

<if condition="^_c.albums.length">
	<h2>{{ $l("Albums") }}</h2>
	<for each="albums">
		<div class="{{ ^'row row_album ' + (_c.cool ? 'cool' : '') + ' ' + (_c.fave ? 'song_fave_highlight' : '') }}">
			<template use="rating" />
			<template use="fave" />
			<div class="title">
				<a href="#!/album/{{ id }}" bind="title">{{ name }}</a>
			</div>
		</div>
	</for>
	<if condition="^_c.albums.length >= 50">
		<div class="row search_oob">{{ $l("search_result_limit") }}</div>
	</if>
</if>

<if condition="^_c.songs.length">
	<h2>{{ $l("Songs") }}</h2>
	<template use="detail.songtable" />
	<if condition="^_c.songs.length >= 100">
		<div class="row search_oob">{{ $l("search_result_limit") }}</div>
	</if>
</if>