[Unit]
Description=Rainwave Internet Radio API
Wants=network.target
Requires=postgresql.service memcached.service

[Service]
Type=simple
User=rainwave
Group=www-data
WorkingDirectory=/opt/rainwave
ExecStart=/usr/bin/env pipenv run ./rw_api.py

[Install]
WantedBy=multi-user.target
