[Unit]
Description=Rainwave Internet Radio Backend
Wants=network.target
Requires=postgresql.service memcached.service memcached_ratings.service

[Service]
Type=simple
User=rainwave
Group=www-data
WorkingDirectory=/opt/rainwave
ExecStart=/home/rainwave/.local/bin/uv run rw_backend.py

[Install]
WantedBy=multi-user.target
