[Unit]
Description=Rainwave Internet Radio Song Change API
Wants=network.target
Requires=postgresql.service memcached.service memcached_ratings.service

[Service]
Type=simple
User=rainwave
Group=www-data
WorkingDirectory=/home/rainwave
ExecStart=/home/rainwave/.local/bin/uv run rw_song_change_api.py

[Install]
WantedBy=multi-user.target
