[Unit]
Description=Rainwave Internet Radio ZeroMQ Proxy
Wants=network.target
After=network.target

[Service]
Type=simple
User=rainwave
Group=www-data
WorkingDirectory=/home/rainwave/rainwave
ExecStart=/home/rainwave/.local/bin/uv run python src/rw_zmq_proxy.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
