<div class="song-detail" bind="details">
  <if condition="^context.artists">
    <div
      data-old-class="{{ ^'full-artists ' + ((context.artists.length > 1) ? 'multi-artist' : '') }}"
    >
      <span
        >{{ ^($l_has("Artists_pluralized") ? $l("Artists_pluralized", { "count":
        context.artists.length }) : $l("Artists")) + ": " }}</span
      >
      <for each="artists" bind="artists">
        <a href="#!/artist/{{ id }}">{{ name }}</a>
      </for>
    </div>
  </if>
  <if condition="^context.groups && context.groups.length && !MOBILE">
    <div class="multi-group">
      <span>{{ $l("Groups") + ": " }}</span>
      <for each="groups" bind="groups">
        <a href="#!/group/{{ id }}">{{ name }}</a>
      </for>
    </div>
  </if>
  <if condition="rating_count">
    <div>
      <span>{{ $l("song_rating_detail") }}</span>
      <span style="margin-left: 2px">
        {{ $l("rating_detail_numbers", { "rating": Formatting.rating(context.rating), "count":
        context.rating_count, "percentile": context.rating_rank_percentile, "percentile_message":
        context.rating_percentile_message }) }}
      </span>
    </div>
    <div bind="graphPlacement"></div>
  </if>
  <else>
    <div>{{ $l("song_has_no_ratings") }}</div>
  </else>
</div>
