{
  "openapi": "3.1.1",
  "info": {
    "contact": {
      "name": "Rainwave",
      "url": "https://rainwave.cc"
    },
    "title": "Rainwave API",
    "version": "4.0.0"
  },
  "servers": [
    {
      "url": "https://rainwave.cc"
    }
  ],
  "tags": [
    {
      "description": "Rainwave REST-ish endpoints for core Rainwave interactivity, as used on the website.",
      "name": "Core"
    },
    {
      "description": "Endpoints that provide miscellaneous statistics.",
      "name": "Statistics"
    },
    {
      "description": "Endpoints that begin websocket connections for Rainwave, or are related to maintaining Websocket status.",
      "name": "Websocket"
    },
    {
      "description": "Administrative endpoints.",
      "name": "Admin"
    }
  ],
  "paths": {
    "/api4/admin/add_album_to_power_hour": {
      "post": {
        "operationId": "adminAddAlbumToPowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  },
                  "album_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id", "album_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/add_donation": {
      "post": {
        "operationId": "adminAddDonation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "donor_id": {
                    "type": "integer"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "message": {
                    "type": "string"
                  },
                  "private": {
                    "type": "boolean"
                  }
                },
                "required": ["donor_id", "amount", "message", "private"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "add_donation_result": {
                      "$ref": "#/components/schemas/add_donation_result"
                    }
                  },
                  "required": ["add_donation_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/add_song_to_power_hour": {
      "post": {
        "operationId": "adminAddSongToPowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  },
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id", "song_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/change_producer_name": {
      "post": {
        "operationId": "adminChangeProducerName",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": ["sched_id", "name"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/change_producer_start_time": {
      "post": {
        "operationId": "adminChangeProducerStartTime",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  },
                  "utc_time": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id", "utc_time"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/change_producer_url": {
      "post": {
        "operationId": "adminChangeProducerUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  },
                  "url": {
                    "oneOf": [{ "type": "string" }, { "type": "null" }]
                  }
                },
                "required": ["sched_id", "url"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/create_power_hour": {
      "post": {
        "operationId": "adminCreatePowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "start_utc_time": {
                    "type": "integer"
                  },
                  "end_utc_time": {
                    "type": "integer"
                  },
                  "url": {
                    "oneOf": [{ "type": "string" }, { "type": "null" }]
                  },
                  "fill_unrated": {
                    "oneOf": [{ "type": "boolean" }, { "type": "null" }]
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": [
                  "name",
                  "start_utc_time",
                  "end_utc_time",
                  "url",
                  "fill_unrated",
                  "sid"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/delete_power_hour": {
      "post": {
        "operationId": "adminDeletePowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "delete_power_hour_result": {
                      "$ref": "#/components/schemas/delete_power_hour_result"
                    }
                  },
                  "required": ["delete_power_hour_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/duplicate_power_hour": {
      "post": {
        "operationId": "adminDuplicatePowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/europify_power_hour": {
      "post": {
        "operationId": "adminEuropifyPowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/js_errors": {
      "post": {
        "operationId": "adminJSErrors",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_js_errors": {
                      "$ref": "#/components/schemas/admin_js_errors"
                    }
                  },
                  "required": ["admin_js_errors"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/music_scan_errors": {
      "post": {
        "operationId": "adminMusicScanErrors",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_music_scan_errors": {
                      "$ref": "#/components/schemas/admin_music_scan_errors"
                    }
                  },
                  "required": ["admin_music_scan_errors"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/move_song_up_in_power_hour": {
      "post": {
        "operationId": "adminMoveSongUpInPowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "one_up_id": {
                    "type": "integer"
                  }
                },
                "required": ["one_up_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/power_hour": {
      "post": {
        "operationId": "adminGetPowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/power_hour_remove_song": {
      "post": {
        "operationId": "adminRemoveSongFromPowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "one_up_id": {
                    "type": "integer"
                  }
                },
                "required": ["one_up_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/power_hours": {
      "post": {
        "operationId": "adminGetPowerHours",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hours": {
                      "$ref": "#/components/schemas/admin_power_hours"
                    }
                  },
                  "required": ["admin_power_hours"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/reset_album_cooldown": {
      "post": {
        "operationId": "adminResetAlbumCooldown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "album_id": {
                    "type": "integer"
                  }
                },
                "required": ["album_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "set_album_cooldown_result": {
                      "$ref": "#/components/schemas/set_album_cooldown_result"
                    }
                  },
                  "required": ["set_album_cooldown_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/reset_song_cooldown": {
      "post": {
        "operationId": "adminResetSongCooldown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["song_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "set_song_cooldown_result": {
                      "$ref": "#/components/schemas/set_song_cooldown_result"
                    }
                  },
                  "required": ["set_song_cooldown_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/set_album_cooldown": {
      "post": {
        "operationId": "adminSetAlbumCooldown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "album_id": {
                    "type": "integer"
                  },
                  "multiply": {
                    "oneOf": [{ "type": "number" }, { "type": "null" }]
                  },
                  "override": {
                    "oneOf": [{ "type": "integer" }, { "type": "null" }]
                  }
                },
                "required": ["album_id", "multiply", "override"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "set_album_cooldown_result": {
                      "$ref": "#/components/schemas/set_album_cooldown_result"
                    }
                  },
                  "required": ["set_album_cooldown_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/set_song_cooldown": {
      "post": {
        "operationId": "adminSetSongCooldown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "multiply": {
                    "oneOf": [{ "type": "number" }, { "type": "null" }]
                  },
                  "override": {
                    "oneOf": [{ "type": "integer" }, { "type": "null" }]
                  }
                },
                "required": ["song_id", "multiply", "override"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "set_song_cooldown_result": {
                      "$ref": "#/components/schemas/set_song_cooldown_result"
                    }
                  },
                  "required": ["set_song_cooldown_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/set_song_request_only": {
      "post": {
        "operationId": "adminSetSongRequestOnly",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "request_only": {
                    "type": "boolean"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "request_only", "sid"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "set_song_request_only_result": {
                      "$ref": "#/components/schemas/set_song_request_only_result"
                    }
                  },
                  "required": ["set_song_request_only_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/admin/shuffle_power_hour": {
      "post": {
        "operationId": "adminShufflePowerHour",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "type": "integer"
                  }
                },
                "required": ["sched_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_power_hour": {
                      "$ref": "#/components/schemas/admin_power_hour"
                    }
                  },
                  "required": ["admin_power_hour"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/update_user_avatar_by_discord_id": {
      "post": {
        "operationId": "adminUpdateUserAvatarByDiscordId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "discord_user_id": {
                    "type": "string"
                  },
                  "avatar": {
                    "type": "string"
                  }
                },
                "required": ["discord_user_id", "avatar"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "update_user_avatar_by_discord_id_result": {
                      "$ref": "#/components/schemas/update_user_avatar_by_discord_id_result"
                    }
                  },
                  "required": ["update_user_avatar_by_discord_id_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/update_user_nickname_by_discord_id": {
      "post": {
        "operationId": "adminUpdateUserNicknameByDiscordId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "discord_user_id": {
                    "type": "string"
                  },
                  "nickname": {
                    "type": "string"
                  }
                },
                "required": ["discord_user_id", "nickname"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "update_user_nickname_by_discord_id_result": {
                      "$ref": "#/components/schemas/update_user_nickname_by_discord_id_result"
                    }
                  },
                  "required": ["update_user_nickname_by_discord_id_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/enable_perks_by_discord_ids": {
      "post": {
        "operationId": "adminEnablePerksByDiscordIds",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "discord_user_ids": {
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": ["discord_user_ids"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "enable_perks_by_discord_ids_result": {
                      "$ref": "#/components/schemas/enable_perks_by_discord_ids_result"
                    }
                  },
                  "required": ["enable_perks_by_discord_ids_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/user_search": {
      "post": {
        "operationId": "adminUserSearch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "username": {
                    "type": "string"
                  }
                },
                "required": ["username"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_user_search_result": {
                      "$ref": "#/components/schemas/admin_user_search_result"
                    }
                  },
                  "required": ["admin_user_search_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/user_search_by_discord_user_id": {
      "post": {
        "operationId": "adminUserSearchByDiscordUserId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "discord_user_id": {
                    "type": "string"
                  }
                },
                "required": ["discord_user_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "admin_user_search_result": {
                      "$ref": "#/components/schemas/admin_user_search_result"
                    }
                  },
                  "required": ["admin_user_search_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Admin"]
      }
    },
    "/api4/album": {
      "post": {
        "operationId": "getAlbum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "sort": {
                    "description": "How to sort the songs that are a part of the album.",
                    "oneOf": [
                      {
                        "enum": ["added_on"],
                        "type": "string"
                      },
                      {
                        "description": "Null for alphabetical.",
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": ["id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "album": {
                      "$ref": "#/components/schemas/album"
                    }
                  },
                  "required": ["album"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/all_albums_paginated": {
      "post": {
        "description": "Returns all albums on the station, sorted by album ID.",
        "operationId": "getAllAlbumsPaginated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "after": {
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "all_albums_paginated": {
                      "$ref": "#/components/schemas/all_albums_paginated"
                    }
                  },
                  "required": ["all_albums_paginated"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/all_artists_paginated": {
      "post": {
        "operationId": "getAllArtistsPaginated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "after": {
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "all_artists_paginated": {
                      "$ref": "#/components/schemas/all_artists_paginated"
                    }
                  },
                  "required": ["all_artists_paginated"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/all_faves": {
      "post": {
        "operationId": "getAllFaves",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "page_start": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "all_faves": {
                      "$ref": "#/components/schemas/all_faves"
                    }
                  },
                  "required": ["all_faves"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/all_groups_paginated": {
      "post": {
        "operationId": "getAllGroupsPaginated",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "after": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "all_groups_paginated": {
                      "$ref": "#/components/schemas/all_groups_paginated"
                    }
                  },
                  "required": ["all_groups_paginated"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/all_songs": {
      "post": {
        "operationId": "getAllSongs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order": {
                    "oneOf": [
                      {
                        "enum": ["rating"],
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "all_songs": {
                      "$ref": "#/components/schemas/all_songs"
                    }
                  },
                  "required": ["all_songs"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Statistics"]
      }
    },
    "/api4/artist": {
      "post": {
        "operationId": "getArtist",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": ["id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "artist": {
                      "$ref": "#/components/schemas/artist"
                    }
                  },
                  "required": ["artist"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/check_sched_current_id": {
      "post": {
        "operationId": "checkSchedCurrentId",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sched_id": {
                    "description": "The last timeline entry sched_id you have seen.",
                    "type": "integer"
                  }
                },
                "required": ["sched_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {},
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Websocket"]
      }
    },
    "/api4/clear_rating": {
      "post": {
        "operationId": "clearRating",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["song_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "rate_result": {
                      "$ref": "#/components/schemas/rate_result"
                    }
                  },
                  "required": ["rate_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/clear_requests": {
      "post": {
        "operationId": "clearRequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/clear_requests_on_cooldown": {
      "post": {
        "operationId": "clearRequestsOnCooldown",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/delete_request": {
      "post": {
        "operationId": "deleteRequest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["song_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/fave_album": {
      "post": {
        "operationId": "faveAlbum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "album_id": {
                    "type": "integer"
                  },
                  "fave": {
                    "type": "boolean"
                  }
                },
                "required": ["album_id", "fave"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "fave_album_result": {
                      "$ref": "#/components/schemas/fave_album_result"
                    }
                  },
                  "required": ["fave_album_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/fave_all_songs": {
      "post": {
        "operationId": "faveAllSongsInAlbum",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "album_id": {
                    "type": "integer"
                  },
                  "fave": {
                    "type": "boolean"
                  }
                },
                "required": ["album_id", "fave"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "fave_all_songs_result": {
                      "$ref": "#/components/schemas/fave_all_songs_result"
                    }
                  },
                  "required": ["fave_all_songs_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/fave_song": {
      "post": {
        "operationId": "faveSong",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "fave": {
                    "type": "boolean"
                  },
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "fave"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "fave_song_result": {
                      "$ref": "#/components/schemas/fave_song_result"
                    }
                  },
                  "required": ["fave_song_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/group": {
      "post": {
        "operationId": "getGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": ["id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "group": {
                      "$ref": "#/components/schemas/group"
                    }
                  },
                  "required": ["group"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/info_all": {
      "post": {
        "operationId": "getAllStationsInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [""],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "all_stations_info": {
                      "$ref": "#/components/schemas/all_stations_info"
                    }
                  },
                  "required": ["all_stations_info"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/listener": {
      "post": {
        "operationId": "getListener",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": ["id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "listener": {
                      "$ref": "#/components/schemas/listener"
                    }
                  },
                  "required": ["listener"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/order_requests": {
      "post": {
        "operationId": "reorderRequests",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "order": {
                    "description": "A comma-separated list of Song IDs that represent the user's request queue, in the order the user desires.",
                    "type": "string"
                  }
                },
                "required": ["order"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "order_requests_result": {
                      "$ref": "#/components/schemas/order_requests_result"
                    },
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["order_requests_result", "requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/pause_request_queue": {
      "post": {
        "operationId": "pauseRequestQueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pause_request_queue_result": {
                      "$ref": "#/components/schemas/pause_request_queue_result"
                    },
                    "user": {
                      "$ref": "#/components/schemas/user"
                    }
                  },
                  "required": ["pause_request_queue_result", "user"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/ping": {
      "post": {
        "operationId": "ping",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pong": {
                      "$ref": "#/components/schemas/pong"
                    }
                  },
                  "required": ["pong"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Websocket"]
      }
    },
    "/api4/playback_history": {
      "post": {
        "operationId": "getPlaybackHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "page_start": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "playback_history": {
                      "$ref": "#/components/schemas/playback_history"
                    }
                  },
                  "required": ["playback_history"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Statistics"]
      }
    },
    "/api4/pong": {
      "post": {
        "operationId": "pong",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "pongConfirm": {
                      "$ref": "#/components/schemas/pongConfirm"
                    }
                  },
                  "required": ["pongConfirm"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Websocket"]
      }
    },
    "/api4/rate": {
      "post": {
        "operationId": "rateSong",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "rating": {
                    "enum": [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5],
                    "type": "number"
                  },
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "rating"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "rate_result": {
                      "$ref": "#/components/schemas/rate_result"
                    }
                  },
                  "required": ["rate_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/request": {
      "post": {
        "operationId": "requestSong",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "song_id": {
                    "type": "integer"
                  }
                },
                "required": ["song_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/request_favorited_songs": {
      "post": {
        "operationId": "requestFavoritedSongs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "request_favorited_songs_result": {
                      "$ref": "#/components/schemas/request_favorited_songs_result"
                    },
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["request_favorited_songs_result", "requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/request_line": {
      "post": {
        "operationId": "getRequestLine",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "request_line_result": {
                      "$ref": "#/components/schemas/request_line"
                    }
                  },
                  "required": ["request_line_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/request_unrated_songs": {
      "post": {
        "operationId": "requestUnratedSongs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "request_unrated_songs_result": {
                      "$ref": "#/components/schemas/request_unrated_songs_result"
                    },
                    "requests": {
                      "$ref": "#/components/schemas/requests"
                    }
                  },
                  "required": ["request_unrated_songs_result", "requests"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/search": {
      "post": {
        "operationId": "search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "search": {
                    "type": "string"
                  }
                },
                "required": ["search"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "albums": {
                      "$ref": "#/components/schemas/albums"
                    },
                    "artists": {
                      "$ref": "#/components/schemas/artists"
                    },
                    "songs": {
                      "$ref": "#/components/schemas/songs"
                    }
                  },
                  "required": ["albums", "artists", "songs"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/song": {
      "post": {
        "operationId": "getSong",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "type": "integer"
                  }
                },
                "required": ["id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "song": {
                      "$ref": "#/components/schemas/song"
                    }
                  },
                  "required": ["song"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/station_song_count": {
      "post": {
        "operationId": "getStationSongCount",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "station_song_count": {
                      "$ref": "#/components/schemas/station_song_count"
                    }
                  },
                  "required": ["station_song_count"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Statistics"]
      }
    },
    "/api4/stations": {
      "post": {
        "operationId": "getStations",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "stations": {
                      "$ref": "#/components/schemas/stations"
                    }
                  },
                  "required": ["stations"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/top_100": {
      "post": {
        "operationId": "getTop100",
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "top_100": {
                      "$ref": "#/components/schemas/top_100"
                    }
                  },
                  "required": ["top_100"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Statistics"]
      }
    },
    "/api4/unpause_request_queue": {
      "post": {
        "operationId": "unpauseRequestQueue",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {},
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "unpause_request_queue_result": {
                      "$ref": "#/components/schemas/unpause_request_queue_result"
                    },
                    "user": {
                      "$ref": "#/components/schemas/user"
                    }
                  },
                  "required": ["unpause_request_queue_result", "user"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/unrated_songs": {
      "post": {
        "operationId": "getUnratedSongs",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "page_start": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "unrated_songs": {
                      "$ref": "#/components/schemas/unrated_songs"
                    }
                  },
                  "required": ["unrated_songs"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/user_info": {
      "post": {
        "operationId": "getUserInfo",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "api_key": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "user_info": {
                      "$ref": "#/components/schemas/user_info"
                    }
                  },
                  "required": ["user_info"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/user_recent_votes": {
      "post": {
        "operationId": "getUserRecentVotes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "page_start": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "user_recent_votes": {
                      "$ref": "#/components/schemas/user_recent_votes"
                    }
                  },
                  "required": ["user_recent_votes"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Statistics"]
      }
    },
    "/api4/user_requested_history": {
      "post": {
        "operationId": "getUserRequestedHistory",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "page_start": {
                    "type": "integer"
                  },
                  "per_page": {
                    "type": "integer"
                  }
                },
                "required": [],
                "type": "object"
              }
            }
          },
          "required": false
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "user_requested_history": {
                      "$ref": "#/components/schemas/user_requested_history"
                    }
                  },
                  "required": ["user_requested_history"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Statistics"]
      }
    },
    "/api4/vote": {
      "post": {
        "operationId": "vote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "entry_id": {
                    "type": "integer"
                  }
                },
                "required": ["entry_id"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "vote_result": {
                      "$ref": "#/components/schemas/vote_result"
                    }
                  },
                  "required": ["vote_result"],
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "tags": ["Core"]
      }
    },
    "/api4/websocket/{sid}": {
      "get": {
        "description": "Upgrades HTTP connection to a WebSocket session for the station.",
        "parameters": [
          {
            "in": "path",
            "name": "sid",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "101": {
            "description": "Websocket initiated."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_error": {
                      "$ref": "#/components/schemas/_error"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": ""
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "_error": {
                      "$ref": "#/components/schemas/_error"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "WebSocket upgrade endpoint"
      }
    }
  },
  "components": {
    "schemas": {
      "_album_art": {
        "description": "Base album art URL for Rainwave. Usage: `art = album_art ? \"https://rainwave.cc/${albumArt}_320.jpg\" : \"https://rainwave.cc/static/images4/noart_1.jpg\"`",
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "null"
          }
        ]
      },
      "_album_core": {
        "properties": {
          "added_on": {
            "$ref": "#/components/schemas/_time"
          },
          "art": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "cool": {
            "type": "boolean"
          },
          "cool_lowest": {
            "$ref": "#/components/schemas/_time"
          },
          "fave": {
            "type": "boolean"
          },
          "fave_count": {
            "type": "integer"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "played_last": {
            "$ref": "#/components/schemas/_time"
          },
          "rating": {
            "oneOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ]
          },
          "rating_count": {
            "type": "integer"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          },
          "request_count": {
            "type": "number"
          },
          "song_count": {
            "type": "number"
          },
          "vote_count": {
            "type": "number"
          }
        },
        "required": [
          "added_on",
          "art",
          "cool_lowest",
          "cool",
          "fave_count",
          "fave",
          "id",
          "name",
          "played_last",
          "rating_count",
          "rating_user",
          "rating",
          "request_count",
          "song_count",
          "vote_count"
        ],
        "type": "object"
      },
      "_album_in_list": {
        "properties": {
          "cool": {
            "type": "boolean"
          },
          "cool_lowest": {
            "$ref": "#/components/schemas/_time"
          },
          "fave": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "newest_song_time": {
            "$ref": "#/components/schemas/_time"
          },
          "rating": {
            "type": "number"
          },
          "rating_complete": {
            "type": "boolean"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          }
        },
        "required": [
          "id",
          "name",
          "rating",
          "cool",
          "cool_lowest",
          "fave",
          "rating_user",
          "rating_complete",
          "newest_song_time"
        ],
        "type": "object"
      },
      "_artist": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"],
        "type": "object"
      },
      "_artist_in_list": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "song_count": {
            "type": "integer"
          }
        },
        "required": ["id", "name", "song_count"],
        "type": "object"
      },
      "_artist_with_order": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "order": {
            "type": "integer"
          }
        },
        "required": ["id", "name", "order"],
        "type": "object"
      },
      "_boolean_result": {
        "properties": {
          "success": {
            "type": "boolean"
          },
          "text": {
            "type": "string"
          },
          "tl_key": {
            "type": "string"
          }
        },
        "required": ["success", "tl_key", "text"],
        "type": "object"
      },
      "_elec_blocked_by": {
        "oneOf": [
          {
            "enum": ["in_election", "album", "group"],
            "type": "string"
          },
          {
            "type": "null"
          }
        ]
      },
      "_election_song_type": {
        "description": "2 for normal song, 4 for request.  Other numbers are no longer used.",
        "enum": [2, 4],
        "type": "integer"
      },
      "_error": {
        "properties": {
          "code": {
            "type": "number"
          },
          "success": {
            "type": "boolean"
          },
          "text": {
            "type": "string"
          },
          "tl_key": {
            "type": "string"
          },
          "traceback": {
            "type": "string"
          }
        },
        "required": ["status", "tl_key", "text"],
        "type": "object"
      },
      "_listener_rating_spread_item": {
        "properties": {
          "rating": {
            "type": "number"
          },
          "ratings": {
            "type": "integer"
          }
        },
        "type": "object"
      },
      "_listener_ratings_by_station": {
        "properties": {
          "average_rating": {
            "type": "string"
          },
          "ratings": {
            "type": "integer"
          },
          "sid": {
            "$ref": "#/components/schemas/_station_id"
          }
        },
        "required": ["sid", "average_rating", "ratings"],
        "type": "object"
      },
      "_listener_requests_by_station": {
        "properties": {
          "requests": {
            "type": "integer"
          },
          "sid": {
            "$ref": "#/components/schemas/_station_id"
          }
        },
        "required": ["sid", "requests"],
        "type": "object"
      },
      "_listener_top_album": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_listener": {
            "type": "number"
          }
        },
        "required": ["id", "name", "rating_listener", "rating"],
        "type": "object"
      },
      "_listener_top_request_album": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "request_count_listener": {
            "type": "integer"
          }
        },
        "required": ["id", "name", "request_count_listener"],
        "type": "object"
      },
      "_listener_votes_by_station": {
        "properties": {
          "sid": {
            "$ref": "#/components/schemas/_station_id"
          },
          "votes": {
            "type": "integer"
          }
        },
        "required": ["sid", "votes"],
        "type": "object"
      },
      "_live_voting_entry": {
        "properties": {
          "entry_id": {
            "type": "integer"
          },
          "entry_votes": {
            "type": "integer"
          },
          "song_id": {
            "type": "integer"
          }
        },
        "required": ["entry_id", "entry_votes", "song_id"],
        "type": "object"
      },
      "_playback_history_entry": {
        "properties": {
          "album_id": {
            "type": "integer"
          },
          "album_name": {
            "type": "string"
          },
          "artist_parseable": {
            "type": "string"
          },
          "fave": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "rating": {
            "type": "number"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          },
          "song_played_at": {
            "$ref": "#/components/schemas/_time"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "album_id",
          "album_name",
          "artist_parseable",
          "fave",
          "id",
          "rating",
          "rating_user",
          "song_played_at",
          "title"
        ],
        "type": "object"
      },
      "_rating": {
        "type": "number"
      },
      "_rating_histogram": {
        "properties": {
          "1.0": {
            "type": "integer"
          },
          "1.5": {
            "type": "integer"
          },
          "2.0": {
            "type": "integer"
          },
          "2.5": {
            "type": "integer"
          },
          "3.0": {
            "type": "integer"
          },
          "3.5": {
            "type": "integer"
          },
          "4.0": {
            "type": "integer"
          },
          "4.5": {
            "type": "integer"
          },
          "5.0": {
            "type": "integer"
          }
        },
        "required": ["1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"],
        "type": "object"
      },
      "_rating_user": {
        "oneOf": [
          {
            "type": "number"
          },
          {
            "type": "null"
          }
        ]
      },
      "_relay": {
        "properties": {
          "hostname": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "port": {
            "type": "integer"
          },
          "protocol": {
            "type": "string"
          }
        },
        "required": ["name", "protocol", "hostname", "port"],
        "type": "object"
      },
      "_request_album": {
        "properties": {
          "art": {
            "$ref": "#/components/schemas/_album_art"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_complete": {
            "type": "boolean"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          }
        },
        "required": ["name", "id", "rating", "rating_user", "rating_complete", "art"],
        "type": "object"
      },
      "_request_line_entry": {
        "properties": {
          "line_expiry_election": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/_time"
              },
              {
                "type": "null"
              }
            ]
          },
          "line_expiry_tune_in": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/_time"
              },
              {
                "type": "null"
              }
            ]
          },
          "line_has_had_valid": {
            "type": "boolean"
          },
          "line_wait_start": {
            "$ref": "#/components/schemas/_time"
          },
          "position": {
            "type": "integer"
          },
          "skip": {
            "type": "boolean"
          },
          "song": {
            "$ref": "#/components/schemas/_request_line_entry_song"
          },
          "song_id": {
            "oneOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ]
          },
          "user_id": {
            "type": "integer"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "user_id",
          "line_expiry_tune_in",
          "line_expiry_election",
          "line_wait_start",
          "line_has_had_valid",
          "song_id",
          "skip",
          "position"
        ],
        "type": "object"
      },
      "_request_line_entry_song": {
        "oneOf": [
          {
            "type": "null"
          },
          {
            "properties": {
              "album_name": {
                "type": "string"
              },
              "id": {
                "type": "integer"
              },
              "title": {
                "type": "string"
              }
            },
            "required": ["album_name", "id", "title"],
            "type": "object"
          }
        ]
      },
      "_search_album": {
        "properties": {
          "cool": {
            "type": "boolean"
          },
          "fave": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_complete": {
            "type": "boolean"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          }
        },
        "required": ["id", "name", "cool", "rating", "fave", "rating_user", "rating_complete"],
        "type": "object"
      },
      "_search_artist": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"],
        "type": "object"
      },
      "_song_bare": {
        "properties": {
          "fave": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          },
          "id": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          },
          "link_text": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "rating": {
            "type": "number"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "albums",
          "artists",
          "fave",
          "id",
          "length",
          "link_text",
          "rating_user",
          "rating",
          "title",
          "url"
        ],
        "type": "object"
      },
      "_song_bare_album": {
        "properties": {
          "albums": {
            "prefixItems": [
              {
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": ["id", "name"],
                "type": "object"
              }
            ],
            "type": "array"
          }
        },
        "required": ["albums"],
        "type": "object"
      },
      "_song_bare_artist": {
        "properties": {
          "artists": {
            "items": {
              "$ref": "#/components/schemas/_artist"
            },
            "type": "array"
          }
        },
        "required": ["artists"],
        "type": "object"
      },
      "_song_group": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"],
        "type": "object"
      },
      "_song_in_artist": {
        "allOf": [
          {
            "$ref": "#/components/schemas/_song_bare"
          },
          {
            "$ref": "#/components/schemas/_song_bare_album"
          },
          {
            "properties": {
              "cool": {
                "type": "boolean"
              },
              "requestable": {
                "type": "boolean"
              },
              "sid": {
                "$ref": "#/components/schemas/_station_id"
              }
            },
            "required": ["cool", "requestable", "sid"],
            "type": "object"
          }
        ]
      },
      "_song_on_album": {
        "allOf": [
          { "$ref": "#/components/schemas/_song_bare" },
          {
            "properties": {
              "artist_parseable": { "type": "string" },
              "added_on": {
                "$ref": "#/components/schemas/_time"
              },
              "cool": {
                "type": "boolean"
              },
              "cool_end": {
                "$ref": "#/components/schemas/_time"
              },
              "origin_sid": {
                "$ref": "#/components/schemas/_station_id"
              },
              "requestable": {
                "type": "boolean"
              }
            },
            "required": [
              "origin_sid",
              "added_on",
              "requestable",
              "cool",
              "cool_end",
              "artist_parseable"
            ],
            "type": "object"
          }
        ]
      },
      "_station_id": {
        "enum": [1, 2, 3, 4, 5, 6],
        "type": "integer"
      },
      "_station_info": {
        "properties": {
          "album": {
            "type": "string"
          },
          "art": {
            "$ref": "#/components/schemas/_album_art"
          },
          "artists": {
            "type": "string"
          },
          "event_name": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "event_type": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/_timeline_entry_type"
              },
              {
                "type": "null"
              }
            ]
          },
          "title": {
            "type": "string"
          }
        },
        "required": ["title", "album", "art", "artists", "event_name", "event_type"],
        "type": "object"
      },
      "_station_list_station": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          }
        },
        "required": ["id", "url"],
        "type": "object"
      },
      "_time": {
        "description": "Epoch Time - seconds since Jan 1st 00:00 1970",
        "type": "integer"
      },
      "_timeline_entry": {
        "properties": {
          "end": {
            "$ref": "#/components/schemas/_time"
          },
          "id": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          },
          "name": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "sid": {
            "$ref": "#/components/schemas/_station_id"
          },
          "songs": {
            "items": {
              "$ref": "#/components/schemas/_timeline_song"
            },
            "type": "array"
          },
          "start": {
            "$ref": "#/components/schemas/_time"
          },
          "start_actual": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/_time"
              },
              {
                "type": "null"
              }
            ]
          },
          "type": {
            "$ref": "#/components/schemas/_timeline_entry_type"
          },
          "url": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "used": {
            "type": "boolean"
          },
          "voting_allowed": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "start",
          "start_actual",
          "end",
          "type",
          "name",
          "sid",
          "url",
          "voting_allowed",
          "used",
          "length",
          "songs"
        ],
        "type": "object"
      },
      "_timeline_entry_type": {
        "enum": ["Election", "OneUp", "PVPElection"],
        "type": "string"
      },
      "_timeline_song": {
        "allOf": [
          {
            "$ref": "#/components/schemas/_song_bare"
          },
          {
            "properties": {
              "albums": {
                "prefixItems": [
                  {
                    "$ref": "#/components/schemas/_timeline_song_album"
                  }
                ],
                "type": "array"
              },
              "artists": {
                "items": {
                  "$ref": "#/components/schemas/_artist_with_order"
                },
                "type": "array"
              },
              "cool": {
                "type": "boolean"
              },
              "elec_blocked": {
                "type": "boolean"
              },
              "elec_blocked_by": {
                "$ref": "#/components/schemas/_elec_blocked_by"
              },
              "elec_request_user_id": {
                "oneOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "elec_request_username": {
                "oneOf": [
                  {
                    "type": "string"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "entry_id": {
                "type": "integer"
              },
              "entry_position": {
                "type": "integer"
              },
              "entry_type": {
                "$ref": "#/components/schemas/_election_song_type"
              },
              "entry_votes": {
                "type": "integer"
              },
              "groups": {
                "items": {
                  "$ref": "#/components/schemas/_song_group"
                },
                "type": "array"
              },
              "origin_sid": {
                "$ref": "#/components/schemas/_station_id"
              },
              "rating_allowed": {
                "type": "boolean"
              },
              "rating_count": {
                "type": "integer"
              },
              "request_count": {
                "type": "integer"
              },
              "request_id": {
                "oneOf": [
                  {
                    "type": "integer"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "sid": {
                "$ref": "#/components/schemas/_station_id"
              }
            },
            "required": [
              "albums",
              "artists",
              "cool",
              "elec_blocked_by",
              "elec_blocked",
              "elec_request_user_id",
              "elec_request_username",
              "entry_id",
              "entry_position",
              "entry_type",
              "entry_votes",
              "groups",
              "origin_sid",
              "rating_allowed",
              "rating_count",
              "request_count",
              "sid"
            ],
            "type": "object"
          }
        ]
      },
      "_timeline_song_album": {
        "properties": {
          "art": {
            "$ref": "#/components/schemas/_album_art"
          },
          "fave": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "type": "number"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          }
        },
        "required": ["id", "rating", "art", "name", "rating_user", "fave"],
        "type": "object"
      },
      "_updated_album_rating": {
        "properties": {
          "id": {
            "type": "integer"
          },
          "rating_complete": {
            "type": "boolean"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          },
          "sid": {
            "$ref": "#/components/schemas/_station_id"
          }
        },
        "required": ["sid", "id", "rating_user", "rating_complete"],
        "type": "object"
      },
      "_user_recent_vote": {
        "properties": {
          "album_name": {
            "type": "string"
          },
          "fave": {
            "type": "boolean"
          },
          "id": {
            "type": "integer"
          },
          "rating": {
            "type": "number"
          },
          "rating_user": {
            "$ref": "#/components/schemas/_rating_user"
          },
          "title": {
            "type": "string"
          }
        },
        "required": ["album_name", "fave", "id", "rating", "rating_user", "title"],
        "type": "object"
      },
      "album": {
        "properties": {
          "added_on": { "$ref": "#/components/schemas/_time" },
          "art": { "$ref": "#/components/schemas/_album_art" },
          "cool_lowest": { "$ref": "#/components/schemas/_time" },
          "cool": { "type": "boolean" },
          "fave_count": { "type": "integer" },
          "fave": { "type": "boolean" },
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "played_last": { "$ref": "#/components/schemas/_time" },
          "rating_count": { "type": "integer" },
          "rating_user": { "$ref": "#/components/schemas/_rating_user" },
          "rating": { "oneOf": [{ "type": "number" }, { "type": "null" }] },
          "song_count": { "type": "integer" },
          "vote_count": { "type": "integer" },
          "genres": {
            "items": {
              "$ref": "#/components/schemas/_song_group"
            },
            "type": "array"
          },
          "rating_complete": {
            "type": "boolean"
          },
          "rating_histogram": {
[...]
