{
  "openapi": "3.2.0",
  "$self": "https://rainwave.cc/api4/rainwave-openapi.json",
  "info": {
    "title": "Rainwave API",
    "version": "4.0.0",
    "contact": {
      "name": "Rainwave",
      "url": "https://rainwave.cc"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://rainwave.cc"
    }
  ],
  "tags": [
    {
      "name": "Core",
      "description": "Rainwave REST-ish endpoints for core Rainwave interactivity, as used on the website."
    },
    {
      "name": "Statistics",
      "description": "Endpoints that provide miscellaneous statistics."
    },
    {
      "name": "Websocket",
      "description": "Endpoints that begin websocket connections for Rainwave."
    }
  ],
  "paths": {
    "/api4/websocket/{sid}": {
      "get": {
        "summary": "WebSocket upgrade endpoint",
        "description": "Upgrades HTTP connection to a WebSocket session for the station.",
        "parameters": [
          {
            "name": "sid",
            "in": "path",
            "required": true,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "101": { "description": "Websocket initiated." },
          "400": { "$ref": "#/components/responses/default_api_error" },
          "403": { "$ref": "#/components/responses/default_api_error" }
        }
      }
    },
    "/api4/album": {
      "post": {
        "tags": ["Core"],
        "operationId": "getAlbum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "sort": {
                    "description": "How to sort the songs that are a part of the album.",
                    "type": "string",
                    "enum": ["added_on", "name"]
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/album_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/all_albums_paginated": {
      "post": {
        "tags": ["Core"],
        "description": "Returns all albums on the station, sorted by album ID.",
        "operationId": "getAllAlbumsPaginated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "after": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_albums_paginated_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/all_artists_paginated": {
      "post": {
        "tags": ["Core"],
        "operationId": "getAllArtistsPaginated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "after": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_artists_paginated_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/all_faves": {
      "post": {
        "tags": ["Core"],
        "operationId": "getAllFaves",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "per_page": {
                    "type": "integer"
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["user_id", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_faves_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/all_groups_paginated": {
      "post": {
        "tags": ["Core"],
        "operationId": "getAllGroupsPaginated",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "after": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_groups_paginated_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/all_songs": {
      "post": {
        "tags": ["Statistics"],
        "operationId": "getAllSongs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "per_page": {
                    "type": "integer"
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "order": {
                    "type": "string",
                    "enum": ["rating"]
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["user_id", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/all_songs_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/artist": {
      "post": {
        "tags": ["Core"],
        "operationId": "getArtist",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/artist_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/clear_rating": {
      "post": {
        "tags": ["Core"],
        "operationId": "clearRating",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/clear_rating_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/clear_requests": {
      "post": {
        "tags": ["Core"],
        "operationId": "clearRequests",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/clear_requests_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/clear_requests_on_cooldown": {
      "post": {
        "tags": ["Core"],
        "operationId": "clearRequestsOnCooldown",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/clear_requests_on_cooldown_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/delete_request": {
      "post": {
        "tags": ["Core"],
        "operationId": "deleteRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/delete_request_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/fave_album": {
      "post": {
        "tags": ["Core"],
        "operationId": "faveAlbum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "album_id": {
                    "type": "integer"
                  },
                  "fave": {
                    "type": "boolean"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["album_id", "fave", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/fave_album_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/fave_all_songs": {
      "post": {
        "tags": ["Core"],
        "operationId": "faveAllSongsInAlbum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "album_id": {
                    "type": "integer"
                  },
                  "fave": {
                    "type": "boolean"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["album_id", "fave", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/fave_all_songs_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/fave_song": {
      "post": {
        "tags": ["Core"],
        "operationId": "faveSong",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "fave": {
                    "type": "boolean"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["song_id", "fave", "user_id", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/fave_song_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/group": {
      "post": {
        "tags": ["Core"],
        "operationId": "getGroup",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/group_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/info_all": {
      "post": {
        "tags": ["Core"],
        "operationId": "getAllStationsInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/info_all_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/listener": {
      "post": {
        "tags": ["Core"],
        "operationId": "getListener",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["id", "user_id", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/listener_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/order_requests": {
      "post": {
        "tags": ["Core"],
        "operationId": "reorderRequests",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order": {
                    "type": "string",
                    "description": "A comma-separated list of Song IDs that represent the user's request queue, in the order the user desires."
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["order", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/order_requests_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/pause_request_queue": {
      "post": {
        "tags": ["Core"],
        "operationId": "pauseRequestQueue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/pause_request_queue_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/playback_history": {
      "post": {
        "tags": ["Statistics"],
        "operationId": "getPlaybackHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "per_page": {
                    "type": "integer"
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/playback_history_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/rate": {
      "post": {
        "tags": ["Core"],
        "operationId": "rateSong",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "rating": {
                    "type": "number",
                    "enum": [1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5]
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "rating", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/rate_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/request": {
      "post": {
        "tags": ["Core"],
        "operationId": "requestSong",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "song_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["song_id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/request_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/request_favorited_songs": {
      "post": {
        "tags": ["Core"],
        "operationId": "requestFavoritedSongs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/request_favorited_songs_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/request_line": {
      "post": {
        "tags": ["Core"],
        "operationId": "getRequestLine",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/request_line_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/request_unrated_songs": {
      "post": {
        "tags": ["Core"],
        "operationId": "requestUnratedSongs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/request_unrated_songs_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/search": {
      "post": {
        "tags": ["Core"],
        "operationId": "search",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "search": {
                    "type": "string"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["search", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/search_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/song": {
      "post": {
        "tags": ["Core"],
        "operationId": "getSong",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/song_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/station_song_count": {
      "post": {
        "tags": ["Statistics"],
        "operationId": "getStationSongCount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["user_id", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/station_song_count_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/stations": {
      "post": {
        "tags": ["Core"],
        "operationId": "getStations",
        "responses": {
          "200": {
            "$ref": "#/components/responses/stations_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/top_100": {
      "post": {
        "tags": ["Statistics"],
        "operationId": "getTop100",
        "responses": {
          "200": {
            "$ref": "#/components/responses/top_100_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/unpause_request_queue": {
      "post": {
        "tags": ["Core"],
        "operationId": "unpauseRequestQueue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/unpause_request_queue_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/unrated_songs": {
      "post": {
        "tags": ["Core"],
        "operationId": "getUnratedSongs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "per_page": {
                    "type": "integer"
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/unrated_songs_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/user_info": {
      "post": {
        "tags": ["Core"],
        "operationId": "getUserInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  }
                },
                "required": ["user_id", "api_key"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/user_info_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/user_recent_votes": {
      "post": {
        "tags": ["Statistics"],
        "operationId": "getUserRecentVotes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "per_page": {
                    "type": "integer"
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/user_recent_votes_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/user_requested_history": {
      "post": {
        "tags": ["Statistics"],
        "operationId": "getUserRequestedHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "per_page": {
                    "type": "integer"
                  },
                  "page_start": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/user_requested_history_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    },
    "/api4/vote": {
      "post": {
        "tags": ["Core"],
        "operationId": "vote",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "entry_id": {
                    "type": "integer"
                  },
                  "user_id": {
                    "type": "integer"
                  },
                  "api_key": {
                    "type": "string"
                  },
                  "sid": {
                    "type": "integer"
                  }
                },
                "required": ["entry_id", "user_id", "api_key", "sid"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/vote_response"
          },
          "default": {
            "$ref": "#/components/responses/default_api_error"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "album": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/album"
            }
          }
        }
      },
      "album_diff": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/album_diff"
            }
          }
        }
      },
      "album_response": {
        "description": "200 response for /api4/album",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "album": {
                  "$ref": "#/components/schemas/album"
                }
              },
              "required": ["album"]
            }
          }
        }
      },
      "albums": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/albums"
            }
          }
        }
      },
      "all_albums_paginated": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/all_albums_paginated"
            }
          }
        }
      },
      "all_albums_paginated_response": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "all_albums_paginated": {
                  "$ref": "#/components/schemas/all_albums_paginated"
                }
              },
              "required": ["all_albums_paginated"]
            }
          }
        }
      },
      "all_artists_paginated": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/all_artists_paginated"
            }
          }
        }
      },
      "all_artists_paginated_response": {
        "description": "200 response for /api4/all_artists_paginated",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "all_artists_paginated": {
                  "$ref": "#/components/schemas/all_artists_paginated"
                }
              },
              "required": ["all_artists_paginated"]
            }
          }
        }
      },
      "all_faves": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/all_faves"
            }
          }
        }
      },
      "all_faves_response": {
        "description": "200 response for /api4/all_faves",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "all_faves": {
                  "$ref": "#/components/schemas/all_faves"
                }
              },
              "required": ["all_faves"]
            }
          }
        }
      },
      "all_groups_paginated": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/all_groups_paginated"
            }
          }
        }
      },
      "all_groups_paginated_response": {
        "description": "200 response for /api4/all_groups_paginated",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "all_groups_paginated": {
                  "$ref": "#/components/schemas/all_groups_paginated"
                }
              },
              "required": ["all_groups_paginated"]
            }
          }
        }
      },
      "all_songs": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/all_songs"
            }
          }
        }
      },
      "all_songs_response": {
        "description": "200 response for /api4/all_songs",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "all_songs": {
                  "$ref": "#/components/schemas/all_songs"
                }
              },
              "required": ["all_songs"]
            }
          }
        }
      },
      "all_stations_info": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/all_stations_info"
            }
          }
        }
      },
      "already_voted": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/already_voted"
            }
          }
        }
      },
      "api_info": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/api_info"
            }
          }
        }
      },
      "artist": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/artist"
            }
          }
        }
      },
      "artist_response": {
        "description": "200 response for /api4/artist",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "artist": {
                  "$ref": "#/components/schemas/artist"
                }
              },
              "required": ["artist"]
            }
          }
        }
      },
      "artists": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/artists"
            }
          }
        }
      },
      "auth_response": {
        "description": "200 response for /api4/auth",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "wsok": {
                  "$ref": "#/components/schemas/wsok"
                },
                "wserror": {
                  "$ref": "#/components/schemas/wserror"
                }
              }
            }
          }
        }
      },
      "build_version": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/build_version"
            }
          }
        }
      },
      "check_sched_current_id_response": {
        "description": "200 response for /api4/check_sched_current_id",
        "content": {
          "application/json": {
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "clear_rating_response": {
        "description": "200 response for /api4/clear_rating",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "rate_result": {
                  "$ref": "#/components/schemas/rate_result"
                }
              },
              "required": ["rate_result"]
            }
          }
        }
      },
      "clear_requests_on_cooldown_response": {
        "description": "200 response for /api4/clear_requests_on_cooldown",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["requests"]
            }
          }
        }
      },
      "clear_requests_response": {
        "description": "200 response for /api4/clear_requests",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["requests"]
            }
          }
        }
      },
      "cookie_domain": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/cookie_domain"
            }
          }
        }
      },
      "default_api_error": {
        "description": "Default Rainwave error response.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "$ref": "#/components/schemas/error"
                }
              },
              "required": ["error"]
            }
          }
        }
      },
      "delete_request_response": {
        "description": "200 response for /api4/delete_request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["requests"]
            }
          }
        }
      },
      "delete_request_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/delete_request_result"
            }
          }
        }
      },
      "error": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error"
            }
          }
        }
      },
      "error_report_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/error_report_result"
            }
          }
        }
      },
      "fave_album_response": {
        "description": "200 response for /api4/fave_album",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "fave_album_result": {
                  "$ref": "#/components/schemas/fave_album_result"
                }
              },
              "required": ["fave_album_result"]
            }
          }
        }
      },
      "fave_album_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/fave_album_result"
            }
          }
        }
      },
      "fave_all_songs_response": {
        "description": "200 response for /api4/fave_all_songs",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "fave_all_songs_result": {
                  "$ref": "#/components/schemas/fave_all_songs_result"
                }
              },
              "required": ["fave_all_songs_result"]
            }
          }
        }
      },
      "fave_all_songs_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/fave_all_songs_result"
            }
          }
        }
      },
      "fave_song_response": {
        "description": "200 response for /api4/fave_song",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "fave_song_result": {
                  "$ref": "#/components/schemas/fave_song_result"
                }
              },
              "required": ["fave_song_result"]
            }
          }
        }
      },
      "fave_song_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/fave_song_result"
            }
          }
        }
      },
      "group": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/group"
            }
          }
        }
      },
      "group_response": {
        "description": "200 response for /api4/group",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "group": {
                  "$ref": "#/components/schemas/group"
                }
              },
              "required": ["group"]
            }
          }
        }
      },
      "info_all_response": {
        "description": "200 response for /api4/info_all",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "all_stations_info": {
                  "$ref": "#/components/schemas/all_stations_info"
                }
              },
              "required": ["all_stations_info"]
            }
          }
        }
      },
      "listener": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/listener"
            }
          }
        }
      },
      "listener_response": {
        "description": "200 response for /api4/listener",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "listener": {
                  "$ref": "#/components/schemas/listener"
                }
              },
              "required": ["listener"]
            }
          }
        }
      },
      "live_voting": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/live_voting"
            }
          }
        }
      },
      "locale": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/locale"
            }
          }
        }
      },
      "locales": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/locales"
            }
          }
        }
      },
      "message_id": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/message_id"
            }
          }
        }
      },
      "mobile": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/mobile"
            }
          }
        }
      },
      "on_draw": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/on_draw"
            }
          }
        }
      },
      "on_init": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/on_init"
            }
          }
        }
      },
      "on_measure": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/on_measure"
            }
          }
        }
      },
      "order_requests_response": {
        "description": "200 response for /api4/order_requests",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "order_requests_result": {
                  "$ref": "#/components/schemas/order_requests_result"
                },
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["order_requests_result", "requests"]
            }
          }
        }
      },
      "order_requests_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/order_requests_result"
            }
          }
        }
      },
      "pause_request_queue_response": {
        "description": "200 response for /api4/pause_request_queue",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "pause_request_queue_result": {
                  "$ref": "#/components/schemas/pause_request_queue_result"
                },
                "user": {
                  "$ref": "#/components/schemas/user"
                }
              },
              "required": ["pause_request_queue_result", "user"]
            }
          }
        }
      },
      "pause_request_queue_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/pause_request_queue_result"
            }
          }
        }
      },
      "ping": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ping"
            }
          }
        }
      },
      "ping_response": {
        "description": "200 response for /api4/ping",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "pong": {
                  "$ref": "#/components/schemas/pong"
                }
              },
              "required": ["pong"]
            }
          }
        }
      },
      "playback_history": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/playback_history"
            }
          }
        }
      },
      "playback_history_response": {
        "description": "200 response for /api4/playback_history",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "playback_history": {
                  "$ref": "#/components/schemas/playback_history"
                }
              },
              "required": ["playback_history"]
            }
          }
        }
      },
      "pong": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/pong"
            }
          }
        }
      },
      "pong_confirm": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/pong_confirm"
            }
          }
        }
      },
      "pong_response": {
        "description": "200 response for /api4/pong",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "pongConfirm": {
                  "$ref": "#/components/schemas/pong_confirm"
                }
              },
              "required": ["pongConfirm"]
            }
          }
        }
      },
      "rate_response": {
        "description": "200 response for /api4/rate",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "rate_result": {
                  "$ref": "#/components/schemas/rate_result"
                }
              },
              "required": ["rate_result"]
            }
          }
        }
      },
      "rate_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/rate_result"
            }
          }
        }
      },
      "redownload_m3u": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/redownload_m3u"
            }
          }
        }
      },
      "relays": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/relays"
            }
          }
        }
      },
      "request_favorited_songs_response": {
        "description": "200 response for /api4/request_favorited_songs",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "request_favorited_songs_result": {
                  "$ref": "#/components/schemas/request_favorited_songs_result"
                },
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["request_favorited_songs_result", "requests"]
            }
          }
        }
      },
      "request_favorited_songs_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/request_favorited_songs_result"
            }
          }
        }
      },
      "request_line": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/request_line"
            }
          }
        }
      },
      "request_line_response": {
        "description": "200 response for /api4/request_line",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "request_line_result": {
                  "$ref": "#/components/schemas/request_line"
                }
              },
              "required": ["request_line_result"]
            }
          }
        }
      },
      "request_response": {
        "description": "200 response for /api4/request",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["requests"]
            }
          }
        }
      },
      "request_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/request_result"
            }
          }
        }
      },
      "request_unrated_songs_response": {
        "description": "200 response for /api4/request_unrated_songs",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "request_unrated_songs_result": {
                  "$ref": "#/components/schemas/request_unrated_songs_result"
                },
                "requests": {
                  "$ref": "#/components/schemas/requests"
                }
              },
              "required": ["request_unrated_songs_result", "requests"]
            }
          }
        }
      },
      "request_unrated_songs_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/request_unrated_songs_result"
            }
          }
        }
      },
      "requests": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/requests"
            }
          }
        }
      },
      "sched_current": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sched_current"
            }
          }
        }
      },
      "sched_history": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sched_history"
            }
          }
        }
      },
      "sched_next": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sched_next"
            }
          }
        }
      },
      "sdk_error_clear": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sdk_error_clear"
            }
          }
        }
      },
      "sdk_exception": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sdk_exception"
            }
          }
        }
      },
      "sdk_schedule_synced": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sdk_schedule_synced"
            }
          }
        }
      },
      "search_response": {
        "description": "200 response for /api4/search",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "albums": {
                  "$ref": "#/components/schemas/albums"
                },
                "artists": {
                  "$ref": "#/components/schemas/artists"
                },
                "songs": {
                  "$ref": "#/components/schemas/songs"
                }
              },
              "required": ["albums", "artists", "songs"]
            }
          }
        }
      },
      "song": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/song"
            }
          }
        }
      },
      "song_response": {
        "description": "200 response for /api4/song",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "song": {
                  "$ref": "#/components/schemas/song"
                }
              },
              "required": ["song"]
            }
          }
        }
      },
      "songs": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/songs"
            }
          }
        }
      },
      "station_list": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/station_list"
            }
          }
        }
      },
      "station_song_count": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/station_song_count"
            }
          }
        }
      },
      "station_song_count_response": {
        "description": "200 response for /api4/station_song_count",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "station_song_count": {
                  "$ref": "#/components/schemas/station_song_count"
                }
              },
              "required": ["station_song_count"]
            }
          }
        }
      },
      "stations": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/stations"
            }
          }
        }
      },
      "stations_response": {
        "description": "200 response for /api4/stations",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "stations": {
                  "$ref": "#/components/schemas/stations"
                }
              },
              "required": ["stations"]
            }
          }
        }
      },
      "stream_filename": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/stream_filename"
            }
          }
        }
      },
      "sync_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/sync_result"
            }
          }
        }
      },
      "top_100": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/top_100"
            }
          }
        }
      },
      "top_100_response": {
        "description": "200 response for /api4/top_100",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "top_100": {
                  "$ref": "#/components/schemas/top_100"
                }
              },
              "required": ["top_100"]
            }
          }
        }
      },
      "unpause_request_queue_response": {
        "description": "200 response for /api4/unpause_request_queue",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "unpause_request_queue_result": {
                  "$ref": "#/components/schemas/unpause_request_queue_result"
                },
                "user": {
                  "$ref": "#/components/schemas/user"
                }
              },
              "required": ["unpause_request_queue_result", "user"]
            }
          }
        }
      },
      "unpause_request_queue_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/unpause_request_queue_result"
            }
          }
        }
      },
      "unrated_songs": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/unrated_songs"
            }
          }
        }
      },
      "unrated_songs_response": {
        "description": "200 response for /api4/unrated_songs",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "unrated_songs": {
                  "$ref": "#/components/schemas/unrated_songs"
                }
              },
              "required": ["unrated_songs"]
            }
          }
        }
      },
      "user": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/user"
            }
          }
        }
      },
      "user_info": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/user_info"
            }
          }
        }
      },
      "user_info_response": {
        "description": "200 response for /api4/user_info",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "user_info": {
                  "$ref": "#/components/schemas/user"
                }
              },
              "required": ["user_info"]
            }
          }
        }
      },
      "user_recent_votes": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/user_recent_votes"
            }
          }
        }
      },
      "user_recent_votes_response": {
        "description": "200 response for /api4/user_recent_votes",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "user_recent_votes": {
                  "$ref": "#/components/schemas/user_recent_votes"
                }
              },
              "required": ["user_recent_votes"]
            }
          }
        }
      },
      "user_requested_history": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/user_requested_history"
            }
          }
        }
      },
      "user_requested_history_response": {
        "description": "200 response for /api4/user_requested_history",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "user_requested_history": {
                  "$ref": "#/components/schemas/user_requested_history"
                }
              },
              "required": ["user_requested_history"]
            }
          }
        }
      },
      "vote_response": {
        "description": "200 response for /api4/vote",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "vote": {
                  "$ref": "#/components/schemas/vote_result"
                }
              },
              "required": ["vote"]
            }
          }
        }
      },
      "vote_result": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/vote_result"
            }
          }
        }
      },
      "websocket_host": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/websocket_host"
            }
          }
        }
      },
      "wserror": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/wserror"
            }
          }
        }
      },
      "wsok": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/wsok"
            }
          }
        }
      },
      "wsthrottle": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/wsthrottle"
            }
          }
        }
      }
    },
    "schemas": {
      "album": {
        "$ref": "#/components/schemas/album_with_detail"
      },
      "album_diff": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "id": {
              "type": "integer"
            },
            "cool": {
              "type": "boolean"
            },
            "cool_lowest": {
              "type": "integer"
            },
            "newest_song_time": {
              "type": "integer"
            }
          },
          "required": ["id", "cool", "cool_lowest", "newest_song_time"]
        }
      },
      "album_in_list": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ]
          },
          "cool": {
            "type": "boolean"
          },
          "cool_lowest": {
            "type": "integer"
          },
          "fave": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "rating_user": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "number"
              }
            ]
          },
          "rating_complete": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "newest_song_time": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "rating",
          "cool",
          "cool_lowest",
          "fave",
          "rating_user",
          "rating_complete",
          "newest_song_time"
        ]
      },
      "album_with_detail": {
        "type": "object",
        "properties": {
          "genres": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/song_group"
            }
          },
          "rating_complete": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "rating_rank": {
            "type": "integer"
          },
          "rating_rank_percentile": {
            "type": "integer"
          },
          "request_count": {
            "type": "integer"
          },
          "request_rank": {
            "type": "integer"
          },
          "request_rank_percentile": {
            "type": "integer"
          },
          "rating_histogram": {
            "type": "object"
          },
          "songs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/song_on_album"
            }
          },
          "added_on": {
            "type": "integer"
          },
          "art": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "cool_lowest": {
            "type": "integer"
          },
          "cool_multiply": {
            "type": "integer"
          },
          "cool_override": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "cool": {
            "type": "boolean"
          },
          "fave_count": {
            "type": "integer"
          },
          "fave": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "played_last": {
            "type": "integer"
          },
          "rating_count": {
            "type": "integer"
          },
          "rating_user": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "rating": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "song_count": {
            "type": "integer"
          },
          "vote_count": {
            "type": "integer"
          }
        },
        "required": [
          "genres",
          "rating_complete",
          "rating_rank",
          "rating_rank_percentile",
          "request_count",
          "request_rank",
          "request_rank_percentile",
          "rating_histogram",
          "songs",
          "added_on",
          "art",
          "cool_lowest",
          "cool",
          "fave_count",
          "fave",
          "id",
          "name",
          "played_last",
          "rating_count",
          "rating_user",
          "rating",
          "song_count",
          "vote_count"
        ]
      },
      "albums": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/search_album"
        }
      },
      "all_albums_paginated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/album_in_list"
            }
          },
          "has_next": {
            "type": "boolean"
          },
          "next": {
            "type": "integer"
          },
          "progress": {
            "type": "integer"
          }
        },
        "required": ["data", "has_next", "next", "progress"]
      },
      "all_artists_paginated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/artist_in_list"
            }
          },
          "has_next": {
            "type": "boolean"
          },
          "next": {
            "type": "integer"
          },
          "progress": {
            "type": "integer"
          }
        },
        "required": ["data", "has_next", "next", "progress"]
      },
      "all_faves": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/fave_song"
        }
      },
      "all_groups_paginated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/group_in_list"
            }
          },
          "has_next": {
            "type": "boolean"
          },
          "next": {
            "type": "integer"
          },
          "progress": {
            "type": "integer"
          }
        },
        "required": ["data", "has_next", "next", "progress"]
      },
      "all_songs": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/all_songs_song"
        }
      },
      "all_songs_song": {
        "type": "object",
        "properties": {
          "album_name": {
            "type": "string"
          },
          "fave": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "id": {
            "type": "integer"
          },
          "rating": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "rating_user": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "title": {
            "type": "string"
          }
        },
        "required": ["album_name", "fave", "id", "rating", "rating_user", "title"]
      },
      "all_stations_info": {
        "type": "object",
        "properties": {}
      },
      "already_voted": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/already_voted_entry"
        }
      },
      "already_voted_entry": {
        "type": "array",
        "prefixItems": [
          {
            "type": "integer"
          },
          {
            "type": "integer"
          }
        ],
        "minItems": 2,
        "maxItems": 2
      },
      "api_info": {
        "type": "object",
        "properties": {
          "exectime": {
            "type": "integer"
          },
          "time": {
            "type": "integer"
          }
        },
        "required": ["exectime", "time"]
      },
      "artist": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"]
      },
      "artist_in_list": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "song_count": {
            "type": "integer"
          }
        },
        "required": ["id", "name", "song_count"]
      },
      "artists": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/search_artist"
        }
      },
      "boolean_result": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "tl_key": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": ["success", "tl_key", "text"]
      },
      "build_version": {
        "type": "integer"
      },
      "cookie_domain": {
        "type": "string"
      },
      "delete_request_result": {
        "$ref": "#/components/schemas/boolean_result"
      },
      "error": {
        "$ref": "#/components/schemas/rainwave_error_object"
      },
      "error_report_result": {
        "$ref": "#/components/schemas/boolean_result"
      },
      "fave_album_result": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fave": {
            "type": "boolean"
          },
          "sid": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "tl_key": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": ["id", "fave", "sid", "success", "tl_key", "text"]
      },
      "fave_all_songs_result": {
        "type": "object",
        "properties": {
          "song_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "fave": {
            "type": "boolean"
          },
          "sid": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "tl_key": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": ["song_ids", "fave", "sid", "success", "tl_key", "text"]
      },
      "fave_song": {
        "type": "object",
        "properties": {
          "album_id": {
            "type": "integer"
          },
          "album_name": {
            "type": "string"
          },
          "fave": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "id": {
            "type": "integer"
          },
          "rating": {
            "type": "integer"
          },
          "rating_user": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "title": {
            "type": "string"
          }
        },
        "required": ["album_id", "album_name", "fave", "id", "rating", "rating_user", "title"]
      },
      "fave_song_result": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "fave": {
            "type": "boolean"
          },
          "sid": {
            "type": "integer"
          },
          "success": {
            "type": "boolean"
          },
          "tl_key": {
            "type": "string"
          },
          "text": {
            "type": "string"
          }
        },
        "required": ["id", "fave", "sid", "success", "tl_key", "text"]
      },
      "group": {
        "$ref": "#/components/schemas/group_with_detail"
      },
      "group_in_list": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "name"]
      },
      "group_with_detail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "all_songs_for_sid": {
            "type": "object"
          }
        },
        "required": ["id", "name", "all_songs_for_sid"]
      },
      "listener": {
        "type": "object",
        "properties": {
          "user_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "colour": {
            "type": "string"
          },
          "rank": {
            "type": "string"
          },
          "total_votes": {
            "type": "integer"
          },
          "total_ratings": {
            "type": "integer"
          },
          "mind_changes": {
            "type": "integer"
          },
          "total_requests": {
            "type": "integer"
          },
          "winning_votes": {
            "type": "integer"
          },
          "losing_votes": {
            "type": "integer"
          },
          "regdate": {
            "type": "integer"
          },
          "top_albums": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_top_album"
            }
          },
          "top_request_albums": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_top_request_album"
            }
          },
          "votes_by_station": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_votes_by_station"
            }
          },
          "requests_by_station": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_requests_by_station"
            }
          },
          "requests_by_source_station": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_requests_by_station"
            }
          },
          "ratings_by_station": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_ratings_by_station"
            }
          },
          "ratings_completion": {
            "type": "object",
            "properties": {}
          },
          "rating_spread": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/listener_rating_spread_item"
            }
          }
        },
        "required": [
          "user_id",
          "name",
          "avatar",
          "colour",
          "rank",
          "total_votes",
          "total_ratings",
          "mind_changes",
          "total_requests",
          "winning_votes",
          "losing_votes",
          "regdate",
          "top_albums",
          "top_request_albums",
          "votes_by_station",
          "requests_by_station",
          "requests_by_source_station",
          "ratings_by_station",
          "ratings_completion",
          "rating_spread"
        ]
      },
      "listener_rating_spread_item": {
        "type": "object",
        "properties": {
          "ratings": {
            "type": "integer"
          },
          "rating": {
            "type": "integer"
          }
        },
        "required": ["ratings", "rating"]
      },
      "listener_ratings_by_station": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "integer"
          },
          "average_rating": {
            "type": "string"
          },
          "ratings": {
            "type": "integer"
          }
        },
        "required": ["sid", "average_rating", "ratings"]
      },
      "listener_requests_by_station": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "integer"
          },
          "requests": {
            "type": "integer"
          }
        },
        "required": ["sid", "requests"]
      },
      "listener_top_album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "rating_listener": {
            "type": "integer"
          },
          "rating": {
            "type": "integer"
          }
        },
        "required": ["id", "name", "rating_listener", "rating"]
      },
      "listener_top_request_album": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "request_count_listener": {
            "type": "integer"
          }
        },
        "required": ["id", "name", "request_count_listener"]
      },
      "listener_votes_by_station": {
        "type": "object",
        "properties": {
          "sid": {
            "type": "integer"
          },
          "votes": {
            "type": "integer"
          }
        },
        "required": ["sid", "votes"]
      },
      "live_voting": {
        "type": "object"
      },
      "locale": {
        "type": "string"
      },
      "locales": {
        "type": "object"
      },
      "message_id": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "integer"
          }
        },
        "required": ["message_id"]
      },
      "mobile": {
        "type": "boolean"
      },
      "native_error": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          }
        },
        "required": ["name", "message"]
      },
      "on_draw": {
        "type": "array",
        "items": {}
      },
      "on_init": {
        "type": "array",
        "items": {}
      },
      "on_measure": {
        "type": "array",
        "items": {}
      },
      "order_requests_result": {
        "$ref": "#/components/schemas/boolean_result"
      },
      "pause_request_queue_result": {
        "$ref": "#/components/schemas/boolean_result"
      },
      "ping": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          }
        },
        "required": ["timestamp"]
      },
      "playback_history": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/playback_history_entry"
        }
      },
      "playback_history_entry": {
        "type": "object",
        "properties": {
          "album_id": {
            "type": "integer"
          },
          "album_name": {
            "type": "string"
          },
          "artist_parseable": {
            "type": "string"
          },
          "fave": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "id": {
            "type": "integer"
          },
          "rating": {
            "type": "integer"
          },
          "rating_user": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "song_played_at": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "album_id",
          "album_name",
          "artist_parseable",
          "fave",
          "id",
          "rating",
          "rating_user",
          "song_played_at",
          "title"
        ]
      },
      "pong": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          }
        },
        "required": ["timestamp"]
      },
      "pong_confirm": {
        "type": "object",
        "properties": {
          "timestamp": {
            "type": "integer"
          }
        },
        "required": ["timestamp"]
      },
      "rainwave_error_object": {
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "tl_key": {
            "type": "string"
          },
          "text": {
            "type": "string"
          },
          "success": {
            "type": "boolean"
          }
        },
        "required": ["status", "tl_key"]
      },
      "rainwave_event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "start": {
            "type": "integer"
          },
          "start_actual": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "end": {
            "type": "integer"
          },
          "type": {
            "enum": ["Election", "OneUp", "PVPElection"]
          },
          "name": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "sid": {
            "type": "integer"
          },
          "url": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "voting_allowed": {
            "type": "boolean"
          },
          "used": {
            "type": "boolean"
          },
          "length": {
            "type": "integer"
          },
          "core_event_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "songs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rainwave_event_song"
            }
          }
        },
        "required": [
          "id",
          "start",
          "start_actual",
          "end",
          "type",
          "name",
          "sid",
          "url",
          "voting_allowed",
          "used",
          "length",
          "core_event_id",
          "songs"
        ]
      },
      "rainwave_event_song": {
        "type": "object",
        "properties": {
          "albums": {
            "type": "array",
            "prefixItems": [
              {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "rating": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "integer"
                      }
                    ]
                  },
                  "fave": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "boolean"
                      }
                    ]
                  },
                  "rating_user": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "integer"
                      }
                    ]
                  },
                  "art": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  }
                },
                "required": ["id", "name", "rating", "fave", "rating_user", "art"]
              }
            ],
            "minItems": 1,
            "maxItems": 1
          },
          "artists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/rainwave_event_song_artist"
            }
          },
          "cool": {
            "type": "boolean"
          },
          "elec_blocked_by": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              },
              {
                "type": "string"
              },
              {
                "type": "string"
              }
            ]
          },
          "elec_blocked": {
            "type": "boolean"
          },
          "elec_request_user_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "elec_request_username": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "string"
              }
            ]
          },
          "entry_id": {
            "type": "integer"
          },
          "entry_position": {
            "type": "integer"
          },
          "entry_type": {
            "enum": [2, 4]
          },
          "entry_votes": {
            "type": "integer"
          },
          "groups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/song_group"
            }
          },
          "origin_sid": {
            "type": "integer"
          },
          "rating_allowed": {
            "type": "boolean"
          },
          "rating_count": {
            "type": "integer"
          },
          "request_id": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "integer"
              }
            ]
          },
          "request_count": {
            "type": "integer"
          },
          "sid": {
            "type": "integer"
          },
          "fave": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "id": {
            "type": "integer"
          },
          "length": {
            "type": "integer"
          },
          "link_text": {
            "oneOf": [
              {
[...]
