$yes-no-height: 23px;

div.powertripped div.power-only {
  display: block;
}

div.setting-subheader {
  color: $setting-subheader;
  border-bottom: 1px solid $setting-subheader;
  padding: 0;
  margin: 5px 0;
}

div.setting-group {
  clear: both;
  padding: 2px 7px;
  height: $yes-no-height;
  border-bottom: 1px solid transparent;

  @include transition(border-color, background, opacity);

  &.setting-group-special {
    margin: 5px 0;
    padding-left: 0;

    label {
      color: $setting-subheader;
    }
  }

  &:hover {
    border-color: $hover-b;
    background-color: $hover-bkg;

    @include no-transition;
  }

  &.yes-no-group {
    cursor: pointer;

    label {
      cursor: pointer;
    }
  }
}

div.yes-no-wrapper {
  position: relative;
  box-sizing: border-box;
  float: right;
  padding: 0;
  margin: 0;

  span {
    box-sizing: border-box;
    display: inline-block;
    height: $yes-no-height;
  }
}

div.r-incmplt.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

span.yes-no-yes,
span.yes-no-no {
  position: relative;
  z-index: 2;
  width: 70px;
  border: 1px solid $setting-yesno-b;

  @include transition-wtime(350ms, color);

  text-align: center;
}

span.yes-no-yes {
  padding-right: 10px;
  border-right: none;
  color: $text-dd;
}

span.yes-no-no {
  padding-left: 10px;
  border-left: none;
}

div.yes-no-wrapper {
  &.yes {
    span.yes-no-yes {
      color: $text;
    }

    span.yes-no-no {
      color: $text-d;
    }
  }

  &.yes.no span.yes-no-yes {
    color: $text-dd;
  }

  &.no span.yes-no-no {
    color: $text;
  }

  span.yes-no-bar {
    position: absolute;
    width: 70px;
    background: $setting-yesno;
    z-index: 1;

    @include transform(rotate(0deg));

    transform-origin: left center;
  }

  &.yes span.yes-no-bar {
    background: $setting-yesno-b;

    @include transition-wtime(350ms, transform, background-color);
    @include transform(rotate(-180deg));
  }

  &.no span.yes-no-bar {
    background: $setting-yesno;

    @include transition-wtime(350ms, transform, background-color);
    @include transform(rotate(-360deg));
  }
}

span.yes-no-dot {
  position: absolute;
  border: solid 10px $text;
  border-radius: 10px;
  background: $text;
  z-index: 1;
  margin-left: -10px;
}

div.multi-select {
  box-sizing: border-box;
  float: right;
  position: relative;
  height: $yes-no-height;

  span {
    box-sizing: border-box;
    position: relative;
    padding: 0 5px;
    margin: 0 0.5em;
    color: $text-dd;

    @include transition-wtime(350ms, color);

    border: 1px solid $blue;
    cursor: pointer;
    height: $yes-no-height;

    &:last-child {
      margin-right: 0;
    }

    &.selected {
      color: $text;

      // background: $blue;
    }

    a {
      color: $text-dd;

      &:hover {
        color: $link-h;
      }
    }
  }

  &.multi-select-special span a {
    color: $text;
  }

  div.floating-highlight {
    box-sizing: border-box;
    position: absolute;
    background-color: $blue;

    @include transition-wtime(350ms, transform, height, width);
  }
}
