<div class="searchbox-container" bind="boxContainer">
  <div class="searchlist-loading-bar" bind="loadingBar"></div>
  <input
    type="text"
    bind="searchBox"
    placeholder="{{ $l('Loading...') }}"
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
    class="search-box"
    disabled
  />
  <img src="/static/images4/search.png" class="search" />
  <img src="/static/images4/search_clear.png" class="cancel" bind="cancel" />
</div>

<div class="no-result-message" bind="noResultMessage">{{ $l("empty_list") }}</div>
<div class="no-result-message while-search-active" bind="noResultSearchActiveMessage">
  {{ $l("no_search_results") }}
</div>

<div bind="list" class="list-contents"></div>
