<div bind="el" class="timeline-event timeline-{{ type }}">
  <div class="timeline-event-animator">
    <div class="timeline-header" bind="headerContainer">
      <span class="timeline-header-clock" bind="clock"></span>
      <if condition="url">
        <a class="header-text" href="{{ url }}" target="_blank" bind="headerAnchor"></a>
      </if>
      <else>
        <span class="header-text" bind="headerSpan"></span>
      </else>
    </div>

    <div bind="progress" class="progress">
      <div class="progress-bkg">
        <div bind="progressInside" class="progress-inside"></div>
      </div>
    </div>

    <for each="songs" bind="songs">
      <template use="timelineSong" />
    </for>
  </div>
</div>
