<script>
function {{ html_id }}_fix_time() {
	var d = new Date();
	d.setYear(parseInt(document.getElementById('{{ html_id }}_year').value));
	d.setMonth(parseInt(document.getElementById('{{ html_id }}_month').value));
	d.setDate(parseInt(document.getElementById('{{ html_id }}_day').value));
	d.setHours(parseInt(document.getElementById('{{ html_id }}_hour').value));
	d.setMinutes(parseInt(document.getElementById('{{ html_id }}_minute').value));
	d.setSeconds(0);
	d.setMilliseconds(0);
	document.getElementById('{{ html_id }}_timestamp').value = Math.floor((d.getTime() / 1000) - (d.getTimezoneOffset() * 60));
};
</script>

YY/MM//DD: <select id='{{ html_id }}_year' onchange='{{ html_id }}_fix_time();'>
{% for m in range(2014, 2021) %}
	<option value='{{ m }}' {% if m == at_time.year %}selected{% end %}>{{ m }}</option>
{% end %}
</select>
/
<select id='{{ html_id }}_month' onchange='{{ html_id }}_fix_time();'>
{% for m in range(1, 13) %}
	<option value='{{ m }}' {% if m == at_time.month %}selected{% end %}>{{ m }}</option>
{% end %}
</select>
/
<select id='{{ html_id }}_day' onchange='{{ html_id }}_fix_time();'>>
{% for m in range(1, 32) %}
	<option value='{{ m }}' {% if m == at_time.day %}selected{% end %}>{{ m }}</option>
{% end %}
</select>

<br>
Time: <select id='{{ html_id }}_hour' onchange='{{ html_id }}_fix_time();'>>
{% for m in range(0, 24) %}
	<option value='{{ m }}' {% if m == at_time.hour %}selected{% end %}>{{ m }}</option>
{% end %}
</select>
:
<select id='{{ html_id }}_minute' onchange='{{ html_id }}_fix_time();'>>
{% for m in range(0, 60) %}
	<option value='{{ m }}' {% if m == at_time.minute %}selected{% end %}>{{ m }}</option>
{% end %}
</select>
<br>
Epoch: 
<input type='text' id='{{ html_id }}_timestamp' size=12 disabled='disabled'/>
<script>{{ html_id }}_fix_time()</script>