<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>R4 Admin</title>
<script type="application/x-javascript">
	var current_tool = "";
	var current_station = 1;
	var current_restriction = -1;
	function change_screen() {
		window.frames.tool.location.href = "/admin/tools/" + current_tool + "?sid=" + current_station;
		window.frames.selector.location.href="/admin/album_list/" + current_tool + "?restrict=" + current_restriction;
	}
</script>
</head>
<frameset rows="25%, 80%">
	<frameset cols="33%, 33%, *">
		<frame src="/admin/tool_list" name="tool_list" />
		<frame src="/admin/station_list" name="station_list" />
		<frame src="/admin/restrict_songs" name="restrict_songs" />
	</frameset>
	<frameset cols="33%, *">
		<frame src="about:blank" name="tool" />
		<frame src="about:blank" name="selector" />
	</frameset>

	<noframes>
		Frames are required to use this page.
	</noframes>
</frameset>
</html>
