<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>R4 Admin</title>
<script src="../static/old-lyre-ajax.js" type="application/x-javascript"></script>
<script type="application/x-javascript">
	lyre.setURLPrefix("{{ api_url }}");
	lyre.setUserID("{{ user_id }}");
	lyre.setKey("{{ api_key }}");
	lyre.catcherrors = true;
	var current_tool = "";
	var current_station = 1;
	var current_restriction = 1;
	var current_sched_id = null;
	var refresh_all_screens = false;

	lyre.jsErrorCallback = function(err, json) {
		window.frames.debug.document.body.style.background = "#660000";
		window.frames.debug.document.body.style.color = "white";
		window.frames.debug.document.body.innerHTML = "Javascript error.  This needs debugging.";
	};

	function api_data_callback(json) {
		window.frames.debug.document.body.style.background = "black";
		window.frames.debug.document.body.style.color = "white";
		var str = "<table border=1>";
		for (var i = 0; i < json.length; i++) {
				for (var cb in json[i]) {
					if (cb == 'error') {
						window.frames.debug.document.body.style.background = "#660000";
					}
					for (var key in json[i][cb]) {
						if ((key == 'success') && !json[i][cb][key]) {
							window.frames.debug.document.body.style.background = "#660000";
						}
						str += "<tr><td>" + cb + "</td><td>" + key + "</td><td";
						if (key == 'traceback') {
							str += " style='font-family: monospace; white-space: pre;'";
						}
						str += ">" + json[i][cb][key] + "</td></tr>";
					}
				}
		}
		str += "</table>";
		window.frames.debug.document.body.innerHTML = str
		window.frames.tool.location.reload();
		if (refresh_all_screens) {
			window.frames.selector.location.reload();
		}
	};
	lyre.addUniversalCallback(api_data_callback);

	function change_screen() {
		lyre.setStationID(current_station);
		window.frames.tool.location.href = "tools/" + current_tool + "?sid=" + current_station;
		var new_selector_url = 
		window.frames.selector.location.href = "album_list/" + current_tool + "?sid=" + current_station + "&restrict=" + current_restriction;

		var t = window.frames.tool_list.document.getElementsByTagName("a");
		for (var i = 0; i < t.length; i++) {
			if (t[i].id == current_tool) t[i].style.background = "#006";
			else t[i].style.background = "#000";
		}
		
		var s = window.frames.station_list.document.getElementsByTagName("a");
		for (var i = 0; i < s.length; i++) {
			if (s[i].id == "sid_" + current_station) s[i].style.background = "#006";
			else s[i].style.background = "#000";
		}

		var r = window.frames.restrict_songs.document.getElementsByTagName("a");
		for (var i = 0; i < r.length; i++) {
			if (r[i].id == "sid_" + current_restriction) r[i].style.background = "#006";
			else r[i].style.background = "#000";
		}
	};

	function call_api(call, args) {
		lyre.async_get(call, args);
	};
</script>
</script>
</head>
<frameset rows="25%, 80%">
	<frameset cols="15%, 15%, 15%, *">
		<frame src="tool_list" name="tool_list" />
		<frame src="station_list" name="station_list" />
		<frame src="restrict_songs" name="restrict_songs" />
		<frame src="relay_status" name="debug" />
	</frameset>
	<frameset cols="33%, *">
		<frame src="tools/scan_results" name="tool" />
		<frame src="album_list/scan_results" name="selector" />
	</frameset>

	<noframes>
		Frames are required to use this page.
	</noframes>
</frameset>
</html>
