<!DOCTYPE html>
<html lang="{{ request.locale }}">
<head>
	<title>Rainwave 4 Beta</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ request.site_description }}" />
	<script type="text/javascript">
		var INITIAL_PAYLOAD = {{ json_encode(request.json_payload) }};
	</script>
	<link  href="static/baked/{{ revision_number }}/style.css" type="text/css" rel="stylesheet" />
	<script src="static/baked/{{ revision_number }}/{{ request.locale }}.js" type="application/javascript"></script>
</head>
<body id="body">
<div style="display: none;">
	{{ request.site_description }}
</div>
{% for file in jsfiles %}
	<script src="{{ file }}" type="application/javascript"></script>
{% end %}
<script type="application/x-javascript">
	lyre.setURLPrefix("{{ api_url }}/");
</script>
</body>
</html>
