<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<script type="text/javascript">
		var COOKIE_DOMAIN = "{{ cookie_domain }}";
		var INITIAL_PAYLOAD = {{ json_encode(request.json_payload) }};
	</script>
	<link  href="static/baked/{{ revision_number }}/style.css" type="text/css" rel="stylesheet" />
	<script src="static/baked/{{ revision_number }}/{{ request.locale.code }}.js" type="application/javascript"></script>
</head>
<body id="body">
<script type="application/javascript" src="static/ffmp3/swfobject.js"></script>
<script type="application/javascript" src="static/baked/{{ revision_number }}/script.js"></script>
<script type="application/javascript">
	lyre.setURLPrefix("{{ api_url }}");
</script>
</body>
</html>
