<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript">
		var BOOTSTRAP = {
				"cookie_domain": "{{ cookie_domain }}",
				"api_url": "{{ api_url }}",
				"sid": "{{ request.sid }}",
				"json": {{ json_encode(request.json_payload) }},
				"locales": {{ locales }},
				"relays": {{ relays }},
				"stream_filename": "{{ stream_filename }}",
				"station_list": {{ station_list }}
		};
	</script>

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="/static/baked/{{ revision_number }}/style4.css" type="text/css" rel="stylesheet" />

	{% if mobile %}
		<link href="/static/style4/mobile.css" type="text/css" rel="stylesheet" />
		<script type="application/javascript">
			var MOBILE = true;
		</script>
	{% else %}
		<script type="application/javascript">
			var MOBILE = false;
		</script>
	{% end %}

	<script src="/static/baked/{{ revision_number }}/{{ request.locale.code }}.js" type="application/javascript"></script>

	{% if jsfiles %}
		{% for file in jsfiles %}<script src="/{{ file }}" type="application/javascript"></script>{% end %}
	{% else %}
		<script src="/static/baked/{{ revision_number }}/script4.js" type="application/javascript"></script>
	{% end %}

	<script type="text/javascript">
		_size_calculate();
	</script>
</head>

<body class="loading unselectable" onload="initialize();">
	<div id="div_with_scroll" style="position: absolute; top:-1500px; width: 100px; overflow: scroll; height: 150px;">
		<div style="height: 100px; width: 10px;">&nbsp;</div>
	</div>
	<div id="measure_box">
		<div id="playlist_item_height" class="searchlist_item">&nbsp;</div>
	</div>

	<div id="top_menu_wrapper">
		<div id="top_menu">
			<ul id="top_icons">
				<li>
					<a href="http://widget.mibbit.com/?settings=6c1d29e713c9f8c150d99cd58b4b086b&amp;server=irc.synirc.net&amp;channel=%23rainwave&amp;noServerNotices=true&amp;noServerMotd=true&amp;autoConnect=true" target="_blank">
						<!--<svg><use xlink:href="/static/images4/symbols.svg#chat"></use></svg>-->
						<span class="icon_description" id="chat_link"></span>
					</a>
				</li>
				
				<li>
					<a href="http://rainwave.cc/forums" target="_blank">
						<!--<svg><use xlink:href="/static/images4/symbols.svg#forums"></use></svg>-->
						<span class="icon_description" id="forums_link"></span>
					</a>
				</li>
				
				<li id="calendar_menu_item">
					<a href="https://www.google.com/calendar/embed?src=rainwave.cc_9anf0lu3gsjmgb6k3fcoao894o@group.calendar.google.com" target="_blank">
						<!--<svg><use xlink:href="/static/images4/symbols.svg#calendar"></use></svg>-->
						<span class="icon_description" id="calendar_link"></span>
					</a>
					<div id="calendar_dropdown" class="info"></div>
				</li>
				
				<li id="user_info">
					<svg id="anonymous_user_avatar"><use id="audio_icon_stop" xlink:href="/static/images4/symbols.svg#user"></use></svg>
				</li>

				<li id="icon_cluster">
					<a href="http://twitter.com/rainwavecc" target="_blank">
						<svg><use xlink:href="/static/images4/symbols.svg#twitter"></use></svg>
					</a>
					
					<a href="http://facebook.com/rainwavecc" target="_blank">
						<svg><use xlink:href="/static/images4/symbols.svg#facebook"></use></svg>
					</a>

					<a id="about_link"><svg><use xlink:href="/static/images4/symbols.svg#about"></use></svg></a>

					<a id="settings_link"><svg><use xlink:href="/static/images4/symbols.svg#settings"></use></svg></a>
				</li>
			</ul>

			<ul id="station_select"></ul>

			<div id="current_station">
				<svg class="pulldown_arrow"><use xlink:href="/static/images4/symbols.svg#pulldown"></use></svg>
				<span id="current_station_name"></span>
			</div>

			<div id="player" class="unselectable">
				<a id="player_link" href="/tune_in/{{ request.sid }}.mp3" target="_blank">
					<svg class="audio_icon">
						<use id="audio_icon_play" xlink:href="/static/images4/symbols.svg#play"></use>
						<use id="audio_icon_stop" xlink:href="/static/images4/symbols.svg#stop"></use>
					</svg>
					<span id="audio_status"></span>
				</a>
				<svg id="audio_volume" viewBox="0 0 100 100" preserveAspectRatio="none">
					<clipPath id="volume_bars">
						<rect x="0" y="80"  width="17" height="20"  />
						<rect x="20" y="60" width="17" height="40"  />
						<rect x="40" y="40" width="17" height="60"  />
						<rect x="60" y="20" width="17" height="80"  />
						<rect x="80" y="0"  width="17" height="100" />
					</clipPath>
					<rect id="audio_volume_indicator_background" x="0" y="0" width="100" height="100" clip-path="url(#volume_bars)" />
					<rect id="audio_volume_indicator" x="0" y="0" width="100" height="100" clip-path="url(#volume_bars)" />
				</svg>
			</div>
		</div>
	</div>

	<div class="modal_container" id="about_window_container" style="display: none;">
		<div class="modal_header_wrapper">
			<div class="modal_header">
				<div id="about_modal_header" class="modal_header_content"></div>
			</div>
		</div>
		<div class="modal" id="about_window">
			<div class="setting_group setting_group_special">
				<div class="multi_select multi_select_special">
					<span>
						<a id="about_donations_link" href="http://rainwave.cc/pages/tip_jar" target="_blank"></a>
					</span>
				</div>
				<label id="about_donations_label"></label>
			</div>

			<div class="setting_group setting_group_special">
				<div class="multi_select multi_select_special">
					<span>
						<a id="about_github_link" href="http://github.com/rmcauley/rainwave" target="_blank"></a>
					</span>
				</div>
				<label id="about_github_label"></label>
			</div>

			<div><a class="link_obvious" href="http://github.com/rmcauley/rainwave/" target="_blank" id="github_link"></a></div>

			<div class="setting_subheader" id="staff_list_header"></div>
			<div class="setting_group">Jon Funk, Kevin, Metal-Ridley, Nat, Rob McAuley, Tom Helmuth, William Jackson</div>

			<div class="setting_subheader" id="relay_sponsors_header"></div>
			<div class="setting_group">Cory Petosky, <a class="link_obvious" target="_blank" href="http://www.easynews.com">Dracoirs</a>, Joe Love</div>

			<div class="setting_subheader" id="design_by"></div>
			<div class="setting_group"><a class="link_obvious" target="_blank" href="http://frzi.com">Freek Zijlmans (frzi.com)</a></div>

			<div class="setting_subheader" id="translators_header"></div>
			<div class="setting_group">BreadMaker (ES), DarkLink (DE), Metal-Ridley (FR), Metal-Geo (NL), quarterlife (FI)</div>

			<div class="setting_subheader" id="icon_attribution"></div>
			<div class="setting_group">Facebook Icon: <a class="link_obvious" target="_blank" href="http://www.thenounproject.com/megapixl">Niels Gesquiere</a></div>
			<div class="setting_group">Info Icon: <a class="link_obvious" target="_blank" href="http://www.thenounproject.com/melvin.poppelaars">Melvin Poppelaars</a></div>
			<div class="setting_group">Settings Icon: <a class="link_obvious" target="_blank" href="http://www.thenounproject.com/r0">Ryan Oksenhorn</a></div>
			<div class="setting_group">User Icon: <a class="link_obvious" target="_blank" href="http://www.thenounproject.com/kolchan">Dima Kolchan</a></div>
			<!--<div class="info_right"><a class="link_obvious" target="_blank" href="http://www.thenounproject.com/bryan@typeamachines.com">Forums: Brayn Allen</a></div>
			<div><a class="link_obvious" target="_blank" href="http://www.thenounproject.com/Icomatic">Chat: Icomatic</a></div>-->
			<!--<div><a class="link_obvious" target="_blank" href="http://www.thenounproject.com/JuanGarces">History: Juan Garces</a></div>-->
			<!--<div><a class="link_obvious" target="_blank" href="http://www.thenounproject.com/prerakpatel">Cal: Prerak Patel</a></div>-->
		</div>
		<div class="modal_bottom_border"></div>
	</div>

	<div class="modal_container" id="settings_window_container" style="display: none;">
		<div class="modal_header_wrapper">
			<div class="modal_header">
				<div id="settings_modal_header" class="modal_header_content"></div>
			</div>
		</div>
		<div id="settings_window" class="modal"></div>
		<div class="modal_bottom_border"></div>
	</div>
	
	<div id="messages"></div>

	<div id="sizable_body">
		<div id="requests_positioner">
			<div id="requests_grab_tag"></div>
			<div id="requests_scrollblock" class="scrollblock">
				<div id="requests_toolbar">
					<img id="requests_pause" class="requests_advanced" src="/static/images4/request_pause.png" width="14" height="14" />
					<img id="requests_unrated" class="requests_advanced" src="/static/images4/request_unrated.png" width="14" height="14" />
					<img id="requests_clear" class="requests_advanced" src="/static/images4/request_clear.png" width="14" height="14" />
					<img id="requests_pin" src="/static/images4/pin_hdpi.png" width="14" height="14" />
				</div>
				<div id="requests_header"></div>
				<div id="requests" class="scrollable">
					<div id="requests_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="requests_list"></div>
				</div>
			</div>
		</div>
		<div id="timeline_scrollblock" class="scrollblock">
			<div id="timeline" class="scrollable">
				<div id="timeline_scrollbar" class="scrollbar scrollbar_invisible"></div>
				<div id="timeline_resizer" class="resizer"></div>
			</div>
		</div>
		<div id="lists">
			<div id="lists_resizer" class="resizer"></div>
			<div id="lists_tabs_container">
				<ul id="lists_tabs">
					<li id="lists_tab_album" class="link" ></li>
				</ul>
			</div>
			<div id="lists_searchbox">
				<div id="searchlist_input" class="unselectable">
					<div id="searchlist_searchbox" class="searchlist_searchbox">
						<div id="searchlist_icon"></div>
						<div id="searchlist_cancel">ESC</div>
					</div>
				</div>
			</div>
			<div id="lists_container" class="scrollblock">
				<div id="lists_albums" class="searchlist scrollable">
					<div id="lists_albums_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_albums_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_albums_items" class="searchlist_items"></div>
				</div>
				<div id="lists_artists" class="searchlist scrollable">
					<div id="lists_artists_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_artists_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_artists_items" class="searchlist_items"></div>
				</div>
				<div id="lists_groups" class="searchlist scrollable">
					<div id="lists_groups_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_groups_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_groups_items" class="searchlist_items"></div>
				</div>
				<div id="lists_listeners" class="searchlist scrollable">
					<div id="lists_listeners_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_listeners_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_listeners_items" class="searchlist_items"></div>
				</div>
			</div>
		</div>
		<div id="detail_scrollblock" class="scrollblock">
			<div id="detail">
				<div id="detail_scrollbar" class="scrollbar scrollbar_invisible"></div>			
			</div>
		</div>
	</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-3567354-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
