<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave Admin</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	{% if apple_home_screen_icon %}
		<link href="{{ apple_home_screen_icon }}" rel="apple-touch-icon" />
	{% end %}
	<script type="text/javascript">
		var BOOTSTRAP = {
				"cookie_domain": "{{ cookie_domain }}",
				"api_url": "{{ api_url }}",
				"sid": "{{ request.sid }}",
				"json": {{ json_encode(request.json_payload) }},
				"locales": {{ locales }},
				"relays": {{ relays }},
				"stream_filename": "{{ stream_filename }}",
				"station_list": {{ station_list }}
		};
	</script>

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href="/static/baked/{{ revision_number }}/style4.css" type="text/css" rel="stylesheet" />

	<script type="application/javascript">
		var MOBILE = false;
	</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1-beta.2/Chart.min.js" type="application/javascript"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js" defer></script>
	<script src="/static/baked/{{ revision_number }}/{{ request.locale.code }}.js" type="application/javascript"></script>

	{% if jsfiles %}
		{% for file in jsfiles %}<script src="/{{ file }}" type="application/javascript"></script>{% end %}
	{% else %}
		<script src="/static/baked/{{ revision_number }}/script4.js" type="application/javascript"></script>
	{% end %}

	<script src="/static/baked/admin.js"></script>

	<script type="text/javascript">
		_size_calculate();
	</script>
</head>

<body class="loading unselectable" onload="initialize();">
	<div id="div_with_scroll" style="position: absolute; top:-1500px; width: 100px; overflow: scroll; height: 150px;">
		<div style="height: 100px; width: 10px;">&nbsp;</div>
	</div>
	<div id="measure_box">
		<div id="playlist_item_height" class="searchlist_item">&nbsp;</div>
	</div>

	<div id="top_menu_wrapper">
		<div id="top_menu">
			<ul id="top_icons"></ul>

			<div id="station_select_container">
				<div id="station_select">
					<div id="station_select_header"></div>
					<svg class="pulldown_arrow"><use xlink:href="/static/images4/symbols.svg#pulldown"></use></svg>
				</div>
			</div>
		</div>
	</div>

	<div class="modal_container" id="settings_window_container" style="display: none;">
		<div class="modal_header_wrapper">
			<div class="modal_header">
				<div class="modal_header_content">
					<svg id="settings_modal_close"><use xlink:href="/static/images4/symbols.svg#close"></use></svg>
					<span id="settings_modal_header"></span>
				</div>
			</div>
		</div>
		<div id="settings_window" class="modal"></div>
		<div class="modal_bottom_border"></div>
	</div>

	<div class="modal_container" id="rating_window_container" style="display: none;">
		<div class="modal_header_wrapper">
			<div class="modal_header">
				<div class="modal_header_content">
					<svg id="rating_modal_close"><use xlink:href="/static/images4/symbols.svg#close"></use></svg>
					<span id="rating_modal_header"></span>
				</div>
			</div>
		</div>
		<div id="rating_window" class="modal">
			<div id="rating_window_5_0">5.0</div>
			<div id="rating_window_4_5">4.5</div>
			<div id="rating_window_4_0">4.0</div>
			<div id="rating_window_3_5">3.5</div>
			<div id="rating_window_3_0">3.0</div>
			<div id="rating_window_2_5">2.5</div>
			<div id="rating_window_2_0">2.0</div>
			<div id="rating_window_1_5">1.5</div>
			<div id="rating_window_1_0">1.0</div>
		</div>
		<div class="modal_bottom_border"></div>
	</div>

	<div id="messages"></div>

	<div id="sizable_body">
		<div id="requests_positioner">
			<div id="requests_grab_tag"></div>
			<div id="requests_scrollblock" class="scrollblock">
				<div id="requests_header"></div>
				<div id="requests" class="scrollable">
					<div id="requests_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="requests_list"></div>
				</div>
			</div>
		</div>
		<div id="timeline_scrollblock" class="scrollblock">
			<div id="timeline" class="scrollable">
				<div id="timeline_scrollbar" class="scrollbar scrollbar_invisible"></div>
				<div id="timeline_resizer" class="resizer"></div>
			</div>
		</div>
		<div id="lists">
			<div id="lists_resizer" class="resizer"></div>
			<div id="lists_tabs_container">
				<ul id="lists_tabs">
					<li id="lists_tab_album" class="link" ></li>
				</ul>
			</div>
			<div id="lists_searchbox">
				<div id="searchlist_input" class="unselectable">
					<div id="searchlist_searchbox" class="searchlist_searchbox">
						<div id="searchlist_icon"></div>
						<div id="searchlist_cancel">ESC</div>
					</div>
				</div>
			</div>
			<div id="lists_container" class="scrollblock">
				<div id="lists_albums" class="searchlist scrollable">
					<div id="lists_albums_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_albums_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_albums_items" class="searchlist_items"></div>
				</div>
				<div id="lists_artists" class="searchlist scrollable">
					<div id="lists_artists_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_artists_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_artists_items" class="searchlist_items"></div>
				</div>
				<div id="lists_groups" class="searchlist scrollable">
					<div id="lists_groups_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_groups_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_groups_items" class="searchlist_items"></div>
				</div>
				<div id="lists_listeners" class="searchlist scrollable">
					<div id="lists_listeners_stretcher" class="searchlist_stretcher"></div>
					<div id="lists_listeners_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_listeners_items" class="searchlist_items"></div>
				</div>
			</div>
		</div>
		<div id="detail_scrollblock" class="scrollblock">
			<div id="detail">
				<div id="detail_scrollbar" class="scrollbar scrollbar_invisible"></div>
			</div>
		</div>
	</div>
</body>
</html>
