<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave 4 Beta</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<script type="text/javascript">
		var BOOTSTRAP = {
				"cookie_domain": "{{ cookie_domain }}",
				"api_url": "{{ api_url }}",
				"sid": "{{ request.sid }}",
				"json": {{ json_encode(request.json_payload) }},
				"locales": {{ locales }},
				"relays": {{ relays }},
				"stream_filename": "{{ stream_filename }}",
				"station_list": {{ station_list }}
		};
	</script>
	<link href="/static/baked/{{ revision_number }}/style4.css" type="text/css" rel="stylesheet" />
	<script src="/static/baked/{{ revision_number }}/{{ request.locale.code }}.js" type="application/javascript"></script>
	{% if jsfiles %}
		{% for file in jsfiles %}<script src="/{{ file }}" type="application/javascript"></script>{% end %}
	{% else %}
		<script src="/static/baked/{{ revision_number }}/script4.js" type="application/javascript"></script>
	{% end %}
	<script type="text/javascript">
		_size_calculate();
	</script>
</head>
<body class="loading unselectable" onload="initialize();">
	<audio preload="none" id="audio"></audio>
	<div id="div_with_scroll" style="position: absolute; top:-1500px; width: 100px; overflow: scroll; height: 150px;">
		<div style="height: 100px; width: 10px;">&nbsp;</div>
	</div>
	<div id="measure_box">
		<div id="playlist_item_height" class="searchlist_item">Hello</div>
	</div>
	<div id="menu">
		<img src="/static/images4/logo.png" id="rainwave_logo"></img>
		<ul id="station_select"></ul>
		<div id="player"><a onclick="R4Audio.play();">Play</a><a onclick="R4Audio.stop()">Stop</a></div>
	</div>
	<div id="messages"></div>
	<div id="sizable_body">
		<div id="requests" class="scrollable">
			<div id="requests_scrollbar" class="scrollbar scrollbar_invisible"></div>
			<div id="requests_header"></div>
			<div id="requests_toolbar">
				<img id="requests_pin" src="/static/images4/pin_hdpi.png" width="14" height="14" />
				<img id="requests_pause" class="requests_advanced" src="/static/images4/request_pause.png" width="14" height="14" />
				<img id="requests_unrated" class="requests_advanced" src="/static/images4/request_unrated.png" width="14" height="14" />
				<img id="requests_clear" class="requests_advanced" src="/static/images4/request_clear.png" width="14" height="14" />
			</div>
			<div id="requests_list_scrollblock">
				<div id="requests_list"></div>
			</div>
		</div>
		<!--<div id="history">
			<img id="history_pin" src="/static/images4/pin_hdpi.png" width="14" height="14" />
			<div id="history_header"></div>
			<div id="history_list"></div>
		</div>-->
		<div id="timeline_scrollblock" class="scrollblock">
			<div id="timeline" class="scrollable">
				<div id="timeline_scrollbar" class="scrollbar scrollbar_invisible"></div>
				<div id="timeline_resizer" class="resizer"></div>
			</div>
		</div>
		<div id="lists">
			<div id="lists_resizer" class="resizer"></div>
			<ul id="lists_tabs"></ul>
			<div id="lists_searchbox">
				<div id="searchlist_input">
					<div id="searchlist_searchbox" class="searchlist_searchbox"></div>
					<img id="searchlist_cancel" src="/static/images4/cancel_ldpi.png" class="searchlist_cancel" alt="x" />
				</div>
			</div>
			<div id="lists_container" class="scrollblock">
				<div id="lists_albums" class="searchlist scrollable">
					<div id="lists_albums_items"></div>
					<div id="lists_albums_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_albums_stretcher"></div>
				</div>
				<div id="lists_artists" class="searchlist scrollable">
					<div id="lists_artists_items"></div>
					<div id="lists_artists_scrollbar" class="scrollbar scrollbar_invisible"></div>
					<div id="lists_artists_stretcher"></div>
				</div>
			</div>
		</div>
		<div id="detail" class="scrollable">
			<div id="detail_scrollbar" class="scrollbar scrollbar_invisible"></div>			
		</div>
	</div>
</body>
</html>
