<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave 4 Beta</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<script type="text/javascript">
		var BOOTSTRAP = {
				"cookie_domain": "{{ cookie_domain }}",
				"api_url": "{{ api_url }}",
				"sid": "{{ request.sid }}",
				"json": {{ json_encode(request.json_payload) }},
				"locales": {{ locales }},
				"relays": {{ relays }},
				"stream_filename": "{{ stream_filename }}"
		};
	</script>
	<link href="/static/baked/{{ revision_number }}/style4.css" type="text/css" rel="stylesheet" />
	<script src="/static/baked/{{ revision_number }}/{{ request.locale.code }}.js" type="application/javascript"></script>
</head>
<body onload="initialize();">
	{% for file in jsfiles %}<script src="/{{ file }}" type="application/javascript"></script>{% end %}
	<audio preload="none" id="audio"></audio>
	<div id="measure_box"></div>
	<div id="menu">
		<div id="rainwave_logo">...</div>
		<ul id="station_select">
			<li id="station_select_5"><a id="station_select_5_link" href="http://all.rainwave.cc"></a><div class="station_select_info" id="station_select_5_info"></div></li>
			<li id="station_select_1"><a id="station_select_1_link" href="http://game.rainwave.cc"></a><div class="station_select_info"  id="station_select_1_info"></div></li>
			<li id="station_select_4"><a id="station_select_4_link" href="http://chiptune.rainwave.cc"></a><div class="station_select_info"  id="station_select_4_info"></div></li>
			<li id="station_select_3"><a id="station_select_3_link" href="http://covers.rainwave.cc"></a><div class="station_select_info"  id="station_select_3_info"></div></li>
			<li id="station_select_2"><a id="station_select_2_link" href="http://ocremix.rainwave.cc"></a><div class="station_select_info"  id="station_select_2_info"></div></li>
		</ul>
		<div id="user_information"></div>
		<div id="player"><a onclick="R4Audio.play();">Play</a><a onclick="R4Audio.stop()">Stop</a></div>
	</div>
	<div id="messages"></div>
	<div id="sizable_body">
		<div id="requests">
			<div id="requests_header">
				<img id="requests_pin" src="/static/images4/pin_hdpi.png" width="14" height="14">
				<img id="requests_menu_toggle" src="/static/images4/pin_hdpi.png" width="14" height="14">
			</div>
			<ul id="requests_options">
				<li id="requests_pause_queue"></li>
				<li id="requests_unrated_fill"></li>
				<li id="requests_clear_queue"></li>
			</ul>
			<div id="requests_list"></div>
		</div>
		<div id="timeline">
			<a id="timeline_header_now_playing" class="timeline_header"></a>
			<div id="timeline_header_now_playing_bar">
				<div id="timeline_header_now_playing_bar_inside"></div>
			</div>
			<div id="timeline_header_history" class="timeline_header"></div>
			<div id="timeline_header_history_bar" class="timeline_header_bar"></div>
		</div>
		<div id="lists"></div>
		<div id="detail"></div>
	</div>
</body>
</html>
