<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave 4 Beta</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<script type="text/javascript">
		var BOOTSTRAP = {
				"cookie_domain": "{{ cookie_domain }}",
				"api_url": "{{ api_url }}",
				"sid": "{{ request.sid }}",
				"json": {{ json_encode(request.json_payload) }},
				"locales": {{ locales }},
				"relays": {{ relays }},
				"stream_filename": "{{ stream_filename }}",
				"station_list": {{ station_list }}
		};
	</script>
	<link href="/static/baked/{{ revision_number }}/style4.css" type="text/css" rel="stylesheet" />
	<script src="/static/baked/{{ revision_number }}/{{ request.locale.code }}.js" type="application/javascript"></script>
</head>
<body onload="initialize();">
	{% for file in jsfiles %}<script src="/{{ file }}" type="application/javascript"></script>{% end %}
	<audio preload="none" id="audio"></audio>
	<div id="measure_box">
		<div id="timeline_height_measure" class="timeline_header">Hello</div>
	</div>
	<div id="menu">
		<img src="/static/images4/logo.png" id="rainwave_logo"></img>
		<ul id="station_select"></ul>
		<div id="player"><a onclick="R4Audio.play();">Play</a><a onclick="R4Audio.stop()">Stop</a></div>
	</div>
	<div id="messages"></div>
	<div id="sizable_body">
		<div id="requests">
			<div id="requests_header"></div>
			<div id="requests_toolbar">
				<img id="requests_pin" src="/static/images4/pin_hdpi.png" width="14" height="14" />
				<img id="requests_pause" class="requests_advanced" src="/static/images4/request_pause.png" width="14" height="14" />
				<img id="requests_unrated" class="requests_advanced" src="/static/images4/request_unrated.png" width="14" height="14" />
				<img id="requests_clear" class="requests_advanced" src="/static/images4/request_clear.png" width="14" height="14" />
			</div>
			<div id="requests_list"></div>
		</div>
		<div id="history">
			<img id="history_pin" src="/static/images4/pin_hdpi.png" width="14" height="14" />
			<div id="history_header"></div>
			<div id="history_list"></div>
		</div>
		<div id="timeline"></div>
		<div id="lists">
			<ul id="lists_tabs"></ul>
			<div id="lists_searchbox">
				<div id="searchlist_input"></div>
			</div>
			<div id="lists_container"></div>
		</div>
		<div id="detail"></div>
	</div>
</body>
</html>
