<!DOCTYPE html>
<html lang="{{ request.locale.code }}">
<head>
	<title>Rainwave {{ station_name }}</title>
	<meta charset="UTF-8" />
	<meta name="description" content="{{ site_description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script src="/static/baked/{{ revision_number }}/{{ request.locale.code }}.js"></script>
	<script src="/api4/bootstrap"></script>

	{% if jsfiles %}
		<script src="/static/baked/{{ revision_number }}/templates5b.js"></script>
		{% for file in jsfiles %}
			<script src="/{{ file }}" type="application/javascript"></script>
		{% end %}
	{% else %}
		<script src="/static/baked/{{ revision_number }}/templates5.js"></script>
		<script src="/static/baked/{{ revision_number }}/script5.js" type="application/javascript"></script>
	{% end %}

	{% if apple_home_screen_icon %}
		<link href="{{ apple_home_screen_icon }}" rel="apple-touch-icon"></link>
	{% end %}

	{% if not mobile %}
		<style>
			@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
		</style>
	{% end %}

	{% if jsfiles %}
		<link href="/static/baked/{{ revision_number }}/style5b.css" type="text/css" rel="stylesheet"></link>
	{% else %}
		<link href="/static/baked/{{ revision_number }}/style5.css" type="text/css" rel="stylesheet"></link>
	{% end %}

	{% if not mobile %}
		<style>
			::-webkit-scrollbar {
			    width: 8px;
			}

			::-webkit-scrollbar-track {
			    display: none;
			}

			::-webkit-scrollbar-thumb {
			    border-width: 1px;
				border-style: solid;
				border-color: #555;
			}
		</style>
	{% end %}
</head>

<body class="simple loading">
	<svg class="unselectable audio_volume" id="audio_volume" viewBox="0 0 100 100" preserveAspectRatio="none" style="display: none;">
		<clipPath id="volume_bars">
			<rect x="0" y="80"  width="17" height="20"></rect>
			<rect x="20" y="60" width="17" height="40"></rect>
			<rect x="40" y="40" width="17" height="60"></rect>
			<rect x="60" y="20" width="17" height="80"></rect>
			<rect x="80" y="0"  width="17" height="100"></rect>
		</clipPath>
		<rect id="audio_volume_indicator_background" x="0" y="0" width="100" height="100" clip-path="url(#volume_bars)" style="opacity: 0.3;"></rect>
		<rect id="audio_volume_indicator" x="0" y="0" width="100" height="100" clip-path="url(#volume_bars)"></rect>
	</svg>
</body>
</html>
