<h2>Terms of Service, June 30th 2020</h2>
<ul>
    <li>
        By using Rainwave you agree to enjoy the music we stream, free of
        worries about ad trackers or identifiable information.
    </li>
</ul>

<h2>Privacy Policy</h2>
<ul>
    <li>We store no personally identifiable information.</li>
    <li>
        We do not run analytics or advertisements on our site, nor do we track
        how you visited us. (e.g. search keywords)
    </li>
    <li>
        We keep your OpenID identifier from Google/Facebook et al. in order to
        identify you when you return to Rainwave, and discard any other
        information provided.
    </li>
    <li>
        We store your votes, request, and rating history as a part of running
        the site and to prevent site abuse by e.g. duplicate voting.
    </li>
    <li>
        You can request an account deletion at any time. Account deletions are
        immediate and irreversible.
    </li>
</ul>

<p>
    Trust the service you use to authenticate with us, because they know you'll
    be using our site.
</p>

<p>
    We'd like to request less, but e.g. Google makes it impossible
    <i>not</i> to request your email address.
</p>

<h2>I don't like logging in via Google/Facebook!</h2>
<p>
    We refuse to ever be responsible for an email or password leak due to a bug
    or a hacking incident on Rainwave. You're safer this way.
</p>
