$img_dir: ../../images;

$background: #000000;
$text: rgb(240, 240, 240);
$darktext: #CCCCCC;
$vdarktext: #777777;
$vvdarktext: #444444;
$highlight: #1f95e5;
$link: #6cf6ff;
$donorcolor: #FFFF00;
$transtime: 700ms ease-out;

body {
    height: 100%;
    background: $background;
    color: $text;
    margin: 0;
    padding: 0;

    
}

#measure_box {
	position: absolute;
	visibility: hidden;
	width: 100%;
}

#menu {
	background: $background;
}

#messages {
	position: absolute;
}

@import "ratings.css";

@import "timeline.css";

#album_list {
	width: 20em;
	height: 100%;
	float: left;
}

#album_view {
	height: 100%;
	width: 100%;
}

#requests {
	float: right;
	width: 0%;
	overflow: hidden;
}
