$img_dir: ../../images;

$background: #000000;
$text: #FFFFFF;
$darktext: #CCCCCC;
$vdarktext: #777777;
$vvdarktext: #444444;
$link: #6cf6ff;
$donorcolor: #FFFF00;

html, body {
    height: 100%;
    background: $background;
    color: $text;
    margin: 0;
    padding: 0;
}

#menu {
	background: #500;
}

#messages {
	position: absolute;
}

#timeline {
	float: left;
	height: 100%;
	background: #055;
}

#album_list {
	min-width: 25em;
	max-width: 40em;
	height: 100%;
	float: left;
	background: #050;
}

#album_view {
	height: 100%;
	width: 100%;
	background: #005;
}

#requests {
	display: none;
}
