#detail_scrollblock {
	position: relative;
	box-sizing: content-box;
	height: 100%;
}

body.stage_0 #detail_scrollblock, body.stage_1 #detail_scrollblock, body.stage_2 #detail_scrollblock {
	display: none;
}

#detail {
	height: 100%;
	overflow-y: scroll;
}

#detail canvas {
	float: left;
	position: relative;
}

#detail div.canvas_header {
	float: right;
	font-size: small;
	@include transform(rotate(-90deg) translateY(-110%) translateX(10px));
	-webkit-transform-origin: top right;
	        transform-origin: top right;
	text-align: center;
	width: 80px;
	margin: 0;
	padding: 0;
}

div.detail_view {
	position: relative;
	padding: 10px;
	margin-right: 10px;
	@include transition(padding);
}

body.requests_sticky div.detail_view {
	padding-right: 380px;
}

#detail_scrollbar {
	@include transform(translateX(-15px));
}

#detail_scrollbar:hover {
	@include transform(translateX(-17px));
}

body.requests_sticky #detail_scrollbar {
	@include transform(translateX(-370px));
}


/* ART */

#detail div.art_anchor {
	float: left;
}

#detail div.art_container, #detail div.art_anchor {
 	width: 120px;
 	height: 120px;
}

#detail div.art_expandable:hover {
	width: 140px;
 	height: 140px;
}

#detail div.detail_view_listener div.art_container {
	background-color: #000;
}

/* HEADER */

#detail h1 {
	font-size: 1.6em;
	border-bottom: solid 1px $orange;
	margin: 0 20px 5px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#detail h2 {
	font-size: larger;
	border-bottom: 1px solid $vdarktext;
	margin-bottom: 5px;
	padding-bottom: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.albumview_header {
	min-height: 130px;
	margin-left: 130px;
}

div.albumview_header div.rating {
	margin-right: 10px;
}

.albumview_info {
	color: $darktext;
	font-size: 0.8em;
}

/* SONGLIST */

table.songlist {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
}

table.songlist td {
	vertical-align: top;
	padding: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: transparent;
	@include transition-wtime(300ms, width, background-color, border-bottom-color);
}

tr.songlist_cool td {
	background-color: $cooldown-color;
	border-bottom-color: $cooldown-color;
}

table.songlist tr:hover td {
	background-color: $hovercolor;
	border-bottom-color: $hovercolor-border;
	@include no-transition();
}

div.songlist_title_text, div.songlist_artists_text, div.songlist_album_name_text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.songlist_title_text:hover, div.songlist_artists_text:hover, div.songlist_album_name_text:hover {
	white-space: normal;
}

table.songlist img.link_external {
	height: 14px;
	width: 14px;
}

td.songlist_rating {
	padding-left: 5px;
	width: 70px;
}

td.songlist_rating_user_number {
	color: $highlight;
	width: 1.5em;
}

td.songlist_rating_number {
	color: $darktext;
	width: 1.5em;
}

td.songlist_rating > div {
	position: absolute;
}

td.songlist_rating_clear {
	width: 1em;
}

td.songlist_length {
	width: 35px;
	padding-right: 5px;
}

td.songlist_disc_number {
	width: 8px;
	text-align: right;
}

td.songlist_track_number {
	width: 15px;
	text-align: right;
}

td.songlist_url {
	width: 15px;
}

td.songlist_cool_end {
	width: 40px;
}

td.songlist_artists {
	max-width: 150px;
	min-width: 80px;
}

td.songlist_title {
	position: relative;
	max-width: 200px;
	cursor: pointer;
}

table.songlist td.songlist_requestable {
	width: 16px;
	overflow: hidden;
	cursor: pointer;
}

table.songlist td.songlist_requestable img {
	height: 14px;
	width: 14px;
}

table.songlist td.songlist_not_requestable {
	width: 16px;	
}

table.songlist td.songlist_requestable span {
	display: none;
}

table.songlist tr:hover img.faveable {
	opacity: 1;
}

div.songlist_request_hint table.songlist td.songlist_requestable {
	width: 80px;
}

div.songlist_request_hint table.songlist td.songlist_requestable span {
	display: inline-block;
	padding-left: 3px;
}

div.rating_title_el_fave {
	color: $fave_color;
}

div.songlist_extra_detail {
	position: absolute;
	padding: 3px;
	background: #000;
	border: solid 1px $vvdarktext;
	opacity: 0;
	left: 8em;
	z-index: 1;
	height: 0px;
	overflow: hidden;

	@include transition-wtime(250ms, opacity, height, transform);
	@include transform(translateY(0));
}

div.songlist_extra_detail canvas {
	float: left;
}

div.songlist_extra_detail div.songlist_extra_detail_item {
	margin-left: 110px;
}

td.songlist_title:hover div.songlist_extra_detail {
	opacity: 1;
	height: 100px;
	@include transform(translateY(-100px));
}

/* USER DETAILS */

div.detail_view_listener div.art_container.avatar {
	background-size: contain;
}

ul.user_detail_legend {
	display: block;
	position: relative;
	left: 50%;
	@include transform(translateX(-50%));
	padding: 0;
}

ul.user_detail_legend li {
	border-radius: 3px;
	display: inline;
	padding: .4em .7em;
	font-weight: bold;
}

ul.user_detail_legend li + li {
	margin-left: 1em;
}

div.user_detail_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

div.user_detail_segment {
	float: left;
	width: 250px;
	margin-left: 30px;
	text-align: center;
}

div.user_detail_segment h3 {
	text-align: center;
}

div.user_detail_segment {
	margin: 0;
	padding: 0;
	border: none;
}
