#detail {
	overflow: hidden;
	position: relative;
	height: 100%;
}

#detail .art_container {
	float: left;
	margin-right: 10px;
	height: 120px;
	width: 120px;
}

#detail .art_container .art {
	max-height: 120px;
	max-width: 120px;
}

#detail .art_expandable:hover .art {
	border-width: 0px;
	@include transform(none);
}

#detail h1 {
	font-size: 1.6em;
	padding-bottom: 10px;
	border-bottom: solid 1px #555;
	margin-bottom: 10px;
}

.albumview_header {
	min-height: 130px;
}

.albumview_info {
	color: $darktext;
	font-size: 0.8em;
}

div.albumview_subheader {
	border-bottom: solid 1px $vdarktext;
}

table.songlist + div.albumview_subheader {
	margin-top: 1.3em;
}

table.songlist {
	background-color: #1f2022;
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 10px;
	width: 100%;
	table-layout: fixed;
	empty-cells: show;
}

table.songlist td {
	vertical-align: top;
	padding: 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: transparent;
	@include transition-wtime(300ms, width, background-color, border-bottom-color);
}

table.songlist tr:hover td {
	background-color: #212236;
	border-bottom-color: #2f314d;
}

table.songlist tr td:hover {
	z-index: 2;
}

td.songlist_title, td.songlist_artists {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.songlist_title_text, div.songlist_artists_text {
	display: inline;
}

table.songlist div.overflow_tooltip {
	display: block;
	background-color: #2F304D;
    border: 1px solid #3E4066;
    padding: 3px;
    transform: translate(-4px, -4px);
}

td.songlist_rating {
	width: 70px;
}

td.songlist_rating > div {
	position: absolute;
}

td.songlist_length {
	width: 30px;
}

td.songlist_url {
	width: 15px;
}

td.songlist_cool_end {
	width: 40px;
}

td.songlist_artists {
	max-width: 150px;
	min-width: 80px;
}

td.songlist_title {
	max-width: 200px;
}

table.songlist td.songlist_requestable {
	width: 16px;
	overflow: hidden;
	cursor: pointer;
}

table.songlist td.songlist_not_requestable {
	width: 16px;	
}

div.songlist_request_hint table.songlist td.songlist_requestable {
	width: 70px;
}

#detail .scrollbar {
	@include transform(translateX(-15px));
}

#detail .scrollbar:hover {
	@include transform(translateX(-17px));
}