#history {
	z-index: 5;
	position: absolute;
	left: -350px;
	width: 350px;
	overflow: hidden;
	opacity: 1;
	@include transition-wtime(300ms, transform, background-color, opacity);

	background: rgb(0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,1) 95%, rgba(30,81,153,1) 100%);
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 95%,rgba(30,81,153,1) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,1) 95%,rgba(30,81,153,1) 100%);
	background: linear-gradient(to right, rgba(0,0,0,1) 95%,rgba(30,81,153,1) 100%);
}

#history.nonsticky {
	z-index: 5;
	opacity: .7;
	@include transform(translateX(15px));
}

#history.nonsticky:hover, #history.fake_hover {
	opacity: 1;
	@include transform(translateX(350px));
}

#history.nonsticky + #timeline {
	margin-left: 10px;
}

#history.sticky {
	position: relative;
	float: left;
	height: 100%;
	@include transition(background-color, border-color);
	@include transform(translateX(350px));
}

#history_header {
    float: right;
    font-size: smaller;
    left: 100%;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: left top 0;
    width: 20em;
    padding-left: 5px;
    height: 16px;
}

#history_list {
	margin-left: 5px;
}

#history_list .timeline_song {
	position: absolute;
	padding: 0;
	width: 96%;
}

#history #history_pin {
	float: right;
	margin: 1px 20px;
	border: solid 1px transparent;
	padding: 1px;
}

#history.sticky #history_pin {
	border: inset 1px #222;
	background: #111;
}
