#history_outer_container {
	margin-top: 10px;
}

#history_outer_container svg.pulldown_arrow {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	opacity: 1;
	@include transition-wtime(350ms, opacity);
}

#history_outer_container div.timeline_header a:link, #history_outer_container div.timeline_header a:visited, #history_outer_container div.timeline_header .link {
	color: $vdarktext;
}

#history_outer_container:hover svg.pulldown_arrow {
	opacity: 0;
}

#longhist_link, #history_pin {
	opacity: 0;
	float: right;
	@include transition-wtime(350ms, opacity);
	margin-left: 10px;
}

#history_pin {
	margin-top: 3px;
}

#history_outer_container:hover #longhist_link {
	opacity: 1;
}

#history_outer_container:hover #history_pin {
	opacity: 0.6;
}

#history_outer_container svg.pulldown_arrow * {
	fill: $vdarktext;
}

#history_container {
	overflow: hidden;
	@include transition-wtime(350ms, opacity, height);
}

#history_list {
	position: relative;
	@include transition-wtime(350ms, top);
}