$menu_height: 45px;

#top_menu_wrapper {
	background: $highlight_dark;
	height: $menu_height;
	overflow: hidden;
}

#top_menu {
	box-sizing: border-box;
	color: #FFF;
	background: $highlight;
	margin: 0 auto;
	padding: 0 5px;
	width: 100%;
	max-width: 100%;
	height: $menu_height;

	@include transition(max-width);
}

body.stage_0 #top_menu, body.stage_1 #top_menu, body.stage_2 #top_menu {
	max-width: 1024px;
}

#top_menu svg {
	display: inline;
	height: 20px;
	width: 20px;
}

#top_menu svg rect, #top_menu svg circle, #top_menu svg path, #top_menu svg polygon {
	fill: #FFF;
	@include transition-wtime(150ms, fill);
}

#facebook_f {
	fill: $highlight !important;
}

#about_window, #settings_window {
	display: none;
}

/* CURRENT STATION */

#current_station {
	border-right: 1px solid #1e71a9;
	box-sizing: border-box;
	min-width: 15em;
	float: left;
	height: $menu_height;
	padding: 0 20px 0 15px;
	margin-right: 20px;
}

#current_station svg.pulldown_arrow {
	float: right;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

#current_station span#current_station_name {
	display: block;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
	font-style: italic;
	font-size: 2em;
	font-weight: 300;
	text-transform: uppercase;
}

/* STATION SELECT */

#station_select {
	display: none;
	position: absolute;
}

/* ICONS AND LINKS */

#top_icons {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

#top_icons li {
	display: inline;
	padding: 0 .5em;
}

#top_icons li svg {
	@include transform(translateY(.1em));
}

#top_icons #anonymous_user_avatar {
	display: none;
}

#top_icons li.show_anonymous_avatar #anonymous_user_avatar {
	display: inline;
}

/* PLAYER */

#player {
	position: relative;
	display: inline-block;
	top: 50%;
	@include transform(translateY(-50%));
	font-size: 2em;
	font-style: italic;
	font-weight: 300;
}

#player #audio_status {
	padding-left: 1.15em;
	@include transition(LINKCOLOR);
}

#player a:hover #audio_status {
	color: $linkhover;
}

#player svg.audio_icon {
	position: absolute;
	left: 5px;
	height: 0.9em;
	width: 0.8em;
	margin-top: .25em;
}

#player a:hover svg.audio_icon rect, #player a:hover svg.audio_icon circle, #player a:hover svg.audio_icon path, #player a:hover svg.audio_icon polygon {
	fill: $linkhover;
}

#player svg.audio_icon use {
	@include transition(opacity);
}

#player #audio_icon_stop {
	opacity: 0;
}

#player.playing #audio_icon_stop {
	opacity: 1;
}

#player.playing #audio_icon_play {
	opacity: 0;
}

#top_menu #player svg#audio_volume {
	margin-left: .3em;
	width: 1.3em;
	height: .7em;
	opacity: 0;
	@include transition(opacity);
}

#top_menu #player.playing svg#audio_volume {
	opacity: 1;
}

/* CALENDAR */

#calendar_dropdown {
	display: none;
}