#lists {
	width: 320px;
	min-width: 250px;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	background: #1f2022;
	margin-right: 10px;
	table-layout: fixed;
}

#lists_tabs {
	padding: 4px 0 0 0;
}

#lists_searchbox {
	padding: 5px 0 5px 0;
}

#lists_container {
	overflow: hidden;
}

ul.lists_tabs {
	list-style: none;
	margin: 0 0 0 5px;
	padding: 0;
	background: #1f2022;
}

ul.lists_tabs li {
	padding: 0 10px 0 0;
	display: inline;
	cursor: default;
	color: $vdarktext;
	@include transition(LINKCOLOR, background-color, opacity);
}

ul.lists_tabs li.list_tab_open {
	color: $highlight;
}

div.searchlist_searchbox {
	border-top: solid 1px $vdarktext;
	border-bottom: solid 1px $vvdarktext;
	background: #1f2022;
}

div.searchlist_input {
	background-color: #0e0e0f;
	border: none;
	color: $vdarktext;
	margin: 0;
	padding: 2px 4px 5px 5px;
	cursor: text;
	height: 1.2em;
	@include transition-wtime(300ms, background-color);
}

div.searchlist_input_active {
	color: $text;
}

div.searchlist_input.hotkey_mode {
	color: $text;
	background-color: #0e0e3f;
	@include transition-wtime(300ms, background-color, color);
}

div.searchlist_input.hotkey_mode_error {
	color: $text;
	background-color: #3f0e0e;
}

img.searchlist_cancel {
	float: right;
	opacity: 0.7;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
}

div.searchlist {
	position: relative;
	overflow: hidden;
	height: 100%;
}

div.searchlist > div {
	background-repeat: no-repeat;
	height: 1.3em;
	padding: 0 65px 0 0;
	margin-right: 10px;
	border-bottom: solid 1px transparent;
	cursor: pointer;
	@include transition-wtime(200ms, background-color, border-color);
}

span.searchlist_name {
	display: block;
	@include transition-wtime(200ms, padding, color);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	padding-left: 20px;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.resizing div.searchlist > div {
	background-image: none !important;
}

div.searchlist_cooldown {
	background-color: #1f2041;
}

div.searchlist_rating_complete {
	background-color: #18331c;
}

div.searchlist_cooldown.searchlist_rating_complete {
	background-color: #15162b;
}

div.searchlist_fave_on span.searchlist_name {
	background-image: url("/static/images4/heart_solid.png");
}

div.searchlist > div:hover span.searchlist_name {
	padding-left: 27px;
	color: $link;
	background-image: url("/static/images4/heart_lined.png");
}

span.searchlist_cooldown_time {
	cursor: text;
	display: none;
	width: 2em;
}

div.searchlist_cooldown_visible span.searchlist_cooldown_time {
	display: inline-block;
}

div.searchlist > div:hover, div.searchlist div.searchtable_key_nav_hover {
	border-color: #1a435e;
	background-color: #143347;
}

div.searchlist > div:hover span.searchlist_name, div.searchlist div.searchtable_key_nav_hover span.searchlist_name {
	padding-left: 27px;
}

div.searchlist > div.searchlist_open_item span.searchlist_name {
	padding-left: 33px;
}

div.searchlist div.searchlist_open_item {
	background-color: #1f4f70;
	border-color: #245b80;
}