#lists {
	width: 21em;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	background: #1f2022;
	padding-left: 10px;
	margin-right: 10px;
}

ul.lists_tabs {
	list-style: none;
	display: none;
}

ul.lists_tabs li {
	display: inline;
}

div.searchlist_searchbox {
	border-bottom: solid 1px $vdarktext;
	position: fixed;
	width: inherit;
	z-index: 2;
	background: #1f2022;
	margin-left: -10px;
	padding-top: 5px;
}

div.searchlist_input {
	background: #0e0e0f;
	border: none;
	color: $vdarktext;
	margin: 0 5px 5px 5px;
	padding: 2px 4px 5px 5px;
	cursor: text;
	height: 1.2em;
}

div.searchlist_input_active {
	color: $text;
}

img.searchlist_cancel {
	float: right;
	opacity: 0.7;
	margin-top: 5px;
	margin-right: 10px;
	cursor: pointer;
}

div.searchlist {
	width: 95%;
}

div.searchlist > div {
	overflow: hidden;
	background-repeat: no-repeat;
	word-break: break-all;
	height: 1.3em;
	padding: 1px 60px 1px 0px;
	border-bottom: solid 1px transparent;
	cursor: pointer;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.searchlist_cooldown {
	background-color: #1f2041;
}

div.searchlist_rating_complete {
	background-color: #18331c;
}

div.searchlist_cooldown.searchlist_rating_complete {
	background-color: #000;
}

div.searchlist > div:hover span.searchlist_name {
	padding-left: 7px;
}

span.searchlist_fave {
	display: inline-block;
	width: 20px;
	height: 1em;
	min-height: 14px;
}

img.searchlist_fave_solid {
	position: absolute;
	margin-top: 4px;
	opacity: 0;
	@include transition-wtime(300ms, opacity);
}

body.small_screen img.searchlist_fave_solid {
	margin-top: 1px;
}

.searchlist_fave_on img.searchlist_fave_solid {
	opacity: 1;
}

img.searchlist_fave_lined {
	position: absolute;
	margin-top: 4px;
	opacity: 0;
	@include transition-wtime(300ms, opacity);
}

body.small_screen img.searchlist_fave_lined {
	margin-top: 1px;
}

img.searchlist_fave_lined:hover {
	opacity: 1;
}

span.searchlist_cooldown_time {
	cursor: text;
	display: none;
	width: 2em;
}

div.searchlist_cooldown_visible span.searchlist_cooldown_time {
	display: inline-block;
}

div.searchlist > div:hover, div.searchlist div.searchtable_key_nav_hover {
	border-bottom: solid 1px #1a435e;
	background-color: #143347;
}

div.searchlist > div:hover span.searchlist_name, div.searchlist div.searchtable_key_nav_hover span.searchlist_name {
	padding-left: 7px;
}

div.searchlist div.searchlist_open_item {
	background-color: #1f4f70;
	padding-left: 13px;
	border-bottom: solid 1px #245b80;
}