.rating_site, .rating_user {
	float: right;
	background-repeat: no-repeat;
	width: 73px;
	padding: 0;
	margin: 0;
	height: 1.2em;
}

body.small_screen .rating_site, body.small_screen .rating_user {
	margin-top: 1px;
}

.rating_site {
	background-image: url("/static/images4/rating_bar/dark_ldpi.png");
}

.rating_user {
	background-image: url("/static/images4/rating_bar/bright_ldpi.png");
}

.fave_lined {
	@include transition-wtime(200ms, opacity);
	opacity: 0;
	position: absolute;
	padding-top: 3px;
}

body.small_screen .fave_lined {
	padding-top: 1px;
}

.fave_solid {
	z-index: 1;
	position: absolute;
	@include transition-wtime(200ms, opacity);
	opacity: 0;
	padding-top: 3px;
}

body.small_screen .fave_solid {
	padding-top: 1px;
}

.fave_hover .fave_lined {
	opacity: 1;
}

/*.fave_hover .fave_solid {
	opacity: 0.5;
}*/

.rating_fave .fave_solid {
	opacity: 1;
}

.rating_fave .fave_lined {
	opacity: 0;
}

.rating_hover {
	position: absolute;
	margin-top: -14px;
	margin-left: 17px;
	height: 14px;
	border-bottom: solid 1px $highlight;
	border-right: solid 1px $highlight;
	width: 55px;
	@include transition-wtime(200ms, opacity);
	z-index: 100;
	background: #222;
	padding: 0;
}

body.small_screen .rating_hover {
	margin-top: -16px;
}

.rating_hover_number {
	text-align: right;
	font-size: smaller;
	height: 14px;
	color: $highlight;
	margin-top: -1px;
	padding-right: 3px;
}

body.small_screen .rating_hover {
	font-size: medium;
}