/* POSITIONING */

#requests_positioner {
	display: block;
	position: absolute;
	left: 100%;
	z-index: 99;
	box-sizing: border-box;
	width: 360px;
	background: #05101E;
	border-left: solid 5px #133563;
	
	@include transition-wtime(350ms, transform, border-color, background-color);
	@include transform(translateX(-5px));
}

body.stage_0 #requests_positioner, body.stage_1 #requests_positioner, body.stage_2 #requests_positioner {
	display: none;
}

#requests_grab_tag {
	position: absolute;
	background-color: #133563;
	margin-left: -1.5em;
	padding: 0px 15px;
	transform: translate(-100%, 0px) rotate(-90deg);
	transform-origin: right top 0px;
	@include transition-wtime(350ms, background-color);
}

#requests_positioner.request_queue_paused, #requests_positioner.request_queue_paused #requests_grab_tag {
	border-color: #603E13;
	background-color: #1C1104;
}

#requests_positioner.request_warning, #requests_positioner.request_queue_warning #requests_grab_tag {
	border-color: #5E1212;
	background-color: #190303;
}

#requests_positioner:hover, #requests_positioner.fake_hover, body.requests_sticky #requests_positioner {
	@include transform(translateX(-360px));
}

body.requests_sticky #requests_grab_tag {
	display: none;
}

#requests {
	height: 100%;
	position: relative;
}

/* REQUEST-ONLY ELEMENTS */

#requests_header {
	padding: 2px 0 3px 7px;
	background: #112F56;
	@include transition(background-color);
	position: absolute;
	width: 100%;
	z-index: 1;
}

div.request_queue_paused #requests_header {
	background-color: #543510;
}

div.request_warning #requests_header {
	background-color: #541010;
}

#requests_toolbar {
	padding: 3px 5px 0 0;
	position: absolute;
	z-index: 2;
	width: 100%;
	text-align: right;
}

#requests_toolbar img {
	margin: 0px 1px;
	padding: 1px;
	cursor: pointer;
	border: solid 1px transparent;
}

img#requests_pin {
	margin: 0 3px 0 6px;
}

body.requests_sticky #requests_pin, div.request_queue_paused #requests_pause {
	border: inset 1px #222;
	background: #000;
}

/* LIST CONTAINER STYLE */

#requests_list {
	padding: 7px;
}

/* SONG STYLE MODIFICATIONS */

#requests_list div.timeline_song {
	position: absolute;
	box-sizing: border-box;
	padding-right: 30px;
	width: 100%;
}

#requests_list div.timeline_song_is_cool {
	opacity: 0.4;
}

#requests_list div.timeline_song_is_cool:hover {
	opacity: 1;
}

div.request_sort_grab {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: grab;
	opacity: 0;
	@include transition(opacity);
}

div.timeline_song:hover div.request_sort_grab {
	opacity: 0.75;
}

div.request_sort_grab img {
	position: relative;
	top: 20px;
	left: 20px;
	height: 30px;
	width: 30px;
}

#requests div.timeline_song.dragging {
	@include no-transition();
	z-index: 2;
	background-color: #25263c;
}

div.request_cancel {
	cursor: pointer;
	float: left;
	position: relative;
	z-index: 2;
	padding: 0 2px 2px 2px;
	border: solid 1px #444;
	border-right: none;
	@include transition-wtime(300ms, border-color, color);
}

#requests_list div.timeline_song, div.request_cancel {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.request_cancel:hover {
	border-color: #F44;
	color: #F44;
}

.request_reorder {
	float: right;
	margin: 0 5px;
	cursor: grab;
}

.dragging .request_reorder {
	cursor: grabbing;
}

.timeline_song_request_cancel_hover {
	background-color: #300;
}