#requests {
	width: 350px;
	background: #2e3033;
	border-color: #0c3b59;
	border-width: 0px;
	border-style: solid;
	overflow: hidden;
}

#requests.nonsticky {
	z-index: 5;
	position: absolute;
	left: 100%;
	border-left-width: 4px;
	@include transition-wtime(300ms, transform, border-left-width);
	@include transform(translateX(-5px));
}

#requests.nonsticky:hover, #requests.fake_hover {
	@include transform(translateX(-355px));
}

#requests.sticky {
	position: relative;
	left: auto;
	float: right;
	height: 100%;
	border-left-width: 0px;
	@include transition(border-left-width);
	@include transform(translateX(0px));
}

#requests_list {
	margin-left: 5px;
}

#requests_list .timeline_song {
	position: absolute;
	padding: 0;
	width: 96%;
}

#requests .timeline_song.dragging {
	transition: none;
	z-index: 2;
	background: #25263c;
}

#requests_header {
	padding-left: 7px;
	background: #383a3d;
}

#requests #requests_pin {
	float: right;
	margin-top: 1px;
	border: solid 1px transparent;
	margin-top: 1px;
	padding: 1px;
}

#requests.sticky #requests_pin {
	border: inset 1px #222;
	background: #111;
}

#requests_options {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#requests_options li {
	width: 50%;
	text-align: center;
}

.request_cancel {
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.request_reorder {
	float: right;
	margin-left: 5px;
	cursor: grab;
}

.dragging .request_reorder {
	cursor: grabbing;
}

.timeline_song_request_cancel_hover {
	background-color: #300;
}