#requests {
	width: 350px;
	background: #2e3033;
	border-color: #0c3b59;
	border-width: 0px;
	border-style: solid;
	overflow: hidden;
	@include transition(background-color, border-color);
}

#requests.request_queue_paused {
	border-color: #4b590c;
	background-color: #333326;
}

#requests.nonsticky {
	z-index: 5;
	position: absolute;
	left: 100%;
	border-left-width: 4px;
	@include transition-wtime(300ms, transform, border-left-width, background-color, border-color);
	@include transform(translateX(-5px));
}

#requests.nonsticky:hover, #requests.fake_hover {
	@include transform(translateX(-354px));
}

#requests.sticky {
	position: relative;
	left: auto;
	float: right;
	height: 100%;
	border-left-width: 0px;
	@include transition(border-left-width, background-color, border-color);
	@include transform(translateX(0px));
}

#requests_list {
	margin-left: 5px;
}

#requests_list .timeline_song {
	position: absolute;
	padding: 0;
	width: 96%;
}

#requests .timeline_song.dragging {
	transition: none;
	z-index: 2;
	background: #25263c;
}

#requests_header {
	padding-left: 7px;
	background-color: #383a3d;
	@include transition(background-color);
}

#requests.request_queue_paused #requests_header {
	background-color: #3d3d2e;
}

#requests #requests_pin {
	float: right;
	margin: 1px 3px;
	border: solid 1px transparent;
	padding: 1px;
}

#requests.sticky #requests_pin, #requests.request_queue_paused #requests_pause {
	border: inset 1px #222;
	background: #111;
}

#requests_pause_queue {
	@include transition-wtime(300ms, background-color);
}

.request_queue_paused {
	background-color: #25263c;
}

.requests_advanced {
	float: right;
	margin: 3px 3px 0px 3px;
	cursor: pointer;
}

.request_cancel {
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.request_reorder {
	float: right;
	margin-left: 5px;
	cursor: grab;
}

.dragging .request_reorder {
	cursor: grabbing;
}

.timeline_song_request_cancel_hover {
	background-color: #300;
}