.scrollbar {
	z-index: 100;
	background: #000;
	border: solid 1px #CCC;
	position: absolute;
	left: 100%;
	width: 6px;
	opacity: 0;
	@include transform(translateX(-8px));
	@include transition-wtime(200ms, width, opacity, transform);
}

.scrollbar:active {
	background: #CCC;
	width: 10px;
	opacity: 1;
	@include transform(translateX(-12px));
}

.scrollbar:hover {
	background: #00C;
	width: 10px;
	opacity: 1;
	@include transform(translateX(-12px));
}