$song_subinfo_color = #CCC;
$art_thumbnail_size = 70px;
$art_small_thumbnail_size = 55px;
$art_thumbnail_hover_size = 100px;
$art_full_size = 320px;

#timeline_scrollblock {
	float: left;
	height: 100%;
	min-width: 19em;
	@include transition(width);
	position: relative;
	background-color: #131416;
	width: 26em;
}

#timeline {
	padding: 0px 5px 0px 5px;
	height: 100%;
}

.unselectable #timeline_scrollblock {
	@include no-transition();
}

#timeline.resizing {
	@include no-transition();
}

.timeline_event {
	clear: left;
	position: relative;
	width: 100%;
	margin-top: 10px;
	@include transition-wtime(1s, opacity, transform, margin-top);
}

.timeline_event_closing {
	overflow: hidden;
}

.timeline_event:hover {
	opacity: 1 !important;
}

.timeline_song {
	clear: both;
	position: relative;
	cursor: default;
	-webkit-transition: height $transtime, opacity $transtime, background-color $transtime, transform $transtime, background-position 300ms ease-out 0s;
	-ms-transition: height $transtime, opacity $transtime, background-color $transtime, transform $transtime, background-position 300ms ease-out 0s;
	transition: height $transtime, opacity $transtime, background-color $transtime, transform $transtime, background-position 300ms ease-out 0s;
	background-image: url(/static/images4/vote_hover.png);
	background-position: -678px 0px;
	background-repeat: no-repeat;
	height: $art_thumbnail_size;
}

body.small_screen .timeline_song {
	height: $art_small_thumbnail_size;
}


.timeline_song_is_cool {
	background-color: #002;
}

.timeline_song .title, .timeline_song .album, .timeline_song .artist, .timeline_song .cooldown_info, .timeline_song .song_link {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.timeline_song .album_group {
	clear: right;
}

.timeline_song .album {
	cursor: pointer;
}

.timeline_song_content {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

.timeline_song_content > div, .timeline_song_content .album_group .link {
	color: $song_subinfo_color;
}

.timeline_song_content .title {
	color: $text;
}

.timeline_song_content .artist, .timeline_song_content .votes, .timeline_song_content .cooldown_info, .timeline_song .song_link {
	display: none;
}

div.art_anchor {
	position: relative;
	float: left;
	width: $art_thumbnail_size;
	height: $art_thumbnail_size;
	padding: 0;
}

div.timeline_song .art_anchor {
	margin-right: 10px;
}

body.small_screen div.art_anchor {
	width: $art_small_thumbnail_size;
	height: $art_small_thumbnail_size;
}

div.art_container {
	z-index: 1;
	position: absolute;
	text-align: center;
	border-color: #222;
	border-width: 0px;
	border-style: solid;
	background-color: inherit;
	width: $art_thumbnail_size;
	height: $art_thumbnail_size;
	@include transition-wtime(300ms, width, height, border-width, box-shadow, background-color, transform);
}

div.art_container:hover {
	z-index: 3;
}

body.small_screen div.art_container {
	width: $art_small_thumbnail_size;
	height: $art_small_thumbnail_size;
}

div.art_expandable {
	cursor: pointer;
}

div.art_expandable:hover {
	border-width: 2px;
	width: $art_thumbnail_hover_size;
	height: $art_thumbnail_hover_size;
	box-shadow: 3px 3px 5px #000;
	background-color: #000;
}

body.small_screen div.art_expandable:hover {
	width: $art_thumbnail_size;
	height: $art_thumbnail_size;
}

div.art_expandable.art_expanded, div.art_epandable.art_expanded:hover {
	z-index: 3 !important;
	width: $art_full_size !important;
	height: $art_full_size !important;
	border-width: 3px;
	box-shadow: 5px 5px 10px #000;
	background-color: #000;
}

div.art_expand_left.art_expand_up {
	@include transform(translate(-270px, -270px) !important);
}

div.art_expand_left.art_expand_down {
	@include transform(translate(-270px, 0) !important);
}

div.art_expand_right.art_expand_up {
	@include transform(translate(0, -270px) !important);
}

div.art_expand_right.art_expand_down {
	@include transform(translate(0, 0) !important);
}

img.art_image {
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
	max-width: 100%;
	max-height: 100%;
}

/* NOW PLAYING MODIFICATIONS */

.timeline_now_playing .timeline_song, body.small_screen .timeline_now_playing .timeline_song {
	opacity: 0;
	height: 0px;
	overflow: hidden;
}

.timeline_now_playing .timeline_now_playing_song {
	opacity: 1.0;
	height: 120px;
	overflow: visible;
}

.timeline_now_playing .timeline_song:hover {
	opacity: 1.0;
}

.timeline_now_playing_song .art_container, .timeline_now_playing_song .art_anchor {
 	width: 120px;
 	height: 120px;
}

div.timeline_now_playing_song div.art_container:hover {
	width: 140px;
 	height: 140px;
}

body.small_screen .timeline_now_playing .timeline_now_playing_song {
	height: 85px;
	opacity: 1;
	overflow: visible;
}

body.small_screen div.timeline_now_playing_song div.art_container, body.small_screen div.timeline_now_playing_song div.art_anchor {
	width: 85px;
	height: 85px;
}

body.small_screen div.timeline_now_playing_song div.art_container:hover {
	width: 100px;
	height: 100px;
}

.timeline_now_playing_song .title_group {
	font-weight: bold;
}

.timeline_now_playing_song .timeline_song_content > div {
	display: block;
	margin-bottom: 5px;
}

/* NOW PLAYING PROGRESS BAR */

.timeline_header_bar {
	background-color: $vvdarktext;
	height: 0px;
	margin: 0px;
	@include transition(transform, height, margin);
	overflow: hidden;
}

.timeline_now_playing .timeline_header_bar {
	height: 2px;
	margin-top: 30px;
}

.timeline_header_bar_inside {
	background-color: $highlight;
	height: 2px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	opacity: 0;
	@include transition(opacity);
}

/* TIMELINE SONG COOLDOWN */

.timeline_song_is_cool .album_group {
	display: none;
}

.timeline_song_is_cool .timeline_song_content .cooldown_info {
	color: $highlight;
	display: block;
}

/* HEADERS, ETC */

.timeline_header {
	@include transition(transform, opacity, LINKCOLOR);
	color: $vdarktext;
	background-color: #131416;
	padding-bottom: 4px;
	font-size: smaller;
	text-transform: uppercase;
}

.timeline_now_playing .timeline_header {
	color: $highlight;
}

.voting_enabled .title {
	cursor: pointer;
}

.voting_hover {
	background-position: 0px 0px;
}

.voting_registered {
	background-position: 0px -107px;
}