#timeline {
	float: left;
	height: 100%;
	min-width: 30%;
	padding: 0px 10px 0px 10px;
	@include transition(width);
	overflow: hidden;
	position: relative;
	background-color: #131416;
}

.timeline_event {
	opacity: 0;
	position: absolute;
	width: 95%;
	@include transform(translateY(-160px));
	@include transition(height, opacity, transform);
}

.timeline_history {
	opacity: .8;
}

.timeline_song {
	clear: left;
	padding-left: 5px;
	padding-right: 5px;
	min-height: 52px;
}

.timeline_song .title, .timeline_song .album, .timeline_song .artists {
	margin-left: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.timeline_song .art {
	float: left;
	max-width: 52px;
	max-height: 52px;
}

.timeline_header {
	z-index: 100;
	@include transition(transform, opacity);
	@include transform(translateY(-25px));
	position: absolute;
	color: $vdarktext;
	opacity: 0;
}

#timeline_header_now_playing {
	color: $highlight;
}

.timeline_progress_bar_outside {
	z-index: 100;
	position: absolute;
	background-color: $vvdarktext;
	height: 2px;
	padding: 0px;
	margin: 0px;
	width: 94%;
	@include transform(translateY(-25px));
}

.timeline_progress_bar_inside {
	background-color: $highlight;
	height: 2px;
	margin: 0px;
	padding: 0px;
	width: 0px;
}