@use "sass:string";

$pc-media: string.unquote("min-width: 1050px");
$mobile-media: string.unquote("max-width: 1049px");
$tablet-media: string.unquote("min-width: 600px and max-width: 1049px");
$phone-media: string.unquote("max-width: 599px");

/* easeOutQuart */
$transfunc: cubic-bezier(0.165, 0.84, 0.44, 1);
$transtime: 700ms $transfunc;

@mixin no-transition() {
  transition: none;
}

@mixin transform($transform-string...) {
  transform: $transform-string;
}

@mixin transform-origin($t) {
  transform-origin: $t;
}

@mixin transition-delay($t) {
  transition-delay: $t;
}

@mixin transition-duration($t) {
  transition-duration: $t;
}

@mixin transition-wtime($customtime, $trans...) {
  $nice-rules: "";

  @each $rule in $trans {
    $finaltranstime: $customtime;

    @if $rule == LINKCOLOR {
      $rule: color;
      $finaltranstime: 150ms;
    } @else if $rule == TOUCHTRANSFORM {
      $rule: transform;
      $finaltranstime: 150ms;
    }

    @if $nice-rules != "" {
      $nice-rules: $nice-rules + ", ";
    }

    $nice-rules: string.unquote($nice-rules + $rule + " " + $finaltranstime);
  }

  transition: $nice-rules;
}

@mixin transition($trans...) {
  @include transition-wtime($transtime, $trans...);
}

@mixin touchtransform() {
  @include transform(scale(0.96));
}
