div.scrollblock {
  overflow: hidden;
}

div.scrollable {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

div.scroll_handle {
  box-sizing: border-box;
  position: absolute;
  z-index: 90;
  background-color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: $scrollbar_b;
  top: 0px;
  left: 100%;
  width: 8px;
  min-height: 40px;
  opacity: 0;
  padding: 0;
  margin: 0;
  @include transform(translateX(-8px));
  @include transition-wtime(
    300ms,
    opacity,
    background-color,
    height,
    border-color
  );

  div.scrollblock:hover & {
    opacity: 0.5;
  }

  &.invisible {
    opacity: 0 !important;
  }

  &:hover {
    background-color: $scrollbar_h;
    opacity: 1;
  }

  &.active,
  &.active:hover {
    @include no-transition();
    background-color: $scrollbar_drag_bkg;
    border-color: $scrollbar_drag_b;
    opacity: 1 !important;
  }
}
