.art-anchor {
  position: relative;
  float: left;
  width: $art-size;
  height: $art-size;
  margin-right: 10px;
  z-index: 1;
}

.art-container {
  position: absolute;
  text-align: center;
  border-color: $art-b;
  border-width: 0;
  border-style: solid;
  background-color: $bkg;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: $art-size;
  height: $art-size;

  @include transition-wtime(
    300ms,
    width,
    height,
    border-width,
    background-color,
    transform
  );

  .art-full-size {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: $bkg;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    @include transition-wtime(500ms, opacity);
  }

  &.art-expandable {
    cursor: pointer;

    &:hover {
      border-width: 2px;
      width: $art-hover-size;
      height: $art-hover-size;
      box-shadow: 3px 3px 5px $drop-shadow;

      .simple & {
        width: $simple-np-size;
        height: $simple-np-size;
      }
    }

    &.art-expanded,
    &.art-expanded:hover {
      width: $art-full-size !important;
      height: $art-full-size !important;
      box-shadow: 3px 3px 5px $drop-shadow;

      .art-full-size.loaded {
        opacity: 1;
      }
    }

    &.art-expand-left.art-expand-up {
      @include transform(translate(-200px, -200px) !important);
    }

    &.art-expand-left.art-expand-down {
      @include transform(translate(-250px, 0) !important);
    }

    &.art-expand-right.art-expand-up {
      @include transform(translate(0, -200px) !important);
    }

    &.art-expand-right.art-expand-down {
      @include transform(translate(0, 0));
    }
  }
}
