body {
	background: [% background %];
	color: [% text %];
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Sans-Serif;
	font-size: 0.8em;
	overflow: hidden;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid [% vdarktext %];
	max-width: 80%;
	padding: .2em;
}

p {
	padding: .2em;
}

a, a:visited, .link, .external_link {
	color: [% text %];
	text-decoration: none;
	cursor: pointer;
}

.external_link:after {
	content: url("images/wikilink_12px.png");
}

.new_window:after {
	content: url("images/new_window_icon.png");
}

a img {
	border: none;
}

a:hover, .link:hover, .external_link:hover, .new_window:hover {
	/* text-decoration: underline; */
	color: [% text %];
}

hr {
	width: 90%;
	border: solid 1px [% border %];
}

button, .fakebutton {
	background: [% brightbkg %];
	color: [% text %];
	border: solid 1px [% borderdark %];
	border-radius: 3px;
	cursor: pointer;
}

#fittextdiv {
	position: absolute;
	left: -1000px;
}

.hidden {
	display: none;
}

.right {
	text-align: right;
}

.displayblock {
	display: block;
}

td {
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}

svg {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 0px;
}

td div.textoverflow {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

fieldset {
	border: none;
}

#oggpixel {
	position: absolute;
	left: -50px;
	top: -50px;
}

.err_div, .err_div_ok {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: .2em;
	font-weight: bold;
	z-index: 10000;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.err_div {
	background: [% error_dark %];
	border: 1px solid [% error_border %];
	
	background: -moz-linear-gradient(100% 100% 90deg, [% error_dark %], [% error_bright %]);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from([% error_bright %]), to([% error_dark %]));
}

.err_div_ok {
	background: [% tooltip %];
	border: 1px solid [% tooltip_border %];
	
	background: -moz-linear-gradient(100% 100% 90deg, [% tooltip_bright %], [% tooltip %]);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from([% tooltip %]), to([% tooltip_bright %]));
}

.err_button {
	cursor: pointer;
}

ul.tabs {
	border-bottom: 2px solid [% indicnormal %];
	margin: 0;
	padding: 0px 0px 4px 0px;
}

ul.tabs li {
	border-bottom: none;
	display: inline;
	padding: 0px 7px 1px 7px;	
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	opacity: 0.8;
}

ul.tabs li.tab_focused {
	border-bottom: 3px solid [% indicnormal %];
	opacity: 1.0;
}

ul.tabs li:hover {
	border-bottom: 3px solid [% indicnormalbright %];
	opacity: 1.0;
}

ul.tabs li+li {
	margin-left: 5px;
}

.EdiPanel {
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

.edi_border_vertical {
	width: 6px;
	margin-left: 3px;
	cursor: w-resize;
	cursor: ew-resize;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.edi_border_horizontal {
	height: 6px;
	margin-top: 3px;
	cursor: n-resize;
	cursor: ns-resize;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.edi_border_vertical:hover, .edi_border_horizontal:hover {
	background: [% vdarktext %];
}

table.pref_table {
	border: 1px solid [% request_border %];
	border-bottom: none;
	margin-top: 1em;
	background: -moz-linear-gradient(100% 100% 90deg, [% request_dark %], [% request %]);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from([% request %]), to([% request_dark %]));
	min-width: 32em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table.pref_table + table.pref_table {
	margin-top: 2em;
}

table.pref_table th {
	text-align: left;
	text-decoration: underline;
	padding: .5em;
}

table.pref_table td {
	padding: .1em;
}

table.pref_table td.pref_label {
	padding-left: 1.5em;
	width: 18.5em;
}

div.pl_albumlistc {
	width: 23em;
	height: 100%;
	border-right: 2px solid [% indicnormal %];
	float: left;
	padding: 0px;
	overflow: auto;
}

table.pl_albumlist {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
	table-layout: fixed;
	width: 100%;
}

table.pl_albumlist td {
	padding: 0px 0px 0px .2em;
	border-top: 1px solid [% background %];
	border-bottom: 2px solid [% background %];
	background-color: transparent;
	cursor: pointer;
}

table.pl_albumlist tr.pl_available td.pl_al_name {
	background: url('images/albumlist_userrating.png') no-repeat;
	background-position: -200px;
}

table.pl_albumlist tr.pl_cooldown td.pl_al_name {
	background: url('images/albumlist_userrating_oa.png') no-repeat;
	background-position: -200px;
}

table.pl_albumlist tr:hover td, tr.pl_highlight td {
	border-bottom: 2px solid [% playlist_highlight_hover %];
}

table.pl_albumlist tr:hover td.pl_al_name {
	background-color: [% playlist_hover %];
	margin-left: 0px;
}

table.pl_albumlist tr.pl_highlight td.pl_al_name {
	background-color: [% playlist_highlight %];
}

table.pl_albumlist tr.pl_albumopen td.pl_al_name {
	background-color: [% playlist_open %];
}

td.pl_al_name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pl_fav_true, td.pl_fav_false {
	width: 10px;
	cursor: pointer;
	border-left: 3px solid [% background %];
	border-right: 2px solid [% background %];
}

table.pl_albumlist td.pl_fav_true {
	background-color: [% playlist_fav %];
}

table.pl_albumlist td.pl_al_number {
	text-align: right;
	padding-right: .2em;
	background-color: [% playlist_rating %];
	width: 3em;
}

table.pl_albumlist tr.pl_cooldown td.pl_al_rating, table.pl_albumlist tr.pl_cooldown td.pl_fav_false {
	background-color: [% playlist_cooldown_rating %];
}

table.pl_albumlist tr.pl_available td.pl_al_rating, table.pl_albumlist tr.pl_available td.pl_fav_false {
	background-color: [% playlist_rating %];
}

table.pl_albumlist td.pl_al_rating {
	width: 1.8em;
	text-align: right;
	padding-right: 3px;
}

div.pl_searchc {
	position: absolute;
	border: 1px solid [% indicnormal %];
	background: [% primarybkg %];
	padding: .2em;
}

svg.pl_ad_albumrating {
	margin-top: .5em;
	margin-right: 100px;
}

td.pl_ad_albumart_td, td.pl_ad_albumdetailtd {
	background: [% primarybkg %] url('images/pl_ad_hdr_bkg.png') repeat-x;
	border-top: 2px solid [% background %];
}

td.pl_ad_albumdetailtd {
	border-left: 2px solid [% background %];
}

td.pl_ad_albumart_td {
	text-align: center;
	width: 130px;
	padding-right: 5px;
}

img.pl_ad_avatar {
	float: right;
	border: 2px solid [% background %];
}

img.pl_ad_albumart {
	border: 2px solid [% background %];
	margin-left: .5em;
	margin-top: -2em;
	max-height: 120px;
	max-width: 120px;
}

svg.pl_ad_ratinghisto {
	float: right;
	margin-top: 0.2em;
}

div.pl_ad_albumname {
	font-size: 1.4em;
	font-weight: bold;
	padding:  0.1em 0px .2em .2em;
}

img.pl_ad_albumname_station {
	float: right;
	margin-top: 3px;
}

.pl_ad_albumnametd {
	background: [% primarybkg %] url('images/pl_ad_albumname_bkg.png') top right;
}

td.pl_ad_albumnametd .rating {
	float: right;
	margin-right: 150px;
	margin-top: 6px;
}

div.pl_ad_albumhdr {
	border-bottom: 2px solid [% background %];
}

span.lang_pl_oncooldown {
	color: [% cooldown %];
}

span.lang_pl_ranks_rating, span.lang_pl_ranks_rank, span.lang_pl_wins_rank, span.lang_pl_requested_rank, span.lang_pl_wins_percent, span.lang_pl_requested_count {
	font-weight: bold;
}

div.pl_odholder {
	height: 100%;
}

div.pl_opendiv {
	overflow: auto;
}

table.pl_songlist {
	width: 100%;
	padding: .2em;
	table-layout: fixed;
}

table.pl_songlist td {
	padding-left: 2px;
	padding-top: 1px;
	border-bottom: 1px solid [% songlist_line %];
}

div.pl_songlist_hdr {
	font-weight: bold;
	border-bottom: 1px solid [% vdarktext %];
	margin: 1em 0.5em 0 .5em;
}

tr.pl_songlist_tr_unavailable td {
	background-color: [% songlist_cooldown %];
}

table.pl_songlist tr:hover td {
	background-color: [% songlist_hover %];
	border-bottom: 1px solid [% songlist_hover_border %];
}

td.pl_songlist_cooldown {
	width: 2.5em;
	text-align: right;
}

td.pl_songlist_r {
	width: 1.5em;
}

td.pl_songlist_url {
	width: 1.5em;
}

td.pl_songlist_url a {
	display: block;
	width: 1em;
	height: 1.2em;
	background-image: url("images/wikilink_12px.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

td.pl_songlist_album_name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 16em;
}

td.pl_songlist_rating {
	padding-right: 0px;
	padding-left: 4px !important;
}

td.pl_songlist_length {
	width: 3em;
	text-align: right;
}

td.pl_songlist_artists {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pl_songlist_title {
	min-width: 35%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.pl_songlist_oneshot {
	width: 2em;
}

td.pl_albumart_td {
	width: 135px;
}

td.pl_ad_albumdetailtd {
	padding-left: 5px;
}

div.requestspanel_constrict {
	max-width: 60em;
}

div.requestlist_header, div.allrequests_header {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .5em;
	margin-top: .5em;
}

div.allrequests {
	float: left;
	overflow: auto;
}

ol.allrequests_list {
	margin-top: 0em;
}

div.requestlist {
	float: left;
	margin-right: 3em;
	width: 27em;
	margin-bottom: 2em;
}

div.request {
	width: 100%;
	max-width: 27em;
	position: absolute;
	cursor: ns-resize;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: .3em;
	
	border: 1px solid [% request_border %];
	border-bottom: none;
	margin-top: 1em;
	background-image: -moz-linear-gradient(100% 100% 90deg, [% request_dark %], [% request %]);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from([% request %]), to([% request_dark %]));
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.request_true {
	background-color: [% request_ok %];
}

div.request_false {
	background-color: [% request_bad %];
}

div.request_station_1 {
	background-image: url("images/menu_logo_1.png");
}

div.request_station_2 {
	background-image: url("images/menu_logo_2.png");
}

div.request_station_3 {
	background-image: url("images/menu_logo_3.png");
}

svg.request_songrating {
	margin-top: .2em;
	float: right;
}

svg.request_albumrating {
	float: right;
	clear: right;
	margin-top: 4px;
}

span.request_xbutton {
	float: left;
	display: block;
	margin-left: 0.2em;
	margin-right: .6em;
	margin-top: -2px;
	color: [% darktext %];
}

div.request_album_name {
	margin-top: .2em;
	padding-left: 2.5em;
}

div.request_cooldown {
	margin-top: .2em;
	padding-left: 2.5em;
	color: [% cooldown %];
}

.live_timehelper {
	float: right;
	margin: 1em;
	padding: .5em 1em;
	border: 1px solid white;
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.help_container {
	background: rgb(0, 0, 0);
	border: 1px solid [% help %];
	-moz-border-radius: .5em;
	border-radius: .5em;
	padding: 0.8em 0.5em 0.8em 0.8em;
	position: absolute;
	z-index: 10000;
	width: 20em;
}

.help {
	background-color: [% help_dark %];
	height: 8em;
	margin-right: .5em;
	overflow: auto;
	padding-bottom: 1em;
}

.help_x {
	float: right;
	font-weight: bold;
	cursor: pointer;
	margin-left: 5px;
}

.help_header {
	background: [% help_header %];
	font-weight: bold;
	border-bottom: 2px solid [% help_border %];
	padding: 0.1em 0.3em;
}

.help_paragraph {
	padding: 0.2em 0.3em;
}

.help_next {
	text-align: right;
	font-weight: bold;
	padding-top: .3em;
	padding-bottom: .2em;
	font-weight: bold;
	margin-left: -1em;
	margin-top: -1.5em;
	position: absolute;
	text-align: right;
	width: 100%;
}

.help_next span {
	padding-right: 3em;
}

table.about {
	width: 100%;
}

table.about td {
	padding-bottom: .1em;
	border-bottom: 1px solid [% help_about_line %];
}

.loginbox {
	border: 1px solid [% login_border %];
	background: [% login %];
	padding: .3em;
}

.Panel_MenuPanel {
	z-index: 2;
}

table.menu_table {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

div.menu_dropdown {
	min-width: 15.5em;
	position: absolute;
	padding: .5em;	
	border: 1px solid [% borderdark %];
	background-image: -moz-linear-gradient(100% 100% 90deg, [% background %], [% primarybkg %]);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from([% primarybkg %]), to([% background %]));
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table.menu_table img {
	vertical-align: top;
}

table.menu_table td {
	padding: 2px 3px 2px 3px;
	border-bottom: 1px solid [% border %];
	background-color: [% background %];
}

td.menu_td_station {
	width: 150px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

td.menu_td_station_1, div.menu_select_station_1 {
	background-image: url("images/menu_logo_1.png");
}

td.menu_td_station_2, div.menu_select_station_2 {
	background-image: url("images/menu_logo_2.png");
}

td.menu_td_station_3, div.menu_select_station_3 {
	background-image: url("images/menu_logo_3.png");
}

div.menu_select_more {
	color: [% vdarktext %];
	margin-top: 1px;
	position: absolute;
	text-align: right;
	width: 200px;
}

div.menu_select {
	position: absolute;
	background: transparent url("images/menu_station_bkg.png") no-repeat top right;
	z-index: 2;
	left: 130px;
	margin: 0px;
	padding: 0px 0px 0px 12px;
	height: 23px;
	overflow: hidden;
	top: 0px;
}

div.menu_select_station {
	background: transparent url("images/menu_station_bigarrow.png") no-repeat;
	position: absolute;
	height: 23px;
	width: 200px;
	padding-left: 20px;
}

div.menu_select_station_x {
	background-repeat: no-repeat;
	background-position: center left;
	height: 23px;
	width: 130px;
	cursor: pointer;
}

td.menu_td_play {
	width: 90px;
}

div.menu_player {
	width: 79px;
	height: 18px;
}

div.menu_player_flash {
	background: url("../../ffmp3/ffmp3-rainwave/bkg.png") no-repeat;
}

div.menu_flash_warning {
	width: 100%;
	height: 18px;
	background: url("../../ffmp3/ffmp3-rainwave/flash.png") no-repeat;
	cursor: pointer;
}

div.menu_download {
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	margin-left: 84px;
}

.menu_player_tunedin {
	color: [% darktext %];
	text-align: center;
}

.flash_container {
	width: 160px;
	height: 76px;
}

.flash_placeholder {
	display: block;
}

a.tunein_vlc, a.tunein_winamp, a.tunein_fb2k {
	background-repeat: no-repeat;
	background-position: center left;
}

a.tunein_vlc {
	background-image: url("images/vlc.png");
	margin-left: 4px;
}

a.tunein_winamp {
	background-image: url("images/winamp.png");
}

a.tunein_fb2k {
	background-image: url("images/fb2k.png");
}

td.menu_td_user {
	width: 15.5em;
	padding-right: 5px;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.menu_username_perks {
	color: [% donorcolor %];
}

.menu_username_perks:hover {
	color: [% donorcolor %];
}

td.menu_td_user img {
	height: 16px;
	width: auto;
	z-index: 2;
	position: relative;
}

img.menu_avatar {
	padding-left: 5px;
	float: right;
}

div.menu_user_cp {
	text-align: right;
}

table.menu_table td.menu_td_news {
	padding-left: .5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-left: 1px solid [% border %];
}

table.menu_table td.menu_td_news_active {
	border-left: 1px solid [% border %];
}

div.news_ticker {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

table.menu_table td.menu_td_help {
	width: 6em;
	border-left: 1px solid [% help_border %];
	border-bottom: 1px solid [% help_border %];
	background-color: [% help_dark %];
	text-align: center;
}

td.menu_td_chat {
	width: 6em;
	border-left: 1px solid [% border %];
	text-align: center;
}

td.menu_td_forums {
	width: 6em;
	border-left: 1px solid [% border %];
	text-align: center;
}

table.menu_table td.menu_td_cog {
	width: 95px;
	text-align: right;
	background: [% background %];
	border-left: 1px solid [% cog %];
	border-bottom: 1px solid [% cog %];
}

table.menu_table td.menu_td_cog img {
	height: 16px;
	width: auto;
}

.COG_links {
	text-align: right;
	position: absolute;
	border: 1px solid [% cog %];
	border-right: none;
	background: [% background %];
	width: 150px;
	margin-left: -35px;
	padding-right: 2px;
	z-index: -1;
}

.COG_links hr {
	color: [% cog %]
}

.COG_links a {
	display: block;
}

.COG_banner {
	position: relative;
	z-index: 1;
	height: 19px;
	width: 115px;
	background: url("images/cog_network_h.png") no-repeat;
}

.rating {
	width: 74px;
	height: 13px;
	background: url('images/rating_border.png');
	margin-left: 2em; 
	margin-top: 1px;
	position: relative;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

span.rating_text {
	position: absolute;
	margin-left: -1.5em;
	margin-top: -1px; 
	color: [% text %];
}

.rating_fav {
	position: absolute;
	opacity: 0;
}

.rating_user_on {
	position: absolute;
	height: 8px;
	width: 0px;
	background: url('images/rating_user_on.png') no-repeat scroll;
}

.rating_user {
	position: absolute;
	height: 8px;
	width: 74px;
	padding-left: 8px;
}

.rating_user_bar {
	height: 8px;
	width: 66px; 
	background: url('images/rating_user_bar.png') no-repeat scroll;
}

.rating_site_on {
	position: absolute;
}

.rating_site {
	position: absolute;
	height: 13px;
	width: 74px;
	padding-left: 13px;
	padding-top: 9px;
}

.rating_site_bar {
	height: 4px;
	width: 50px;
	background: url('images/rating_site_bar.png') no-repeat scroll;
}

.rating_grid {
	position: absolute;
}

/* TIMELINE PANEL */

table.timeline_table {
	position: absolute;
	width: 100%;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	table-layout: fixed;
}

table.timeline_table td {
	border-bottom: 1px solid [% background %];
	border-left: 1px solid [% background %];
}

td.timeline_header_indicator {
	font-size: 0.8em;
	width: 10px;
}

td.timeline_header_indicator_normal {
	background: url('images/timeline_indicator_normal.png') no-repeat scroll 0px 0px;
}

td.timeline_header_indicator_request {
	background: url('images/timeline_indicator_request.png') no-repeat scroll 0px 0px;
}

td.timeline_header_indicator_conflict {
	background: url('images/timeline_indicator_conflict.png') no-repeat scroll 0px 0px;
}

table.timeline_table td.timeline_header {
	font-size: 0.8em;
	border-left: none;
}

table.timeline_table td.timeline_header_normal {
	background: [% indicnormal %];
}

table.timeline_table td.timeline_header_request {
	background: [% indicrequest %];
}

table.timeline_table td.timeline_header_conflict {
	background: [% indicwarn %];
}

div.timeline_clock {
	float: right;
	padding-right: 2px;
}

div.timeline_header_text {
	padding-left: 6px;
}

img.timeline_indicator_argh {
	width: 10px;
	height: 10px;
	border: 0px;
}

td.timeline_indicator_normal {
	background: url('images/timeline_indicator_normal.png') no-repeat scroll 0px -22px;
	width: 10px;
}

td.timeline_indicator_request {
	background: url('images/timeline_indicator_request.png') no-repeat scroll 0px -22px;
	width: 10px;
}

td.timeline_indicator_conflict {
	background: url('images/timeline_indicator_conflict.png') no-repeat scroll 0px -22px;
	width: 10px;
}

td.timeline_td {
	background-color: [% primarybkg %];
	width: 100%;
	padding: 1px 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.timeline_album_td {
	color: [% darktext %];
	padding-left: 0px;
}

td.timeline_album_td_request {
	background-image: url('images/timeline_votehover_request.png');
	background-repeat: no-repeat;
	background-position: 0px -90px;
}

td.timeline_album_td_conflict {
	background-image: url('images/timeline_votehover_conflict.png');
	background-repeat: no-repeat;
	background-position: 0px -90px;
}

td.timeline_artist_td {
	color: [% darktext %];
	padding-left: 1.5em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td.timeline_album_td .external_link {
	color: inherit;
}

td.timeline_artist_td .external_link {
	color: inherit;
}

div.timeline_song_time {
	float: right;
	color: [% darktext %];
	z-index: 3;
	margin-left: 1em;
	position: relative;
}

div.song_title {
	position: relative;
	z-index: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div.timeline_song_rating_c {
	float: right;
	padding-left: 23px;
	z-index: 7;
	position: relative;
}

div.timeline_song_rating_bkg {
	background: url('images/timeline_ratingbkg.png') no-repeat 100% 0px;
	position: absolute;
	width: 100%;
	height: 20px;
	z-index: 6;
	margin-top: -1px;
}

div.timeline_album_title {
	position: relative;
	z-index: 10;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1.5em;
}

div.timeline_song_requestor_wrap {
	position: absolute;
	overflow: hidden;
	z-index: 2;
	width: 100%;
	margin-top: -1px;
}

div.timeline_song_requestor {
	color: [% text %];
	padding-left: 0.7em;
}

div.timeline_vote_hover {
	position: absolute;
	width: 70%;
	height: 20px;
	z-index: 9;
}

td.timeline_song_td {
	background-repeat: no-repeat;
	background-position: -700px 0px;
	position: relative;
	z-index: 3;
}

td.timeline_song_td_normal {
	background-image: url('images/timeline_votehover_normal.png');
}

td.timeline_song_td_request {
	background-image: url('images/timeline_votehover_request.png');
}

td.timeline_song_td_conflict {
	background-image: url('images/timeline_votehover_conflict.png');
}

div.timeline_vote_swipe {
	position: absolute;
	z-index: 4;
	width: 0px;
	background: transparent url('images/timeline_voteswipe.png') repeat-x scroll 0px 0px;
	margin-left: -3px;
	margin-top: -1px;	
}

.Panel_NowPanel {
	padding-left: 11px;
	max-width: 550px;
}

div.nowplaying_indicator_v {
	position: absolute;
	margin-left: -11px;
	z-index: 1;
	width: 10px;
	height: 100%;
}

div.nowplaying_indicator_v_normal {
	background: transparent url('images/timeline_indicator_normal.png') no-repeat;
}

div.nowplaying_indicator_v_request {
	background: transparent url('images/timeline_indicator_request.png') no-repeat;
}

div.nowplaying_indicator_v_conflict {
	background: transparent url('images/timeline_indicator_conflict.png') no-repeat;
}

div.nowplaying_indicator_h {
	position: absolute;
	width: 70%;
	z-index: 1;
	height: 1em;
	margin-left: -1px;
}

div.nowplaying_indicator_h_normal {
	background: transparent url('images/nowplaying_indicator_normal.png') no-repeat bottom right;
}

div.nowplaying_indicator_h_request {
	background: transparent url('images/nowplaying_indicator_request.png') no-repeat bottom right;
}

div.nowplaying_indicator_h_conflict {
	background: transparent url('images/nowplaying_indicator_conflict.png') no-repeat bottom right;
}

div.nowplaying_header_text, div.nowplaying_header_reqby {
	position: absolute;
	z-index: 2;
	font-size: 0.8em;
}

div.nowplaying_header_reqby {
	width: 67%;
	text-align: right;
}

div.nowplaying_wrapper {
	background: [% primarybkg %] url('images/nowplaying_bkg.png') repeat-x;
	width: 100%;
	height: 100%;
}

table.nowplaying_table {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 1.2em 10px 0px 3px;
	table-layout: fixed;
}

td.nowplaying_album_art {
	width: 130px;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
	padding-right: 3px;
}

td.nowplaying_album_art img {
	max-width: 120px;
	max-height: 120px;
}

td.nowplaying_song_title {
	font-size: 1.2em;
	font-weight: bold;
	height: 1.5em;
	vertical-align: bottom;
	padding-bottom: 3px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

td.nowplaying_album_name, td.nowplaying_artist_name, td.nowplaying_url, td.timeline_live_notes, td.timeline_live_user {
	padding-bottom: 3px;
	padding-top: .6em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-left: 1.5em;
	font-size: 1.1em;
}

td.nowplaying_album_name, td.nowplaying_artist_name {
	height: 1.5em;
	vertical-align: bottom;
}

td.nowplaying_song_title, td.nowplaying_album_name, td.nowplaying_artist_name {
	width: 100%;
	padding-right: 1em;
}

td.nowplaying_fadeborder {
	background: url('images/nowplaying_fadeborder.png') no-repeat bottom left;
}

td.nowplaying_fadeborder_r {
	background: url('images/nowplaying_fadeborder.png') no-repeat bottom right;
}

td.nowplaying_song_rating, td.nowplaying_album_rating {
	vertical-align: bottom;
	padding-bottom: 4px;
}

td.nowplaying_song_rating, td.nowplaying_album_rating, td.nowplaying_votes {
	width: 110px;
	padding-right: 3px;
}

td.nowplaying_votes {
	padding-top: .7em;
}

table.schedule_table td {
	padding: .2em .5em;
	border-bottom: 1px solid [% vdarktext %];
	border-right: 1px solid [% vvdarktext %];
}

table.schedule_table button {
	padding: 0px;
	font-size: 0.8em;
}

/* Split Window */

table.splitwindow_table {
	border-spacing: 0;
}

td.splitwindow_tabs_td {
	height: 2.2em;
}

div.splitwindow_leftcontainer {
	overflow: auto;
}

td.splitwindow_right {
	height: 10px;
	overflow: auto;
}

ul.splitwindow_tabs {
	margin: 5px 0 0 0;
	padding: 0 0 3px;
	border-bottom: 1px solid [% indicnormal %];
}

li.splitwindow_tab  {
	display: inline;
	border-bottom: none;
	padding: 0px 7px 1px 7px;
	opacity: 0.8;
	margin-bottom: 2px;
	cursor: pointer;
}

li.splitwindow_tab_active {
	border-bottom: 2px solid [% indicnormal %];
	opacity: 1;
}

td.splitwindow_resize {
	width: 3px;
	background: [% indicnormal %];
	cursor: ew-resize;
}

/* SEARCH */

div.inlinesearch_container {
	padding: 0;
	position: fixed;
	overflow: hidden;
}

span.inlinesearch_text {
	padding: 2px;
	background: [% search %];
	width: 100%;
}

div.inlinesearch_help {
	font-size: smaller;
	color: [% vdarktext %];
	float: right;
	background: [% search %];
}

div.inlinesearch_hdr {
	padding: 3px;
	background: [% indicnormal %];
}

/* LISTENER PANEL */

div.clist_guest_count {
	float: right;
	padding-right: 0.2em;
}

span.lang_registeredlisteners_users, span.lang_otherlisteners_total {
	font-weight: bold;
}

div.clist_total_count {
	padding-left: .2em;
	border-bottom: 1px solid [% vdarktext %];
	margin-bottom: .2em;
}

td.lsnrdt_spacer {
	width: 1em;
}

table.listener_detail td {
	padding: .5em;
	text-align: centre;
	vertical-align: middle;
	white-space: nowrap;
}

td.lsnrdt_bar {
	border-right: solid 1px [% vdarktext %];
	border-left: solid 1px [% vdarktext %];
}

div.ldetail_container {
	text-align: center;
}

div.graph_header {
	font-weight: bold;
}
