<for each="songs" bind="songs">
  <div
    data-old-class="{{ ^'row ' + (context.cool ? 'cool' : '') + ' ' + (context.fave ? 'song-fave-highlight' : '') + ' ' + (context.requestable ? 'requestable' : 'unrequestable') + ' ' + (context.is_new ? 'is-new' : (context.is_newish ? 'is-newish' : '')) }}"
    bind="row"
  >
    <if condition="^!MOBILE">
      <if condition="^Sizing.simple">
        <if condition="url">
          <a class="url" href="{{ url }}" target="_blank"></a>
        </if>
        <else>
          <div class="fake-url"></div>
        </else>
      </if>
      <if condition="^!Sizing.simple">
        <div class="cool-info">{{ ^Formatting.cooldown_glance(context.cool_end) }}</div>
        <div class="length">{{ ^Formatting.minute_clock(context.length) }}</div>
      </if>
      <if condition="^User.id > 1">
        <div class="rating-clear">
          <img src="/static/images4/rating_clear.png" bind="ratingClear" />
        </div>
      </if>
    </if>
    <template use="rating" />
    <if condition="^!MOBILE && !Sizing.simple">
      <div class="rating-site">{{ ^Formatting.rating(context.rating) }}</div>
    </if>
    <if condition="^!Sizing.simple && context.artists">
      <div class="artists">
        <for each="artists" bind="artists">
          <a href="#!/artist/{{ id }}">{{ name }}</a>
        </for>
      </div>
    </if>
    <if condition="^!MOBILE">
      <if condition="^!Sizing.simple">
        <if condition="url">
          <a class="url" href="{{ url }}" target="_blank"></a>
        </if>
        <else>
          <div class="fake-url"></div>
        </else>
      </if>
      <div class="detail-icon" bind="detailIcon">
        <img src="/static/images4/info.png" />
      </div>
    </if>
    <template use="fave" />
    <div class="title" title="{{ title }}" bind="title">{{ title }}</div>
  </div>
</for>
