@use '../../../theme' as theme;

#station-select {
  position: relative;
}

#station-select-header {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  border-right: 1px solid #0b5c89;
  flex-shrink: 0;
  padding: 0 20px;
  height: 100%;
  background: theme.$blue;
}

#station-select-current-station {
  font-size: 2em;
  text-transform: uppercase;
}

#station-select-open-icon {
  width: 20px;
  fill: theme.$text;
  transition-timing-function: theme.$transition-timing-function;
  transition-duration: theme.$transition-duration;
  transform-origin: center center;
}

#station-select-mouse-area {
  position: absolute;
  z-index: 0;
  padding: 20px;
  opacity: 0;
  width: 550px;
  max-width: 100vw;
  visibility: hidden;
  transition-property: opacity, transform, visibility;
  transition-duration: theme.$transition-duration;
  transform: translateX(-20px) translateY(calc(-100px));
}

#station-select-mouse-area.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(-20px) translateY(calc(-20px));
}

#station-select-menu-header,
#station-select-menu-separate-header {
  background: theme.$menu-link-open;
  text-transform: uppercase;
  padding: 5px 10px;
}

#station-select-menu {
  position: relative;
  overflow: hidden;
  background-color: theme.$station-select-background;
}

.station-select-station {
  display: flex;
  box-sizing: border-box;
  place-content: center space-between;
  width: 100%;
  overflow: hidden;
  height: 70px;
  padding: 10px;

  &-now-playing {
    display: flex;
    place-content: center start;
    width: 200px;
    font-size: smaller;
    gap: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.7;

    &-data {
      display: flex;
      flex-direction: column;
      place-content: center center;
    }

    &-art {
      height: 50px;
      width: 50px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      flex-shrink: 0;
    }
  }

  &-details {
    text-transform: uppercase;

    &-name {
      font-weight: 400;
      font-size: 1.5em;
    }

    &-description {
      opacity: 0.7;
      font-size: 0.7em;
    }
  }
}

.station-select-station-1,
.station-select-station-2,
.station-select-station-3,
.station-select-station-4 {
  margin-left: 20px;
}
