@use '../../../theme' as theme;

#station-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  border-right: 1px solid #0b5c89;
  will-change: opacity;
  opacity: 1;
  flex-shrink: 0;
  padding: 0 20px;
}

#station-select-current-station {
  font-size: 2em;
  text-transform: uppercase;
}

#station-select-pulldown-icon {
  width: 20px;
  fill: theme.$text;
  transition-timing-function: theme.$transition-timing-function;
  transition-duration: theme.$transition-duration;
  transform-origin: center center;
}

.station-select-station {
  display: block;

  &-now-playing {
    display: block;

    &-art,
    &-title,
    &-album {
      display: block;
    }
  }

  &-details {
    display: block;

    &-name,
    &-description {
      display: block;
    }
  }
}
