@use '../../../theme' as theme;

#station-select-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  border-right: 1px solid #0b5c89;
  flex-shrink: 0;
  padding: 0 20px;
  height: 100%;
}

#station-select-current-station {
  font-size: 2em;
  text-transform: uppercase;
}

#station-select-open-icon {
  width: 20px;
  fill: theme.$text;
  transition-timing-function: theme.$transition-timing-function;
  transition-duration: theme.$transition-duration;
  transform-origin: center center;
}

#station-select-mouse-area {
  position: absolute;
  padding: 10px;
  transform: translate(-10px, -10px);
}

#station-select-menu {
  min-width: 100%;
  max-width: 550px;
  overflow: hidden;
  background-color: theme.$station-select-background;
}

.station-select-station {
  display: flex;
  box-sizing: border-box;
  place-content: center space-between;
  width: 100%;
  overflow: hidden;
  height: 70px;
  padding: 10px;

  &-now-playing {
    display: flex;
    place-content: center space-between;
    width: 160px;
    font-size: smaller;
    gap: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-art {
      height: 50px;
      width: 50px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &-details {
    text-transform: uppercase;

    &-name {
      font-weight: 400;
      font-size: 1.5em;
    }

    &-description {
      opacity: 0.7;
      font-size: 0.7em;
    }
  }
}
