<a class="station-select-station">
  <div bind="menuNp" class="station-select-station-now-playing">
    <div bind="menuNpArt" class="station-select-station-now-playing-art"></div>
    <div bind="menuNpSong" class="station-select-station-now-playing-title"></div>
    <div bind="menuNpAlbum" class="station-select-station-now-playing-album"></div>
  </div>
  <div class="station-select-station-details">
    <div class="station-select-station-details-name">{{ name }}</div>
    <div class="station-select-station-details-description">{{ description }}</div>
  </div>
</a>
