<div class="close" bind="search_close">
  <img src="/static/images4/cancel.png" alt="X" />
</div>
<ul class="panel_header">
  <li class="open">
    <a bind="search_header"> {{ $l("search") }} </a>
  </li>
</ul>
<div class="searchbox_container" bind="search_box_container">
  <form bind="search_form">
    <button class="search_button" bind="search_button">{{ $l("go") }}</button>
    <div>
      <input
        type="text"
        bind="search"
        placeholder="{{ $l('search...') }}"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        class="search_box"
      />
    </div>
  </form>
  <img src="/static/images4/search.png" class="search" />
  <img src="/static/images4/search_clear.png" class="cancel" bind="search_cancel" />
</div>

<div bind="search_results_container" class="search_results_container">
  <div bind="search_results" class="search_results"></div>
</div>
