<if condition="^context.artists.length">
  <h2>{{ $l("Artists") }}</h2>
  <for each="artists" bind="artists">
    <div class="row row-artist">
      <div class="title">
        <a href="#!/artist/{{ id }}" bind="title">{{ name }}</a>
      </div>
    </div>
  </for>
  <if condition="^context.artists.length >= 50">
    <div class="row search-oob">{{ $l("search_result_limit") }}</div>
  </if>
</if>

<if condition="^context.albums.length">
  <h2>{{ $l("Albums") }}</h2>
  <for each="albums" bind="albums">
    <div
      data-old-class="{{ ^'row row-album ' + (context.cool ? 'cool' : '') + ' ' + (context.fave ? 'song-fave-highlight' : '') }}"
    >
      <template use="rating" />
      <template use="fave" />
      <div class="title">
        <a href="#!/album/{{ id }}" bind="title">{{ name }}</a>
      </div>
    </div>
  </for>
  <if condition="^context.albums.length >= 50">
    <div class="row search-oob">{{ $l("search_result_limit") }}</div>
  </if>
</if>

<if condition="^context.songs.length">
  <h2>{{ $l("Songs") }}</h2>
  <template use="songTable" />
  <if condition="^context.songs.length >= 100">
    <div class="row search-oob">{{ $l("search_result_limit") }}</div>
  </if>
</if>
