div.art_anchor {
	position: relative;
	float: left;
	width: $art_size;
	height: $art_size;
	margin-right: 10px;
}

div.art_container {
	position: absolute;
	text-align: center;
	border-color: #222;
	border-width: 0px;
	border-style: solid;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: $art_size;
	height: $art_size;
	@include transition-wtime(300ms, width, height, border-width, background-color, transform);

	&.art_expandable {
		cursor: pointer;

		&:hover {
			z-index: 1;
			background-color: #000;
			border-width: 2px;
			width: $art_hover_size;
			height: $art_hover_size;
			box-shadow: 3px 3px 5px #000;

			body.simple & {
				width: $simple_np_size;
				height: $simple_np_size;
			}
		}

		&.art_expanded, &.art_expanded:hover {
			z-index: 1;
			width: $art_full_size !important;
			height: $art_full_size !important;
			box-shadow: 3px 3px 5px #000;
		}

		&.art_expand_left.art_expand_up {
			@include transform(translate(-200px, -200px) !important);
		}

		&.art_expand_left.art_expand_down {
			@include transform(translate(-250px, 0) !important);
		}

		&.art_expand_right.art_expand_up {
			@include transform(translate(0, -200px) !important);
		}

		&.art_expand_right.art_expand_down {
			@include transform(translate(0, 0));
		}
	}
}
