div.chart_outside {
    position: relative;
    border: solid 1px black;
    height: 20px;
    line-height: 20px;

    div.chart_bar {
        box-sizing: border-box;
        position: absolute;
        border-left: solid 1px black;
        height: 20px;
        white-space: nowrap;

        &:first-child {
            border-left: none;
        }

        span.chart_label {
            position: absolute;
            z-index: 1;
            max-width: 100%;
            overflow: hidden;
            @include transform(translateX(4px));
        }

        span.chart_tooltip {
            border: solid 1px $blue;
            background: black;
            visibility: hidden;
            opacity: 0;
            left: 50%;
            @include transform(translateX(-50%));

            @include transition-wtime(300ms, opacity, transform, visibility);
        }

        &.hover span.chart_tooltip {
            opacity: 0;
            visibility: visible;
            @include transform(translateY(105%));
        }
    }

    &.chart_ratings {
        div.chart_bar {
            span.chart_label {
                font-size: smaller;
                color: $text;
                @include transform(rotate(90deg));
            }
        }
    }

    &.chart_overflow {
        div.chart_bar {
            span.chart_label {
                max-width: none;
                overflow: visible;
            }
        }
    }
}
