div.detail {
	&, &.scrollable {
		position: absolute;
	}

	body.detail & {
		opacity: 1;
		visibility: visible;
		@include transform(translateX(-100%));
	}

	div.art_anchor {
		float: left;
		margin-left: 10px;
		margin-bottom: 10px;
		width: 90px;
		height: 90px;
	}

	h2 {
		clear: both;
		font-size: inherit;
		font-weight: inherit;
		border-bottom: 1px solid $vdarktext;
		margin: 0 0 5px 0;
		padding: 0 10px 2px 10px;
	}

	table + h2, div.row + h2 {
		margin-top: 15px;
	}

	canvas.ratings {
		float: left;
		position: relative;
		width: 100px;
		height: 80px;
	}

	div.detail_header {
		color: $darktext;
		font-size: 0.8em;
		margin: 0 15px 0 10px;

		p {
			margin: 0 0 0 105px;
			padding: 0 0 0 5px;

			&.new_indicator {
				color: $orange;
				background-repeat: no-repeat;
				background-size: 12px;
				background-image: url('/static/images4/new.png');
			}
		}
	}

	&.scrollblock div.close {
		@include transform(translateX(-32px));
	}

	div.fave {
		float: left;
	}

	div.art_container {
		width: 90px;
		height: 90px;
	}

	ul.panel_header {
		z-index: 1;
		width: 100%;
		box-sizing: border-box;

		li {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: break-all;
			word-break: break-all;
		}
	}

	div.scrollblock {
		margin-top: 10px;
		position: relative;
	}

	p.genres {
		// things get really wonky without this
		// since it's a collection of spans, words don't get broken at all
		// I don't understand it, but that's browser behaviour for you
		word-break: break-all;

		span + a {
			margin-left: 3px;
		}

		span:last-child {
			display: none;
		}
	}
}


div.row {
	padding: 2px 10px 2px 10px;
	clear: both;
	border-bottom: solid 1px transparent;
	overflow: hidden;
	word-break: break-all;
	white-space: nowrap;
	min-height: 20px;
	@include transition-wtime(300ms, width, background-color, border-bottom-color);

	&.cool {
		background-color: $cooldown-color;
		border-bottom-color: $cooldown-color;
	}

	&:hover {
		background-color: $hovercolor;
		border-bottom-color: $hovercolor-border;
		@include no-transition();

		img.fave_lined {
			opacity: 1;
		}
	}

	&.song_fave_highlight {
		div.title {
			color: $fave_color;
		}

		&:hover {
			background-color: #444013;
			border-color: #5B4E19;
		}
	}

	div.length {
		width: 35px;
		float: right;
	}

	div.rating, div.rating_clear {
		float: right;
	}

	a.url, div.fake_url {
		display: inline-block;
		float: right;
		width: 14px;
		height: 14px;
		margin-right: 5px;
	}

	a.url {
		background-repeat: no-repeat;
		background-size: 14px 14px;
		background-image: url("/static/images4/link_external.svg");
	}

	div.cool_info {
		width: 40px;
	}

	div.title {
		overflow: hidden;
		text-overflow: ellipsis;
		padding-left: 5px;
	}

	&.is_new div.title {
		background-repeat: no-repeat;
		background-size: 14px;
		background-image: url('/static/images4/new.png');
	}

	&.requestable div.title {
		cursor: pointer;
	}

	div.artists {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
