div.detail {
	position: absolute;
	z-index: 100;
	opacity: 0;
	width: 420px;
	background: #2C2C2C;
	border-left: solid 1px #777;
	top: 0px;
	@include transform(none);
	@include transition-wtime(300ms, transform, opacity);

	body.simple_f & {
		opacity: 1;
	}

	body.detail & {
		opacity: 1;
		@include transform(translateX(-100%));
	}

	div.art_anchor {
		float: left;
		margin-left: 10px;
		margin-bottom: 10px;
	}

	ul.panel_header {
		margin-bottom: 7px;

		li.open {
			display: block;
			cursor: default;
		}
	}

	h2 {
		font-size: inherit;
		font-weight: inherit;
		border-bottom: 1px solid $vdarktext;
		margin: 0 0 5px 0;
		padding: 0 10px 2px 10px;
	}

	table + h2, div.row + h2 {
		margin-top: 15px;
	}

	canvas {
		float: left;
		position: relative;
		width: 100px;
		height: 80px;
	}

	div.detail_header {
		color: $darktext;
		font-size: 0.8em;
		margin: 0 15px 0 10px;

		p {
			margin: 0 0 0 120px;
			padding: 0;
		}
	}

	div.close {
		left: 390px;
	}
}


div.row {
	padding: 0 10px 2px 10px;
	clear: both;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: transparent;
	white-space: nowrap;
	@include transition-wtime(300ms, width, background-color, border-bottom-color);

	&.cool {
		background-color: $cooldown-color;
		border-bottom-color: $cooldown-color;
	}

	&:hover {
		background-color: $hovercolor;
		border-bottom-color: $hovercolor-border;
		@include no-transition();

		img.fave_lined {
			opacity: 1;
		}
	}

	&.song_fave_highlight {
		div.title {
			color: $fave_color;
		}

		&:hover {
			background-color: #444013;
			border-color: #5B4E19;
		}
	}

	div.fave {
		margin-right: 5px;
	}

	div.length {
		width: 35px;
		float: right;
	}

	div.rating {
		float: right;
	}

	a.url {
		display: inline-block;
		float: right;
		width: 14px;
		height: 14px;
		background-repeat: no-repeat;
		background-size: 14px 14px;
		background-image: url("/static/images4/link_external.svg");
	}

	div.cool_info {
		width: 40px;
	}

	div.title {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	div.artists {
		max-width: 200px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
