div.fave {
	width: 14px;
	height: 13px;
	display: none;
	margin-top: 4px;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	img {
		width: 14px;
		height: 13px;
		position: absolute;
		opacity: 0;
		@include transition-wtime(200ms, opacity);
	}

	&.is_fave {
		img.fave_solid {
			opacity: 1;
		}
	}

	body.logged_in & {
		display: inline-block;
		cursor: pointer;
	}

	body.logged_in.desktop &:hover {
		img.fave_lined {
			opacity: 1;
		}

		&.is_fave img.fave_solid {
			opacity: 0.5;
			cursor: pointer;
		}
	}
}
