div.detail_view_listener {
	div.art_container.avatar {
		background-size: contain;
	}
}

ul.user_detail_legend {
	display: block;
	position: relative;
	left: 50%;
	@include transform(translateX(-50%));
	padding: 0;

	li {
		border-radius: 3px;
		display: inline;
		padding: .4em .7em;
		font-weight: bold;

		+ li {
			margin-left: 1em;
		}
	}
}

div.user_detail_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

div.user_detail_segment {
	float: left;
	width: 250px;
	margin-left: 30px;
	text-align: center;

	h3 {
		text-align: center;
	}

	body.simple & {
		width: 210px;
		margin-left: 10px;
	}
}
