$menu_transfunc: cubic-bezier(0.77, 0, 0.175, 1);
$menu_height: 45px;
$phone_menu_height: 30px;

div.header {
	position: relative;
	background: $blue_dark;
	height: $menu_height;
	z-index: 2;

	@media $phone-media {
		height: $phone_menu_height;
	}
}

div.menu_wrapper {
	position: relative;
	color: #FFF;
	background: $blue;
	width: 1024px;
	max-width: 100%;
	margin: 0 auto;
	height: $menu_height;

	body.full & {
		width: 100%;
		margin: 0;
	}

	@media $phone-media {
		height: $phone_menu_height;
	}

	svg {
		display: inline;
		height: 20px;
		width: 20px;
		fill: $text;
		@include transition-wtime(150ms, fill);
	}

	a:hover svg {
		fill: $linkhover;
	}
}

/* ICONS AND LINKS */

ul.menu {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	top: 50%;
	z-index: 1;
	@include transform(translateY(-50%));

	&.main_menu {
		z-index: 2;
	}

	li {
		margin: 0 2px;
		padding: 0;
		position: relative;
		display: inline;

		a {
			padding: 4px 12px;
			display: inline-block;
		}

		&.user_info {
			padding-right: 20px;

			&:hover div.menu_inline_dropdown {
				opacity: 1;
				@include transform(translateY(-5px));
			}
		}

		body.playlist &.playlist_link a {
			background: $blue_dark * 0.8;
		}

		&.requests_link {
			display: none;

			body.logged_in & {
				display: inline;
			}

			a {
				&.paused {
					background: #6A6A6A;
				}

				&.warning {
					background: #6A0000;
				}

				body.requests & {
					background: $blue_dark * 0.8;
				}

				body.requests &.paused {
					background: #4A4A4A;
				}

				body.requests &.warning {
					background: #4A0000;
				}
			}
		}
	}

	img.avatar {
		position: absolute;
		max-width: 20px;
		padding: 0;
		margin-left: 5px;
		vertical-align: baseline;
		@include transform(translateY(-25%));
	}

	div.request_indicator {
		display: inline;
		position: absolute;
		z-index: 1;
		padding: 4px;
		background: $orange;
		height: 100%;
		opacity: 0;
		@include transform(translateX(0px));
		@include transition-wtime(300ms, transform, opacity);

		&.show {
			opacity: 1;
			@include transform(translateX(-100%));
		}
	}
}

body.full ul.main_menu {
	display: none;
}

ul.submenu {
	body.desktop.simple & {
		float: right;
		top: 50%;
		opacity: 0;
		@include transform(translateX(5%) translateY(-50%));
		@include transition-wtime(300ms, opacity, transform);
	}

	body.desktop.simple div.menu_wrapper:hover & {
		opacity: 1;
		@include transform(translateY(-50%));
	}
}

div.menu_inline_dropdown {
	position: absolute;
	z-index: 0;
	width: 100%;
	margin-top: $menu_height - 10;
	background: $blue;
	overflow: hidden;
	opacity: 0;
	@include transform(translateY(-100%));
	        transition: transform 700ms linear, opacity 200ms $transfunc;
	-webkit-transition: transform 700ms linear, opacity 200ms $transfunc;

	a {
	 	padding: 5px;
		display: block;
		border-bottom: 1px solid $blue * 1.2;
		margin: 3px 0px;
	}
}

#calendar_dropdown {
	position: absolute;
	width: 400px;
	left: 100%;
	height: 0;
	opacity: 0;
	background: $blue;
	overflow: hidden;
	padding: 2px;

	@include transform(translateX(-250px));
	@include transition-wtime(700ms, height, opacity);
	-webkit-transition-timing-function: $menu_transfunc;
	        transition-timing-function: $menu_transfunc;

	&.show_calendar {
		height: 500px;
		opacity: 1;
	}

	iframe {
		width: 100%;
		height: 500px;
	}
}