$menu_transfunc: cubic-bezier(0.77, 0, 0.175, 1);
$menu_height: 45px;
$station_height: 60px;
$station_select_width: 270px;

div.header {
	position: relative;
	background: $blue_dark;
	height: $menu_height;
	z-index: 2;
}

div.menu_wrapper {
	color: #FFF;
	background: $blue;
	width: 1024px;
	max-width: 100%;
	margin: 0 auto;
	height: $menu_height;

	body.advanced & {
		width: 100%;
		margin: 0;
	}

	svg {
		display: inline;
		height: 20px;
		width: 20px;
		fill: $text;
		@include transition-wtime(150ms, fill);
	}

	a:hover svg {
		fill: $linkhover;
	}
}

/* STATION SELECT */

#station_select {
	box-sizing: border-box;
	position: absolute;
	z-index: 20000;
	float: left;
	width: $station_select_width;
	border-right: 1px solid #0b5c89;
	padding: 0 20px 0 15px;
	height: $menu_height;
	overflow: hidden;
	background: #0b5c89;

	-webkit-transition: width 350ms, background-color 350ms, height 700ms;
	        transition: width 350ms, background-color 350ms, height 700ms;
	-webkit-transition-timing-function: $menu_transfunc;
	        transition-timing-function: $menu_transfunc;

	@media $phone-media & {
		position: relative;
		width: auto !important;
		border: none;
	}

	&.open {
		width: $station_select_width * 1.8;
		height: ($station_height * 5) + $menu_height;
	}

	svg.pulldown_arrow {
		float: right;
		cursor: pointer;
		position: relative;
		top: $menu_height / 2;
		z-index: 50;

		@include transition-wtime(350ms, transform);
		@include transform(translateY(-50%) rotate(0deg));
		-webkit-transform-origin: center center;
		        transform-origin: center center;
		-webkit-transition-timing-function: $menu_transfunc;
		        transition-timing-function: $menu_transfunc;
	}

	&.no_station_select svg.pulldown_arrow {
		display: none;
	}

	&.open svg.pulldown_arrow {
		cursor: default;
		@include transform(translateY(-50%) rotate(180deg));
	}

	#station_select_header {
		position: absolute;
		opacity: 0.5;
		font-size: 1.2em;
		background: transparent !important;
		text-transform: uppercase;
		height: $menu_height !important;
		cursor: pointer;

		@include transform(translateY(-100%));
		@include transition(transform);
		-webkit-transition-timing-function: $menu_transfunc;
		        transition-timing-function: $menu_transfunc;

		div {
			position: relative;
			top: $menu_height / 2;
			@include transform(translateY(-50%));
		}
	}

	&.no_station_select #station_select_header {
		cursor: default;
	}

	&.open #station_select_header {
		@include transform(translateY(0%));
	}

	a.station {
		display: block;
		background: transparent;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		width: 100%;
		cursor: pointer;
		overflow: hidden;
		height: $menu_height;
		color: rgb(151,198,229);
		padding: 0px 0px 0px 20px;

		-webkit-transition: top 700ms $menu_transfunc, background 350ms $transfunc, color 350ms $transfunc, height 700ms $menu_transfunc;
		        transition: top 700ms $menu_transfunc, background 350ms $transfunc, color 350ms $transfunc, height 700ms $menu_transfunc;

		&:hover {
			background: #0f74b8;
			color: $text !important;
			cursor: pointer;
		}

		&.selected_station {
			background: $blue;
			color: $text;
			z-index: 40;

			div.timeline_song {
				display: none !important;
			}
		}

		div.station_name {
			text-transform: uppercase;
		}

		div.station_details {
			position: relative;
			top: 50%;

			font-weight: 400;
			font-size: 2em;
			@include transform(translateY(-50%));
			@include transition-wtime(350ms, transform);
		}

		div.station_description {
			text-transform: uppercase;
			font-weight: 400;
			font-size: 0.4em;
			position: absolute;
			top: $station_height;
			opacity: 0;
			-webkit-transition: transform 300ms ease-in-out, opacity 250ms ease;
			        transition: transform 300ms ease-in-out, opacity 250ms ease;
		}

		div.station_song_container {
			float: right;
			height: $station_height;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			@include transform(translateX(100%));

			-webkit-transition: transform 700ms $menu_transfunc, opacity 300ms $transfunc;
			        transition: transform 700ms $menu_transfunc, opacity 300ms $transfunc;

			@media $mobile-media & {
				display: none;
			}

			div.timeline_song {
				font-weight: 300;
				font-size: .9em;
				height: $station_height - 14;
				top: 50%;
				@include transform(translateY(-50%));
			}

			div.art_anchor, div.art_container {
				height: $station_height - 14;
				width: $station_height - 14;
			}
		}
	}

	&.no_station_select a.station {
		cursor: default;
	}

	&.open a.station {
		height: $station_height;

		&:hover, &.selected_station {
			cursor: default;
			color: $text;

			div.station_details {
				@include transform(translateY(-70%));
			}

			div.station_description {
				opacity: 1;
				@include transform(translateY(-2em));
			}
		}

		&:nth-of-type(2) { top: $menu_height; border-top: 1px solid rgba(0, 0, 0, 0.1); }

		@for $i from 3 through 6 {
			&:nth-of-type($i) { top: $menu_height + ($station_height * ($i - 1)); }
		}

		div.station_song_container {
			opacity: 0.7;
			@include transform(translateX(0%));
		}

		&:hover div.station_song_container {
			opacity: 1.0;
		}
	}
}

/* ICONS AND LINKS */

ul.menu {
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));

	li {
		position: relative;
		display: inline;
		padding: 0 0.8em;

		&.menu_link {
			@media $mobile-media {
				display: none;
			}
		}
	}

	img.avatar {
		position: relative;
		top: 2px;
		max-width: 1.2em;
		margin-left: 5px;
		padding: 0;
		vertical-align: baseline;
	}
}

/* PLAYER */

$player_icon_height: $menu_height * 0.6;
$player_icon_width: $player_icon_height;

#r4_audio_player {
	position: relative;
	display: inline-block;
	margin-left: $station_select_width + 15;
	top: 50%;
	@include transform(translateY(-50%));
	font-weight: 400;

	.audio_icon {
		height: $player_icon_height;
		width: $player_icon_width;
		margin-right: 5px;
		opacity: 0.3;
		cursor: pointer;

		&, * {
			@include transition-wtime(300ms, fill, opacity);
		}

		&:hover, &:hover * {
			fill: $linkhover;
		}
	}

	.audio_icon_play {
		opacity: 1;
		cursor: pointer;
	}

	.audio_volume {
		margin-left: 5px;
		width: $player_icon_height * 2;
		height: $player_icon_height;
		opacity: .3;
		@include transition(opacity);
	}

	&.playing, &.tunedin {
		.audio_icon_play {
			fill: orange !important;
			opacity: 1;
		}
	}

	&.playing {
		.audio_icon {
			opacity: 1;
		}

		.audio_volume {
			opacity: 1;
		}
	}

	&.muted .audio_icon_mute {
		fill: orange !important;
	}

	.menu_inline_dropdown {
		left: 0;
		width: 250px;
		margin-top: $menu_height - 10;

		a {
		 	padding: 5px;
			display: block;
			border-bottom: 1px solid $blue * 1.2;
			margin: 3px 0px;
		}
	}

	&:hover .menu_inline_dropdown {
		height: 110px;
	}
}

/* CALENDAR */

div.menu_inline_dropdown {
	position: absolute;
	left: 100%;
	height: 0;
	background: $blue;
	overflow: hidden;

	@include transition-wtime(700ms, height, opacity);
	-webkit-transition-timing-function: $menu_transfunc;
	        transition-timing-function: $menu_transfunc;
}

#calendar_dropdown {
	width: 400px;
	@include transform(translateX(-400px));
}

#calendar_dropdown iframe {
	width: 100%;
	height: 500px;
}

#calendar_dropdown.show_calendar {
	height: 500px;
}