#messages {
	position: absolute;
	z-index: 1000;
	width: 100%;
	@include transition-wtime(300ms, opacity);
}

#messages div {
	padding: .3em;
}

#messages img {
	margin: 2px 5px;
	float: left;
	cursor: pointer;
}