body.modal_active {
	div.header, div.messages, div.sizeable {
		opacity: 0.3;
	}
}

$window_trans_time: 10000ms;
$content_trans_time: 2000ms;

div.modal_container {
	box-sizing: border-box;
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	background: #000;
	z-index: 10001;
	width: 100%;
	@include transform(translate(-50%, -50%) scaleX(0));
	@include transition-wtime($window_trans_time, opacity, transform);

	div.content {
		max-width: 100%;
		width: 800px;
		margin: 0 auto;
		opacity: 0;
		padding: 0;
	}

	div.header_wrapper {
		width: 100%;
		padding-bottom: 2px;
		border-bottom: 1px solid $blue;
		margin-bottom: 5px;

		div.bkg {
			background: $blue;
		}

		div.content {
			width: 850px;
		}
	}

	div.bottom_border {
		height: 2px;
		width: 100%;
		background: $blue;
	}

	div.main {
		position: absolute;
		opacity: 0;
		height: 600px;
		padding: 5px;
		overflow: auto;
		overflow-y: auto;
		overflow-x: hidden;
		left: 50%;
		@include transform(translate(-50%, 50px));
		@include transition-wtime($content_trans_time, height, opacity);

		&.open {
			opacity: 1;
			@include transform(translate(-50%, 0px));
		}
	}

	div.expander {
		width: 0px;
		height: 0px;

		-webkit-transition: height $window_trans_time $transfunc $window_trans_time;
		        transition: height $window_trans_time $transfunc $window_trans_time;
	}

	&.modal_open {
		opacity: 1;
		@include transform(translate(-50%, -50%));

		div.expander {
			height: 600px;
		}

		&.modal_closing {
			opacity: 0;
			@include transform(translate(-50%, -40%));
		}
	}
}