ul.panel_header {
	height: 25px;
	padding-left: 0;
	margin: 10px 0 0 0;
	border-bottom: 1px solid $vvdarktext;
	list-style: none;
	white-space: nowrap;


	li {
		display: inline-block;
		height: 25px;
		padding: 0 10px;
		cursor: pointer;
		color: $vdarktext;
		border-bottom: 1px solid transparent;
		@include transition(LINKCOLOR, background, opacity, border-bottom);

		&.open {
			color: $text;
			border-bottom: 1px solid $orange;
		}
	}
}

div.lists {
	position: absolute;
	z-index: 100;
	opacity: 0;
	width: 450px;
	background: #272727;
	border-left: solid 1px #555; 
	top: 0px;
	@include transform(none);
	@include transition-wtime(300ms, transform, opacity);

	body.simple_f & {
		opacity: 1;
	}

	body.playlist & {
		opacity: 1;
		@include transform(translateX(-100%));
	}

	body.playlist.detail & {
		@include transform(translateX(-110%));	
	}

	ul {
		li {
			&:hover {
				color: $linkhover;
			}

			body.playlist_artist &.artist_tab,
			body.playlist_group &.group_tab,
			body.playlist_album &.album_tab,
			body.playlist_listener &.listener_tab {
				color: $text;
				border-bottom: 1px solid $orange;
			}
		}
	}

	div.searchbox_container {
		position: relative;
		padding: 10px;
		height: 28px;

		img {
			position: absolute;
			height: 15px;
			width: 15px;
			left: 15px;
			top: 16px;
			opacity: 0.5;
			@include transition-wtime(300ms, opacity);
		}

		input {
			box-sizing: border-box;
			border: 1px solid $vdarktext;
			background: #171717;
			color: $text;
			opacity: 0.6;
			font: inherit;
			height: 28px;
			width: 100%;
			padding-left: 25px;
			padding-right: 4px;
			@include transition-wtime(300ms, border-color, opacity);

			&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
				color: #FFF;
			}

			&.active {
				border-color: $blue;
				opacity: 1;

				+ img {
					opacity: 1;
				}
			}

			&:focus {
				border-color: $orange !important;
				opacity: 1;

				+ img {
					opacity: 1;
				}
			}
		}
	}
}

div.list {
	position: relative;

	div.list_contents, div.scrollblock {
		position: relative;
	}

	div.item {
		background-image: url("/static/images4/rating_bar/dark_ldpi_zero.png");
		background-repeat: no-repeat;
		padding: 2px 65px 2px 5px;
		border-bottom: solid 1px transparent;
		cursor: pointer;
		@include transition-wtime(250ms, background-color, border-color, padding, color);
		overflow: hidden;
		word-break: break-all;
		white-space: nowrap;
		text-overflow: ellipsis;

		&.album_fave_highlight {
			color: $fave_color;
		}

		&.rating_user {
			background-image: url("/static/images4/rating_bar/bright_ldpi.png");

			body.show_incomplete &.rating_incomplete {
				background-color: #381e3d;
				background-image: url("/static/images4/rating_bar/unrated_ldpi.png");

				&.cool {
					background-color: #2a162e;
					color: $darktext;
				}
			}
		}

		&:hover, .hover {
			/*padding-left: 20px;*/
			color: $link;
			border-color: $hovercolor-border;
			background-color: $hovercolor;
			@include transition-wtime(250ms, padding, color);

			body.logged_in & img.fave_lined {
				opacity: 0.5;
			}

			&.album_fave_highlight {
				background-color: #444013;
				border-color: #5B4E19;
			}
		}

		&.open, &.open:hover, &.hover.open {
			background-color: #1f4f70;
			border-color: $orange;
			padding-left: 20px;

			&.album_fave_highlight {
				background-color: #6D5D1E;
			}
		}

		&.cool {
			background-color: $cooldown_albumlist_color;
		}

		span.name {
			padding-left: 5px;
		}

		div.fave {
			margin-top: 0;
		}
	}

	div.stretcher {
		position: absolute;
		width: 1px;
		display: block;
	}
}

body.simple div.close {
	position: absolute;
	left: 420px;
	top: 12px;
	cursor: pointer;
	opacity: 0.5;
	@include transition-wtime(300ms, opacity);

	&:hover {
		opacity: 1;
	}

	img {
		width: 14px;
		height: 14px;
	}
}