/* PLAYER */

$player_icon_height: $menu_height * 0.6;
$player_icon_width: $player_icon_height;

#r4_audio_player {
	position: relative;
	display: inline-block;
	margin-left: $station_select_width + 15;
	top: 50%;
	@include transform(translateY(-50%));
	font-weight: 400;

	div.background {
		position: relative;
		background: $blue;
		z-index: 1;
	}

	.audio_icon {
		position: relative;
		z-index: 1;
		height: $player_icon_height;
		width: $player_icon_width;
		margin-right: 5px;
		opacity: 0.3;
		cursor: pointer;

		&, * {
			@include transition-wtime(300ms, fill, opacity);
		}

		&:hover, &:hover * {
			fill: $linkhover;
		}
	}

	.audio_icon_play {
		opacity: 1;
		cursor: pointer;
	}

	body.tuned_in &, &.playing {
		.audio_icon_play {
			&, * {
				fill: $orange * 2;
			}
		}
	}

	&.playing {
		.audio_icon {
			opacity: 1;
		}

		.audio_volume {
			opacity: 1;
		}
	}

	&.muted {
		.audio_icon_mute {
			opacity: 1;

			&, * {
				fill: $orange * 2;
			}
		}
	}

	.audio_volume {
		position: relative;
		z-index: 1;
		margin-left: 5px;
		width: $player_icon_height * 2;
		height: $player_icon_height;
		opacity: .3;
		@include transition(opacity);
	}

	&.playing, &.tunedin {
		.audio_icon_play {
			fill: orange !important;
			opacity: 1;
		}
	}

	@media $mobile-media {
		border-top: none;
		height: $menu-height - 3;
		padding: 0 6px 0 0;
		top: 8px;
		@include transform(none);

		.menu_inline_dropdown, .audio_icon_mute, .audio_icon_stop, .audio_volume {
			display: none;
		}
	}

	@media $phone-media {
		float: right;
		margin-left: 0;
		padding: 0 3px 0 0;
		top: 0px;
		height: $phone_menu_height;

		.audio_icon_play {
			@include transform(translateY(5px));
			height: 20px;
		}
	}
}