div.rating {
	position: relative;
	float: right;
	background-repeat: no-repeat;
	background-image: $site_rating;
	background-size: $rating_bkg_size;
	width: $rating_width;
	padding: 0;
	margin: 0;
	color: $blue;
	height: $rating_height;

	body.full {
		width: $rating_width + 23px;
	}

	&.rating_user {
		background-image: $user_rating;

		div.song_fave_highlight &.song_rating {
			color: $fave_color;
			background-image: $fav_rating;
		}

		div.album_fave_highlight &.album_rating {
			color: $fave_color;
			background-image: $fav_rating;

			body.show_incomplete &.rating_incomplete {
				background-image: $incomplete_rating;
			}
		}

		body.show_incomplete &.rating_incomplete {
			background-image: $incomplete_rating;
		}
	}

	body.desktop &.ratable {
		cursor: pointer;

		&:hover {
			@include no-transition();
			background-image: $user_rating;

			div.song_fave_highlight &.song_rating {
				color: $fave_color;
				background-image: $fav_rating;
			}

			div.album_fave_highlight &.album_rating {
				color: $fave_color;
				background-image: $fav_rating;
			}
		}
	}

	body.simple.desktop &.ratable:hover {
		margin-left: 25px;
	}

	body.full & {
		margin-left: 30px;
	}

	div.rating_number {
		position: absolute;
		height: $rating_height;
		width: 23px;
		padding-right: 2px;
		opacity: 0;
		text-align: center;
		visibility: hidden;
		@include transition-wtime(200ms, opacity, transform, visibility);
		@include transform(translateX(0px));

		&.rating_confirm {
			background: #A8ECFF;
			color: #A8ECFF;
			overflow: hidden;
			visibility: visible;

			$color_transtime: 500ms;
			$opacity_transtime: 200ms;
			$wait_transtime: 2s;
			$confirm_transtime: 300ms;

			&.confirming {
				opacity: 1;
				@include transform(translateX(0px) scaleX(1) !important);
				-webkit-transition: color $color_transtime, opacity $opacity_transtime, background $color_transtime, -webkit-transform $wait_transtime;
				        transition: color $color_transtime, opacity $opacity_transtime, background $color_transtime, transform $wait_transtime;
			}

			&.confirmed {
				background: transparent;
				color: $text;
				@include transform(translateX(-25px) scaleX(1) !important);
				-webkit-transition: color $color_transtime, opacity $opacity_transtime, background $color_transtime, -webkit-transform $confirm_transtime;
				        transition: color $color_transtime, opacity $opacity_transtime, background $color_transtime, transform $confirm_transtime;
			}

			&.bad_rating {
				background: #F00;
				color: $text;
				@include transform(translateX(-25px) scaleX(1) !important);
				-webkit-transition: color $color_transtime, opacity $opacity_transtime, background $color_transtime, -webkit-transform $confirm_transtime;
				        transition: color $color_transtime, opacity $opacity_transtime, background $color_transtime, transform $confirm_transtime;
			}
		}
	}

	body.desktop &:hover div.rating_hover, body.full & div.rating_hover {
		opacity: 1;
		visibility: visible;
		@include transform(translateX(-25px));
	}

	body.desktop &:hover {
		div.rating_confirm + div.rating_hover, div.rating_confirm + div.rating_number {
			opacity: 0;
		}
	}

	div.rating_confirm + div.rating_number {
		opacity: 0 !important;
	}
}

body.simple div.timeline div.album_rating {
	display: none;
}

div.rating_clear {
	display: none;

	body.logged_in.rating_clear_ok & {
		display: block;
		visibility: hidden;

		&.capable {
			visibility: visible;
		}

		img {
			position: relative;
			top: 1px;
			height: 14px;
			opacity: 0.5;
			cursor: pointer;

			@include transition-wtime(300ms, opacity);

			&:hover {
				opacity: 1;
			}
		}
	}
}

div.mobile_rating {
	$slider_width: 200px;
	width: $slider_width;
	z-index: 5;
	position: absolute;
	opacity: 0;
	left: 100%;
	background: #000;
	padding: 10px 15px 10px 5px;
	@include transform(translateX(-100%) translateY(-1em));
	@include transition-wtime(200ms, opacity, transform);

	&.show {
		opacity: 1;
		@include transform(translateX(-100%) translateY(-2.5em));
	}

	div.slider {
		width: $slider_width;
		height: 48px;
		background-repeat: none;
		background-image: $touch_rating;
		background-size: 200px 2496px;
	}

	div.slide_number {
		position: absolute;
		top: -8px;
	}
}
