div.rating {
	position: relative;
	float: right;
	background-repeat: no-repeat;
	background-image: $site_rating;
	background-size: $rating_bkg_size;
	width: $rating_width;
	padding: 0;
	margin: 0;
	height: $rating_height;

	body.logged_in.full &.rating_song {
		&.rating_user {
			background-image: $user_rating;
		}
	}

	&.rating_user {
		background-image: $user_rating;

		div.song_fave_highlight & {
			background-image: $fav_rating;

			body.show_incomplete &.rating_incomplete {
				background-image: $incomplete_rating;
			}
		}

		body.show_incomplete &.rating_incomplete {
			background-image: $incomplete_rating;
		}
	}

	&.ratable {
		cursor: pointer;

		&:hover {
			margin-left: 25px;
			@include no-transition();
			background-image: $user_rating;
		}
	}

	div.rating_hover {
		position: absolute;
		height: $rating_height;
		width: 25px;
		padding-right: 2px;
		opacity: 0;
		text-align: right;
		color: $highlight;
		visibility: hidden;
		@include transition-wtime(200ms, opacity, transform, visibility);
		@include transform(translateX(0px));

		div.song_fave_highlight & {
			color: $fave_color;
		}
	}

	&:hover div.rating_hover {
		opacity: 1;
		visibility: visible;
		@include transform(translateX(-27px));
	}
}

body.simple div.timeline div.album_rating {
	display: none;
}

div.rating_clear {
	display: none;

	body.logged_in.rating_clear_ok & {
		display: block;
		visibility: hidden;

		&.capable {
			visibility: visible;
		}

		img {
			position: relative;
			top: 1px;
			height: 14px;
			opacity: 0.5;
			cursor: pointer;

			@include transition-wtime(300ms, opacity);

			&:hover {
				opacity: 1;
			}
		}
	}
}

div.mobile_rating {
	$slider_width: 200px;
	width: $slider_width;
	z-index: 5;
	position: absolute;
	opacity: 0;
	left: 100%;
	background: #000;
	padding: 10px 15px 10px 5px;
	@include transform(translateX(-100%) translateY(-1em));
	@include transition-wtime(200ms, opacity, transform);

	&.show {
		opacity: 1;
		@include transform(translateX(-100%) translateY(-2.5em));
	}

	div.slider {
		width: $slider_width;
		height: 48px;
		background-repeat: none;
		background-image: $touch_rating;
		background-size: 200px 2496px;
	}

	div.slide_number {
		position: absolute;
		top: -8px;
	}
}