div.panel.requests {
	z-index: 101;

	div.scrollblock {
		position: relative;
	}

	&, &.scrollable {
		position: absolute;
	}

	body.requests & {
		opacity: 1;
		visibility: visible;
		@include transform(translateX(-100%));
	}

	&.scrollblock div.close {
		@include transform(translateX(-32px));
	}

	div.song {
		padding: 0 10px;

		&.dragging {
			@include no-transition();
			opacity: 1;
			z-index: 2;
			background-color: $blue * 0.5;
		}

		&.deleted {
			opacity: 0.3;
		}
	}

	&.dragging div.song {
		-webkit-transition-duration: 300ms;
		        transition-duration: 300ms;
	}

	&.paused, body.simple &.paused {
		background-color: #2A073C;
	}
}

ul.request_icons {
	text-align: center;

	li {
		margin: 0 5px;
		display: inline;
		color: #FFF;
		@include transition-wtime(300ms, opacity);
		cursor: pointer;

		body.desktop & {
			opacity: 0.5;

			&:hover {
				opacity: 1;
			}

			div.song_
		}

		@media (max-width: 400px) {
			margin: 0 10px;

			span {
				display: none;
			}
		}
	}

	li.requests_play {
		display: none;
	}

	div.paused & {
		li.requests_pause {
			display: none;
		}

		li.requests_play {
			display: inline;
		}
	}

	img {
		position: relative;
		top: 1px;
		height: 14px;
		margin-right: 5px;
	}
}

div.request_cancel {
	cursor: pointer;
	float: left;
	position: relative;
	padding: 0 2px 2px 2px;
	border: solid 1px #444;
	border-right: none;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 54px;
	margin-top: 8px;
	padding: 14px 7px;
	box-sizing: border-box;
	font-size: larger;
	@include transition-wtime(300ms, border-color, color, opacity);

	body.desktop & {
		opacity: 0.6;

		&:hover {
			border-color: #F44;
			color: #F44;
		}

		div.song &:hover {
			opacity: 1;
		}
	}
}

div.request_sort_grab {
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: grab;
	opacity: 0;
	@include transition(opacity);

	body.desktop div.song:hover & {
		opacity: 0.75;
	}

	img {
		position: relative;
		top: 20px;
		left: 20px;
		height: 30px;
		width: 30px;

		body.small & {
			top: 14px;
			left: 14px;
		}
	}
}
