div.scrollblock {
	overflow: hidden;
}

.scrollable {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
}

div.scroll_handle {
	position: absolute;
	z-index: 90;
	background-color: inherit;
	border-width: 1px;
	border-style: solid;
	border-color: #777;
	top: 0px;
	left: 100%;
	width: 5px;
	min-height: 40px;
	opacity: 0;
	padding: 0;
	margin: 0;
	@include transform(translateX(-12px));
	@include transition-wtime(250ms, opacity, background-color, height);

	div.scrollblock:hover & {
		opacity: 0.5;

	}

	&.invisible {
		opacity: 0 !important;
	}

	&:hover {
		background-color: #AAB;
		opacity: 1;
	}

	&.active, &.active:hover {
		background-color: $orange * 0.5;
		border-color: $orange;
		opacity: 1 !important;
	}
}