$song_transitions: opacity $transtime, transform $transtime, background-position 250ms linear, visibility $transtime;
$webkit_song_transitions: opacity $transtime, -webkit-transform $transtime, background-position 250ms linear $transtime;

div.song {
	box-sizing: border-box;
	position: absolute;
	cursor: default;
	-webkit-transition: $webkit_song_transitions, border-color $transtime, background-color $transtime;
	        transition: $song_transitions, border-color $transtime, background-color $transtime;
	height: $art_size;
	width: 100%;

	// used when mobile ratings are active
	&.on_top {
		z-index: 99 !important;
	}

	&.song_lost {
		visibility: hidden;
		opacity: 0;

		body.displose & {
			opacity: 0.6;
			visibility: visible;

			body.desktop &:hover, body.mobile:active {
				opacity: 1;
			}
		}
	}

	&.cool {
		opacity: 0.85;
		background: $cooldown;
	}

	div.title {
		margin-top: 5px;

		body.desktop.logged_in & {
			padding-left: 19px;
		}
	}

	div.song_content.song_fave_highlight div.title {
		color: $fave;
	}

	div.song_content.album_fave_highlight div.album a {
		color: $fave;
	}

	div.title, div.album, div.artist, div.cooldown_info, div.song_link_container {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-height: $rating_height + 1;
	}

	div.album, div.artist, div.cooldown_info, div.song_link_container {
		padding-left: 15px;
		color: $text_d;

		body.logged_in & {
			padding-left: 30px;
		}

		a {
			color: $text_d;
		}
	}

	div.cooldown_info {
		display: none;
		color: $song_cool_info;
	}

	&.cool div.cooldown_info {
		display: block;
	}

	div.song_link_container {
		display: none;
	}

	a.song_link {
		padding-right: 18px;
		background-repeat: no-repeat;
		background-size: 14px 14px;
		background-image: url("/static/images4/link_external.svg");
		background-position: right;
	}

	div.entry_votes {
		display: none;
		float: right;
		padding-right: 5px;
		margin-left: 10px;
		color: $song_votes;
	}

	body.desktop.simple.normal div.sched_current &, body.full div.sched_current & {
		div.entry_votes {
			display: inline;
		}

		&.now_playing {
			div.song_link_container {
				display: block;
			}
		}
	}

	div.artist {
		span + a {
			margin-left: 5px;
		}

		span:last-child {
			display: none;
		}
	}

	div.vote_button {
		display: none;
		cursor: pointer;
		float: left;
		position: relative;
		border: solid 1px $text_ddd;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		height: $art_size;
		opacity: 0.6;
		width: 1.5em;
		top: 50%;
		@include transform(translateY(-50%) translateX(1px));
		@include transition-wtime(300ms, border-color, color, opacity);

		span.vote_button_rotate {
			position: absolute;
			top: 50%;
			left: 50%;
			padding-bottom: 2px;
			-webkit-transform-origin: top left;
			        transform-origin: top left;
			@include transform(rotate(90deg) translateX(-50%) translateY(-50%));

			html[lang='ko_KO'] & {
				@include transform(translateX(-50%) translateY(-50%));
			}
		}

		div.sched_current & {
			visibility: hidden;
		}

		body.desktop.normal & {
			display: block;
			visibility: hidden;
		}
	}

	div.timeline & {
		background-position: 0% 200%;
		background-repeat: repeat-x;
		border: 1px solid transparent;

		body.desktop.normal &.voting_enabled {
			div.vote_button {
				visibility: visible;
			}
		}

		&.voting_enabled:not(.voting_registered) {
			cursor: pointer;

			body.desktop &:hover, body.mobile &:active {
				background-color: $hover_bkg;
				border-color: $hover_b;
				-webkit-transition: $webkit_song_transitions;
				        transition: $song_transitions;

				div.vote_button {
					opacity: 1;
					background: $votebtn_h;
				}
			}

			div.song_content a {
				@include transition-wtime(250ms, color, background-color, padding);

				body.desktop &:hover, body.mobile &:active {
					background-color: $timeline_link_h_bkg;
					padding: 0 10px;
					color: $link_h;
				}
			}
		}

		&.voting_clicked, &.voting_registered {
			background-image: url(/static/images4/vote_hover_r5.png);
		}

		&.voting_registered {
			background-color: $vote_registered;
			background-position: 0px -35px;

			div.vote_button {
				opacity: 1;
				background: $votebtn_voted;
			}

			&.autovoted {
				background-color: $autovoted;
				cursor: pointer;
			}
		}
	}

	div.request_indicator, div.requester {
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: x-small;
		background: $vote_requester;
		text-align: left;
		text-transform: uppercase;
		@include transition(opacity, LINKCOLOR);

		body.desktop.normal & {
			font-size: 70%;
		}
	}

	div.fave {
		position: absolute;

		body.mobile & {
			display: none;
		}
	}

	body.logged_in.desktop &:hover img.fave_lined {
		opacity: 0.5;
	}

	div.requester {
		z-index: 5;
		padding-left: 1.5em;
	}

	div.request_indicator {
		text-align: right;
		z-index: 4;
		padding-right: 2em;

		@include transform(rotate(-90deg) translateX(-100%));
		-webkit-transform-origin: 0% 0%;
		        transform-origin: 0% 0%;
	}

	div.art_expanded {
		div.request_indicator, div.requester {
			opacity: 0;
		}
	}

	div.your_request {
		background: $song_yours;
	}

	div.rating {
		margin-left: 25px;
	}
}

