$song_transitions: opacity $transtime, transform $transtime, background-position 300ms linear;

div.song {
	position: absolute;
	cursor: default;
	-webkit-transition: $song_transitions, border-color $transtime, background-color $transtime;
	        transition: $song_transitions, border-color $transtime, background-color $transtime;
	height: $art_thumbnail_size;
	width: 100%;

	&.song_lost {
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}
	}

	div.title {
		margin-top: 5px;
	}

	div.title, div.album, div.artist, div.cooldown_info, a.song_link {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		min-height: $rating_height + 1;
	}

	div.album, div.artist, div.cooldown_info, a.song_link {
		padding-left: 15px;
		color: $darktext;

		a {
			color: $darktext;
		}
	}

	a.song_link {
		display: none;
	}

	div.entry_votes {
		display: none;
		float: right;
		padding-right: .5em;
		color: $darktext;
	}

	&.now_playing {
		a.song_link, div.entry_votes {
			display: block;
		}
	}

	div.artist {
		span + a {
			margin-left: 5px;
		}

		span:last-child {
			display: none;
		}
	}

	div.timeline & {
		background-image: url(/static/images4/vote_hover.png);
		background-position: -678px 0px;
		background-repeat: no-repeat;
		border: 1px solid transparent;

		&.voting_enabled {
			cursor: pointer;

			&:hover {
				border-color: $hovercolor-border;
				background-color: $hovercolor;
				-webkit-transition: $song_transitions;
	        	        transition: $song_transitions;
			}

			a {
				@include transition-wtime(250ms, color, background-color, padding);

				&:hover {
					background-color: #264499;
					padding: 0 10px;
					color: $linkhover;
				}
			}
		}
	}

	div.request_indicator, div.requester {
		box-sizing: border-box;
		position: absolute;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: x-small;
		background: $highlight;
		text-align: left;
		text-transform: uppercase;
		@include transition(opacity, LINKCOLOR);
	}

	div.requester {
		z-index: 5;
		padding-left: 1.5em;
		cursor: pointer;

		&:hover {
			color: $linkhover;
		}
	}

	div.request_indicator {
		text-align: right;
		z-index: 4;
		opacity: 1;
		padding-right: 1.5em;

		@include transform(rotate(-90deg) translateX(-100%));
		-webkit-transform-origin: 0% 0%;
		        transform-origin: 0% 0%;
	}

	div.art_expanded {
		div.requester, div.request_indicator {
			opacity: 0;
		}
	}

	div.your_request {
		div.requester, div.request_indicator {
			background: #18a485;
		}
	}
}

