div.timeline.scrollable {
	overflow-y: hidden;
}

div.history_header {
	box-sizing: border-box;
	position: absolute;
	z-index: 2;
	top: 10px;
	width: 100%;
	opacity: 0.5;
	cursor: pointer;
	padding: 0px 10px;
	font-size: smaller;
	text-transform: uppercase;
	@include transition-wtime(300ms, opacity, background-color);

	span.history_header_header {
		margin-right: 5px;
	}

	svg.history_pulldown_arrow {
		display: inline-block;
		position: relative;
		height: 1em;
		width: 1em;
		fill: $text;
		top: 2px;
		@include transform(rotate(180deg));
		@include transition-wtime(350ms, transform);
		-webkit-transform-origin: 0.5em 0.5em;
		        transform-origin: 0.5em 0.5em;
	}

	&.history_expandable svg.history_pulldown_arrow {
		@include transform(rotate(0deg));
	}

	&:hover {
		opacity: 1;
		background-color: $blue / 2.5;
	}

	span.longhist_link {
		float: right;

		body.simple & {
			display: none;
		}
	}
}

div.timeline_event {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	@include transition(transform, opacity);

	&.sched_history_hidden {
		visibility: hidden;
		@include transition(transform, opacity, visibility);
	}

	&:hover {
		z-index: 20 !important;
	}

	div.song {
		padding: 0 10px;
	}

	div.song:hover {
		z-index: 10 !important;
	}

	div.song:nth-child(0) { z-index: 1; }
	div.song:nth-child(1) { z-index: 2; }
	div.song:nth-child(2) { z-index: 3; }
	div.song:nth-child(3) { z-index: 4; }
	div.song:nth-child(4) { z-index: 5; }

	div.timeline_header {
		text-transform: uppercase;
		color: $vdarktext;
		font-size: smaller;
		padding: 0 20px 0 10px;
	}

	&.no_header {
		div.timeline_header {
			display: none;
		}
	}

	&.sched_current div.timeline_header {
		font-size: inherit;
		color: $orange;
	}

	span.timeline_header_clock {
		float: right;
	}

	&.sched_current div.progress {
		opacity: 1;
	}

	&.timeline_message {
		height: 45px;
		background: $hovercolor;
		border: solid 1px $hovercolor-border;

		&.error {
			background: #660000;
			background: -moz-linear-gradient(100% 100% 90deg, #660000, #DD0000);
			background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DD0000), to(#660000));
		}
	}
}

div.progress {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	overflow: hidden;
	height: 2px;
	margin: 0px;
	opacity: 0.6;
	@include transition(transform);

	body.simple & {
		padding: 0 30px 0 25px;
	}

	&.history_bar {
		opacity: 1;
	}

	div.progress_bkg {
		height: 2px;
		background-color: $vvdarktext;
	}

	div.progress_inside {
		background-color: $orange;
		height: 2px;
		padding: 0px;
		width: 0;
		opacity: 1;
		@include transition(opacity);
	}

	div.no_header &, div.no_progress & {
		display: none;
	}
}
