body.simple div.timeline div.timeline_sizer {
	position: relative;
	width: 100%;
	max-width: 1024px;
	margin: auto;
}

body.normal div.timeline {
	div.song {
		height: $simple_art_size + 2;

		div.art_anchor {
			width: $simple_art_size;
			height: $simple_art_size;
		}

		div.art_container {
			width: $simple_art_size;
			height: $simple_art_size;

			&.art_expandable:hover {
				width: $simple_art_hover_size;
				height: $simple_art_hover_size;
			}
		}

		&.now_playing {
			height: $simple_np_size;

			div.art_anchor {
				width: $simple_np_size;
				height: $simple_np_size;
			}

			div.art_container {
				width: $simple_np_size;
				height: $simple_np_size;

				&.art_expandable:hover {
					width: $simple_np_size * 1.20;
					height: $simple_np_size * 1.20;
				}
			}
		}
	}
}

div.timeline {
	div.song {
		height: $art_size + 2;

		div.art_anchor {
			width: $art_size;
			height: $art_size;
		}

		div.art_container {
			width: $art_size;
			height: $art_size;

			&.art_expandable:hover {
				width: $art_size * 1.15;
				height: $art_size * 1.15;
			}
		}

		&.now_playing {
			height: $art_size + 20;

			div.art_anchor {
				width: $art_size + 20;
				height: $art_size + 20;
			}

			div.art_container {
				width: $art_size + 20;
				height: $art_size + 20;

				&.art_expandable:hover {
					width: $art_size + 20 * 1.15;
					height: $art_size + 20 * 1.15;
				}
			}
		}
	}
}
