div.history_header {
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 2;
	opacity: 0.5;
	cursor: pointer;
	padding: 0px;
	font-size: smaller;
	text-transform: uppercase;
	padding: 0px 10px;
	@include transition-wtime(300ms, opacity, background-color);

	svg {
		height: 1em;
		width: 1em;
		margin-left: 0.4em;
		vertical-align: middle;
		position: relative;
		top: -2px;
		fill: $text;
		@include transition-wtime(300ms, transform);
		@include transform(rotate(0deg));
		-webkit-transform-origin: 0.5em 0.5em; 
		        transform-origin: 0.5em 0.5em;
	}

	&:hover {
		opacity: 1;
		background-color: $blue / 2.5;
	}

	&.history_expandable svg {
		@include transform(rotate(90deg));
	}
}

div.timeline_event {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	@include transition(transform, opacity);

	&:hover {
		z-index: 1;
	}

	div.song {
		padding: 0 10px;
	}

	div.song:hover {
		z-index: 10 !important;
	}

	div.song:nth-child(0) { z-index: 1; }
	div.song:nth-child(1) { z-index: 2; }
	div.song:nth-child(2) { z-index: 3; }
	div.song:nth-child(3) { z-index: 4; }
	div.song:nth-child(4) { z-index: 5; }

	div.timeline_header {
		text-transform: uppercase;
		color: $vdarktext;
		font-size: smaller;
		padding: 0 20px 0 10px;

		&.no_header {
			display: none;
		}

		body.mobile & {
			border-bottom: solid 1px $vdarktext;
			margin-bottom: 5px;
		}
	}

	&.sched_current div.timeline_header {
		font-size: inherit;
		color: $orange;

		body.mobile & {
			border-bottom: solid 1px $orange;
		}
	}

	span.timeline_header_clock {
		float: right;
	}
}