div.dj_panel {
	z-index: 101 !important;
	max-width: 100%;

	ul.panel_header {
		margin-bottom: 0;
	}

	body.full & {
		left: 100%;
		width: 450px;
	}

	body.dj_open & {
		@include transform(translateX(-100%));
		opacity: 1;
		visibility: visible;
	}

	body.full.dj_open & {
		@include transform(translateX(-100%) translateX(-90px));
	}

	body.full &.panel div.close {
		display: block;
	}
}

div.dj_controls {
	height: auto;
	padding: 10px;
}

div.quiet_range {
	background-color: $text_ddd;
	left: 0 !important;
}

div.good_range {
	background-color: $song_yours;
}

div.volume_indicator {
	width: 100%;
	background-color: $blue;
	left: 0;
	transform-origin: left;
}

div.chart_bar.peak_indicator {
	width: 100%;
	background-color: transparent;
	left: 0;
	transform-origin: left;
	border-left: solid 3px $text;
}

div.clip_warning_text {
	float: right;
	display: none;
	background: $error_b;
	font-weight: bold;
	font-size: larger;

	&.clipping {
		display: block;
	}
}

div.clip_indicator {
	background-color: $error_bkg;

	&.clipping {
		background-color: $error_b;
	}
}