#history_outer_container {
	position: relative;
	z-index: 5;
	margin-top: 10px;
}

#history_header_container {
	cursor: pointer;
	@include transition-wtime(350ms, color, background-color);
}

#history_outer_container.history_expandable #history_header_container:hover {
	color: $text;
	background-color: $cooldown-color;
}

#history_outer_container svg.pulldown_arrow {
	height: 1em;
	width: 1em;
	vertical-align: middle;
	opacity: 0;
	fill: $vdarktext;
	@include transition-wtime(350ms, opacity, transform, fill);
	@include transform(rotate(0deg));
}

#history_outer_container.history_open svg.pulldown_arrow {
	@include transform(rotate(180deg));
}

#history_outer_container.history_expandable svg.pulldown_arrow {
	opacity: 1;
}

#history_outer_container #history_header_container:hover svg {
	fill: $text;
}

#history_outer_container div.timeline_header a:link, #history_outer_container div.timeline_header a:visited, #history_outer_container div.timeline_header .link {
	color: $vdarktext;
}

#longhist_link {
	opacity: 0;
	float: right;
	@include transition-wtime(350ms, opacity);
	margin-left: 10px;

	body.mobile_screen & {
		display: none;
	}
}

#history_outer_container:hover #longhist_link {
	opacity: 1;
}
