@import "functions";

// COLOR DEFINITIONS *****************************************************************************************

// _d   == dark
// _dd  == very dark
// _h   == hover
// _b   == border
// _bkg == background (if the specificity is necessary - most colors are background colors)

// Primary colors
$bkg:                         #000;
$text:                        #FFF;
$blue:                        #1f95e5;			// primary highlight color
$orange:                      #f7941e;			// secondary highlight color
$donor:                       #FF0;
$fave:                        #f7ff9f;
$link:                        #6cf6ff;
$link_h:                      #a7e1ff;
$hover_bkg:                   #143347;			// used on table rows and song voting
$hover_b:                     #1B4560;

// Darker versions of the primary colors
$text_d:                      darken($text, 14%);
$text_dd:                     darken($text, 54%);
$text_ddd:                    darken($text, 73%);
$blue_d:                      darken($blue, 5%);

// Error colors
$error_b:                     #F00;
$error_bkg:                   darken($error_b, 30%);
$error_bkg_bright:            darken($error_b, 7%);			// used in gradients

// Timeline colors
$vote_registered:             #192D67;
$song_yours:                  #18a485;
$autovoted:                   darken($song_yours, 23%);
$vote_requester:              lighten(saturate($blue, 15%), 10%);
$song_votes:                  $text_d;
$song_cool_info:              mix($blue, $text, 70%);        	// when request panel shows you "On cooldown for X"
$votebtn_h:                   $blue;
$votebtn_voted:               $blue;
$timeline_link_h_bkg:         lighten(saturate($vote_registered, 10%), 19%);			// when vote hover is active but links need to be differentiated

// List colors (albums/artists/etc)
$open_item_bkg:               #1f4f70;				// open album/artist/etc
$open_item_b:                 $orange;
$open_item_fave_bkg:          darken($fave, 65%);
$cooldown:                    #2c2e5c;				// album on cooldown, also used for requests on cooldown
$cooldown_h:                  mix($hover_bkg, $cooldown, 50%);
$cooldown_hb:                 lighten($cooldown_h, 10%);
$fave_h:                      darken($fave, 65%);
$fave_hb:                     desaturate(darken($fave, 45%), 70%);
$album_incomplete:            transparent; //#381e3d;
$album_incomplete_cool:       $cooldown;   //#2a162e;
$new_indicator:               $orange;			// when album is new

// Panels
$panel_bkg:                   lighten($bkg, 15%);
$panel_bkg_d:                 darken($panel_bkg, 2.5%);	 // playlist panel bkg when detail is open at same time
$panel_b:                     lighten($panel_bkg, 19%);
$tab:                         $text_dd;
$tab_b:                       $text_ddd;
$tab_open:                    $text;
$tab_open_b:                  $orange;
$pwrmode_tab:                 $text;
$pwrmode_tab_b:               $text_ddd;
$subpanel_separator:          $text_ddd;		// e.g. below request toolbar
$search_error_b:              darken($error_b, 40%);
$search_on_b:                 darken($blue, 35%);

// Detail Panel
$details:                     $text_d;      	// "Album added on Sep 9th"
$subheader_b:                 $text_dd;			// Border color of song list table headers

// Lists of Songs
$row_bkg:                     transparent;
$row_bkg_alternating:         $panel_bkg / 1.2;
$row_cool_bkg:                $cooldown;
$row_cool_bkg_alternating:    $cooldown / 1.2;

// Art
$art_bkg:                     $bkg;
$art_b:                       lighten($art_bkg, 14%);
$drop_shadow:                 $bkg;

// Requests
$request_indicator:           $text;			// +/- indicator when you modify your queue
$request_indicator_bkg:       $orange;
$requests_paused:             #2A073C;
$requests_warn:               darken($error_bkg, 10%);
$request_delete:              mix($text, $error_b, 25%);
$request_drag_bkg:            $blue * 0.5;

// Rating
$rating_user_text:            $blue;
$rating_site_text:            $text_d;
$rating_confirm_text:         $link_h;
$rating_hover_text:           $blue;
$rating_touch_start_bkg:      darken($blue, 15%);

// Scrollbars (for Firefox and IE)
$scrollbar_b:                 $text_dd;
$scrollbar_h:                 lighten($scrollbar_b, 20%);
$scrollbar_drag_b:            $orange;
$scrollbar_drag_bkg:          darken($scrollbar_drag_b, 20%);

// Settings
$setting_subheader:           $orange;
$setting_yesno_b:             $blue;
$setting_yesno:               #0c5d93;

// Station Select
$stasel_b:                    #0b5c89;
$stasel_bkg:                  #0b5c89;
$stasel_h_bkg:                #0f74b8;

// Charts
$chart_label:                 $text;
$chart_tooltip:               $text;
$chart_tooltip_bkg:           $bkg;
$chart_tooltip_b:             $blue;

// Hotkey Prompt
$hotkey_b:                    $blue * 1.4;
$hotkey_bkg:                  $blue * 1.2;

// Timeline
$history_header_h_bkg:        $blue / 2.5;
$timeline_header:             $orange;
$progress_bkg:                $text_ddd;		// the countdown bar to the next song
$progress_b:                  $orange;

// Menu colors
$menu:                        $text;
$menu_bkg:                    $blue;
$menu_pad_bkg:                $blue_d;			// outside the main 1024px viewport of basic mode
$menu_link_open:              $menu_bkg * 0.8;	// e.g. open playlist, look at playlist link bkg
$submenu_separator:           $blue * 1.2;      // e.g.separator between options in tune in menu

// STYLE MIXINS **********************************************************************************************

@mixin error_colors() {
	color: $text;
	border: 1px solid $error_b;
	background: $error_bkg;
	background: -moz-linear-gradient(100% 100% 90deg, $error_bkg, $error_bkg_bright);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($error_bkg_bright), to($error_bkg));
}

// SIZE DEFINITIONS  *****************************************************************************************

$menu_transfunc: cubic-bezier(0.77, 0, 0.175, 1);
$menu_height: 45px;
$phone_menu_height: 30px;

$art_size: 70px;
$art_hover_size: 100px;
$art_full_size: 320px;
$art_np_size: 100px;
$art_np_hover_size: 120px;
$simple_art_size: 100px;
$simple_art_hover_size: 120px;
$simple_np_size: 140px;

$rating_height: 18px;
$rating_width: 58px;
$site_rating: url("/static/images4/rating_bar5/site_gradient.png");
$user_rating: url("/static/images4/rating_bar5/user_gradient.png");
$incomplete_rating: url("/static/images4/rating_bar5/incomplete_gradient.png");
$fav_rating: url("/static/images4/rating_bar5/user_favourite_gradient.png");
$touch_rating: url("/static/images4/rating_bar5/touch.png");
$hidden_rating: url("/static/images4/rating_bar5/hidden_global.png");
$rating_bkg_size: 60px 728px;

// CORE CONTENT **********************************************************************************************

body {
	height: 100%;
	color: $text;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #1c1d1f;
	font-family: 'Roboto Condensed', 'Helvetica Neue', sans-serif;

	html[lang="ko_KO"] & {
		font-family: 'KoPub Dotum', 'Roboto Condensed', 'Helvetica Neue', sans-serif;
	}

	html[lang="ja_JA"] & {
		font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	}

	&.nofont {
		font-family: sans-serif !important;
	}

	&.loading {
		//visibility: hidden;

		* {
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}
	}

	&.safari {
		-webkit-font-smoothing: antialiased;
	}
}

div.sizeable {
	overflow: hidden;
	position: relative;
	z-index: 0;
	width: 100%;
	margin: 0;
}

div.debug_div {
	z-index: 1000;
	position: absolute;
	left: 100%;
	margin-left: -600px;
	text-align: left;
	background: $text_ddd;
	border: solid 1px $text_dd;
}

div.measure_box {
	top: -300px;
	position: absolute;
	visibility: hidden;
	width: 300px;
}

a, a:visited, .link {
	cursor: pointer;
	text-decoration: none;
	color: $text;
	@include transition(LINKCOLOR);

	&.obvious {
		color: $link !important;

		body.desktop &:hover {
			color: $link_h !important;
		}
	}

	&.no_pointer {
		cursor: default;
	}

	body.desktop &:hover {
		color: $link_h !important;
	}
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.phoneonly {
	display: inline-block;
}

body.simple div.power_only {
	display: none;
}

@media $pc-media {
	.phoneonly {
		display: none !important;
	}
}

@media $phone-media {
	.pconly {
		display: none !important;
	}
}

@import "modals";
@import "errors";
@import "menu";
@import "station_select";
@import "player";
@import "timeline";
@import "playlist";
@import "detail";
@import "requests";
@import "search";
@import "dj";
@import "listener";
@import "album_art";
@import "song";
@import "rating";
@import "fave";
@import "scrollbar";
@import "chart";
@import "settings";
@import "hotkey";
@import "timeline_sizing";
@import "inputrange";
