@import "functions";

$background: #000000;
$text: #FFF;
$darktext: #DDD;
$vdarktext: #777;
$vvdarktext: #444;
$orange: #f7941e;
$blue: #1f95e5;
$blue_dark: #128adb;
$highlight: #35adff;
$link: #6cf6ff;
$linkhover: #a7e1ff;
$donorcolor: #FF0;
$hovercolor: #143347;
$hovercolor-border: #1a435e;
$cooldown_color: #282a54;
$cooldown_albumlist_color: #2c2e5c;
$fave_color: #f7ff9f;

$art_size: 70px;
$art_hover_size: 100px;
$art_full_size: 320px;
$art_np_size: 100px;
$art_np_hover_size: 120px;
$simple_art_size: 100px;
$simple_np_size: 140px;
$rating_height: 15px;
$rating_width: 55px;

body {
	height: 100%;
	color: $text;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #1c1d1f;

	&.loading {
		opacity: 0;

		* {
			@include no-transition();
		}
	}

	@media $pc-media {
		font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;

		i {
			font-weight: 300;
		}
	}
}

@media (min-width: 1050px) and (max-width: 1365px) {
	body.advanced {
		font-size: smaller;
	}
}

div.sizeable {
	overflow: hidden;
	position: relative;
	z-index: 0;
	width: 1024px;
	max-width: 100%;
	margin: auto;

	body.advanced & {
		width: 100%;
		margin: 0;
	}
}

div.debug_div {
	z-index: 1000;
	position: absolute;
	left: 100%;
	margin-left: -600px;
	text-align: left;
	background: $vvdarktext;
	border: solid 1px $vdarktext;
}

div.measure_box {
	top: -300px;
	position: absolute;
	visibility: hidden;
	width: 100%;
}

a, a:visited, .link {
	cursor: pointer;
	text-decoration: none;
	color: $text;
	@include transition(LINKCOLOR);

	&.obvious {
		color: $link !important;

		&:hover {
			color: $linkhover !important;
		}
	}

	&:hover {
		color: $linkhover !important;
	}
}

.clickable {
	cursor: pointer;
	@include transition(LINKCOLOR);

	&:hover {
		color: $linkhover !important;
	}
}

.unselectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.scrollable {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

@import "modals";
@import "messages";
@import "errors";
@import "menu";

@import "timeline";
@import "timeline_simple";

@import "album_art";
@import "song";
@import "rating";